<!doctype html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
      {% include "_meta.njk" %}
    {% endblock meta %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/styles.css" type="text/css"/>
    {% block styles %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    {# <script src="/dist/js/min/jquery-1.11.1.min.js" type="text/javascript"></script> #}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  </head>
  <body class="{% block bodyclass %}bodyclass-{{ page.url }}{% endblock %}" data-env="{{ project.environment }}">
    <a class="skip-to-content-link" href="#main">
      Saltar al contenido
    </a>
    <div class="off-canvas-wrap">
      <button class="open-panel">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve"><path d="M34 6H2C0.9 6 0 5.1 0 4l0-2c0-1.1 0.9-2 2-2l32 0c1.1 0 2 0.9 2 2v2C36 5.1 35.1 6 34 6z"/><path d="M34 16H2c-1.1 0-2-0.9-2-2l0-2c0-1.1 0.9-2 2-2h32c1.1 0 2 0.9 2 2v2C36 15.1 35.1 16 34 16z"/><path d="M34 26H2c-1.1 0-2-0.9-2-2l0-2c0-1.1 0.9-2 2-2h32c1.1 0 2 0.9 2 2v2C36 25.1 35.1 26 34 26z"/><path d="M34 36H2c-1.1 0-2-0.9-2-2l0-2c0-1.1 0.9-2 2-2h32c1.1 0 2 0.9 2 2v2C36 35.1 35.1 36 34 36z"/></svg>
        <span>Menu</span></button>
      <nav class="mobile-nav" aria-hidden="true">
        <div class="top">
          <button class="close-panel">&times;</button>
        </div>
      </nav>
      <div class="off-canvas-content-wrap">
        <div class="l-header" id="top">
          <div class="l-container center-align justfy-full">
            <div class="l-one-third">
              <a href="/" class="main-logo"><img width="100%" src="/dist/img/logo.svg" alt="Feurte como una Madre. Mas Poderosa que las addicciones."></a>

              <a href="/" class="mobile-main-logo"><img width="100%" src="/dist/img/logo.svg" alt="Feurte como una Madre. Mas Poderosa que las addicciones."></a>
            </div>
            <div class="l-two-thirds l-last l-masthead-right">
              <div class="nav-append">
                <a class="lang" href="http://toughasamother.org/" lang="en">English</a>

                <a class="ccs-logo" href="https://coloradocrisisservices.org" target="_blank"  title="opens in a new tab" >
                  <img width="100%" class="desktop-only"  src="/dist/img/ccs_logo.svg" alt="Colorado Crisis Services logotipo y número de teléfono. 844-493-8255 or text talk to 38255">
                  <img width="100%" class="mobile-only"  src="/dist/img/ccs_logo_white.svg" alt="Colorado Crisis Services logotipo y número de teléfono. 844-493-8255 or text talk to 38255">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="sf-wrap">
          <nav class="l-container no-pad pos-rel">
            <div class="sf-menu">
              <a class="btn icon-get-help" href="/obtenga-asistencia-ahora-mismo">Obtenga Asistencia</a>
              <ul id="menu" class="menu">
                {% for item in metadata.nav %}
                  <li>
                    <a href="{{ item.link }}">{{ item.title }}</a>
                    {%- if item.children -%}
                      <ul>
                        {% for citem in item.children %}
                          <li>
                            <a href="{{ citem.link }}">{{ citem.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {%- endif -%}
                  </li>
                {% endfor %}

              </ul>
            </div>
          </nav>
        </div>

        {% block masthead %}
          <div class="l-sub-masthead">
            <div class="l-container">
              <h1>{{ title | safe }}</h1>
            </div>
          </div>
        {% endblock masthead %}

        {% block maincontent %}
          <section class="l-main">
            <div class="l-container">
              {% block content %}
                {{ layoutContent | safe }}
              {% endblock content %}
            </div>
          </section>
        {% endblock maincontent %}

        <footer class="l-footer">
          <div class="l-container">
            <hr role="presentation"/>
            <div class="l-two-thirds">
              <p>
                <strong>Fuerte como una madre es una iniciativa estatal de</strong> Signal Behavioral Health Network, Diversus Health, West Slope Casa y Mental Health Partner.</p>
            </div>
            <div class="l-one-quarter l-last text-right">
              <a href="https://www.colorado.gov/pacific/cdhs/mental-health-children-families" target="_blank"  title="opens in a new tab" ><img width="100%" class="cdhs" src="/dist/img/cbh_logo.svg"></a>
              <p class="legal">©{{ now | year }}. Todos los derechos reservados <br>
                <a style="color:#707272" href="https://bha.colorado.gov/accessibility-at-bha">Declaración de accesibilidad</a>
              </p>

              <p class="legal">&copy;{{ now | year }}. All Rights Reserved. <br>

              </p>
            </div>
          </div>
        </footer>
      </div>
      <!--/.off-canvas-content-wrap -->
    </div>
    <!-- /.off-canvas-wrap - wrapper for everything -->
    {% block scripts %}
      <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          },
          i[r].l = 1 * new Date();
          a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m
            .parentNode
            .insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64654745-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="/dist/js/min/scripts-min.js"></script>

      <script>

        $("a[href*='.pdf'], a[href*='.zip'], a[href*='.jpg'], a[href*='.doc']").on('click', function (e) {
          var thishref = $(this).attr('href');

          const referParam = new URLSearchParams(window.location.search).get('referral');
          if (referParam) {
            ga('send', 'event', {
              eventCategory: referParam,
              eventAction: 'click',
              eventLabel: thishref
            });
            console.log('Download tracked with referral', thishref);
            console.log('This is the referrer link', referParam);

          } else {
            ga('send', 'event', {
              eventCategory: 'All other Downloads',
              eventAction: 'click',
              eventLabel: thishref
            });
            console.log('Download tracked', thishref);
          }

          return true;
        });
      </script>
    {% endblock %}
    <!--
                           KK  Lll.  LLLL
    .KKKKKKKK.            KK .L.  ..L.. .
              ..K       KK  L..   LL
                K.   KK.   L.   .LL.
              KK. KK      ..    LL.   l
            KK.KK.        L.   LL    l
         KK..K..         .LL l.LL  l
       KK.  .K.   eee.   LL.   LL.
     KK.     .K. ee.. .L...    L.
               K eeee..   LLL..L  Lllyyyy.
                                        .Y.
    Developed by                         .Y
    KellyCreativeTech.com                 y
                                         Y.
                                        .y
                                       .y
                                      .Y
                                     y              -->

  </body>
</html>