<svg id="map" class="interactive-map" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 841.5076 609.5076">
  <defs>
    <style>
      g path {
        fill: #6f7273;
        stroke: #888;
        stroke-linejoin: round;
        stroke-width: 2.3076px;
      }

      .cls-15, .cls-17, .cls-2, .cls-27, .cls-30, .cls-31, .cls-34, .cls-35, .cls-5, .cls-8 {isolation: isolate;}
      .cls-15, .cls-17, .cls-2, .cls-30, .cls-31, .cls-35, .cls-38, .cls-57 {font-size: 16px;}
      .cls-15, .cls-17, .cls-2, .cls-27, .cls-30, .cls-31, .cls-34, .cls-35, .cls-38, .cls-48, .cls-57, .cls-58, .cls-63, .cls-8 {fill: #fff;}
      .cls-15, .cls-17, .cls-2, .cls-27, .cls-30, .cls-31, .cls-34, .cls-35, .cls-38, .cls-57, .cls-58, .cls-63, .cls-8 {
        font-family: Montserrat-Bold, Montserrat;
        font-weight: 700;
      }
      .cls-8 {font-size: 12px;}
      .cls-27 {font-size: 10.712px;}
      .cls-34 {font-size: 14px;}
      .cls-58 {font-size: 11.5498px;}
      .cls-63 {font-size: 10.8033px;}
    </style>
  </defs>
      <g id="Mesa">
        <path class="cls-1" d="M12.8539,246.9538l74.6,2.6,113.5,2.7.2.7-.3,2-2.4,2.6-1.4.4-.4.8.1,1.2,1.5,1.5.8-.6h.7l-.1,1,.4.5,1.7.3,1,.8,1.8-.4v1.7l.3.8,1.6.5.2.6-.3.5-1.4.7-.4,1.1-.7.5-1-.5-.9-.1h-.4l-.2.1-.1.2v.8l-.1.4-.1.3-.3.5-.5.6-.3.2-1,.5-1.2.4-.8.2h-.4l-.4.1-.3-.1-.4-.3-.2-.2-.3-.2h-.3l-.2.1-.1.1-.2.3-.3.3-1.4.7-1.1.8-1,.5-.7.5-.1.3.1.5.5.7-.1.1-.2.1-.7-.1-.4.1-.5.2-.3.4-.4.6-.1.6-.1.6-.2.5-.3.3v.4l-.3.1-.4-.1-.8-.4-.4-.2-.6-.1-1.2.3-.4.1-.4.4-.4.7-.1.5-.1.3-.3.2-1.2.5-.9.4-1.7,1-1.1.8-.9.8-.8.8-.6.7-.4.7-.3.5-.1.4-.1.4-.3.3-.2.2-.6.3-.6.3-.4.5-.1.5.2.6-.1.5-.2.3-.3.2-.6.2-.6-.1h-.7l-.6.2-.6.3-.5.3-.2.5-.2.2-1.2,1.1-1.5.9-2.4,1.8-1,.7-.2.1-.3-.1-.6-1-.4-.5-.7-.6-.6-.4-1-.4-1.1-.4-1.7-.8-2.1-1-.6-.3-.4-.1-.7.1-2.2,1.1-1.8.6-1.1.5-1.4.1h-2.6l-2.8.5-.4.1-1.9-.2h-.4l-.3.1-.3.2-.6.8-.6.5-1.9,1.4-1,.7-1.5,1.1-.3.4-.4.9-.3.3-.6.5-.3.1-.1-.1-.2-.2-.2-.1h-.2l-.2.2-.5.7-1,.9-.1.5-.4.3-1.2,1-.7.8-.4.2-.3.1-.1.3.1.4.5,1.2.1.3v.2l-.4.6-1,1.5-.3.3-.4.8-.3.5-.8.8-1,1.3-.4.2-.4.1-.5-.1-.4-.1h-.3l.4.5-.2.3-.1.4v.5l.4.7.1.4-.1.1-.5-.1-.3.1-.2.4-.4.1-1.5.1-1,.5-.4.5-5.9,2.3-2.2.7-15.7,6.3-.7,23.7-.2,8.4-.7,16.7-33.4-1-46.6-1.6.2-5.5.1-1.6.1-2.2.3-6.5v-.7l.4-9.4,1.9-38.2.1-1.9v-.6l.1-1.4.1-.9v-1.2l.2-4.7.1-1.9.1-2.2.4-10.9.1-2.1.4-9.9v-1l.1-2.2.4-10.9.1-2.2.4-10.9v-.5Z"/>
        <text class="cls-2" transform="translate(33.3209 295.3798)">Mesa</text>
      </g>
      <g id="La_Plata" data-name="La Plata">
        <path id="La_Plata-2" data-name="La Plata" class="cls-1" d="M189.9539,510.4538l-.1,20.3-.1,7.6v4.1l-.7,42.6-.2,12.7-.2,8.1-5.4-.1-19.5-.3h-2.1l-18.6-.4h-2.1l-8.4-.2h-2.1l-4.3-.1-4.4-.1-6.4-.2-4.3-.1-3.9-.1-11-.3-15.5-.5.1-.9.1-.4.3-.6.4-.6.4-.6.6-.7.4-.3.3-.1.5-.3.3-.2.1-.4.3-1,.2-.3.2-.2,1-.8.4-.5.3-.5.1-.6v-.9l.2-.6.6-1.2.3-.6.1-.6.2-.9.1-.7.1-.3.2-.3.7-.6.3-2.9.2-.8.3-.5.9-1,.5-.6.2-.8.1-.6-.1-1.1-.1-.5-.3-.7-.1-.4v-.6l-.1-.7v-.9l.1-.8.2-.7.4-1,.1-.9.2-.9.1-.5.2-.4.4-.3.6-.4.5-.2,1-.3.4-.2.1-.1.8-.7.3-.3.6-.8.4-.6.4-1,.4-.6.3-.3.1-.3.1-.5.2-.6.8-.9.6-.7.4-.5.4-.3.1-.4.3-.7.2-.3.3-.4v-.5l-.2-.3-.1-.3.1-.3.4-.9.1-.5-.1-.5v-.2l-.8-.8v-.4l1.2-1.3.4-.7.1-.5.3-.7.4-.3.6-.4.7-.3.6-.1,1.1-.1,1.7.1h.7l.4-.1.4-.3,1.5-1.1.4-.2.5-.1.6.1.7-.2.4-.2.3-.3.1-.1.4-.2.1-.2.1-.6v-1.2l.1-.6.2-.9.2-.5.3-.5.2-.3.7-.7.5-.5,1-.9.1-.1.1-1,.1-.3.2-.1.8-.1,1-.1,1-.2.8-.4.5-.5.4-.8.4-.9.1-.5.1-.3v-1.2l.2-1.3-.1-.3-.1-.4-.1-2.1.2-1.5v-1.4l-.1-1.9.1-.4.4-.3.6-.7.4-.6.3-.7.1-.5-.1-.9v-1.4l.1-.4.1-.3v-.3l-.2-1.2v-1.1l.1-.4,1-1.7.3-.3,1.6-.9.4-.3.8-1.2.1-.1,1.2-.7.3-.2.4-.6.2-.8,33.5.8h.2l1.8.1,22.4.5Z"/>
        <text class="cls-2" transform="translate(102.9508 582.0468)"><tspan class="cls-3">L</tspan><tspan x="9.7598" y="0">a Plata</tspan></text>
      </g>
      <g id="Conejos">
        <path id="Conejos-2" data-name="Conejos" class="cls-1" d="M285.5539,547.9538h22.5l3.4-.1h11.4l1-.1h37.8v6.6l13.1.1h20.2l.1.3.4.3.3.2.4-.1-.5.8-.1.3.5,2.4.4.5.6.5.1.3-.3.5.1.2.3.3v.9l.1.3.2.1.6-.1.2.1.8,1.8.1.3-.6.5-.1.3.2.7.1.5v.3l-1.3,1.2-.2.2.1.9-.2.7-.1.4.1.4-.4.6v.9l-.1.7-.5.6.1.7.1,1.4.2.2.4.5.2,2.2v.5l.7,1,.2.9-.1.3-.7.9-.1.7.1.8.4.6-.1.5-.9,1.5-.4.5-.3.7-.3.9-.1,1.2.2.7.2,1,.6,1.3.1.3-.7,1.3-1,2.1-.9,1.3-.4.6-.1.5v.4l.3.5.1.7-.2.5-.3.3-.1.3.3,1,.5,1.3.1.2.1.2.2.1.8-.3.1.1.2.8.6,1,.3.3,1.9-.2.3.1.1.3-.3.5.1.3,1,1.3h-35.6l-6.8.1h-50.4l-1.9-5.6-9.2-17.6-.3-.5-.7-6.4-3.8-2-2.3-1.3-.3-.1-3.3-1.8v-3.7l.1-6.4v-3.2l.1-7.8v-2.7l.2-1.1Z"/>
        <text class="cls-2" transform="translate(307.6168 587.8058)"><tspan class="cls-4">C</tspan><tspan x="11.4238" y="0">o</tspan><tspan class="cls-3" x="21.9038" y="0">n</tspan><tspan x="33.0557" y="0">ejos</tspan></text>
      </g>
      <g id="Rio_Grande" data-name="Rio Grande">
        <path id="Rio_Grande-2" data-name="Rio Grande" class="cls-1" d="M361.6539,495.8538l-.1,13.1v38.8h-37.8l-1,.1h-11.4l-3.4.1h-22.5l-3.9.1v-13.5l-.1-13.3-.1-13.3h2.5v-13.3l-.2-12.3,13-.1.1,12.9v.3h12.6l13.5.1h25.6l13.2.3Z"/>
        <g class="cls-5">
          <text class="cls-2" transform="translate(306.2008 518.9898)">Rio </text>
          <text class="cls-2" transform="translate(292.2008 538.1899)">G<tspan class="cls-6" x="12.3359" y="0">r</tspan><tspan class="cls-7" x="19.1201" y="0">a</tspan><tspan class="cls-3" x="28.9922" y="0">n</tspan><tspan class="cls-7" x="40.1436" y="0">de</tspan></text>
        </g>
      </g>
      <g id="Alamosa">
        <path id="Alamosa-2" data-name="Alamosa" class="cls-1" d="M430.5539,495.3538l.5.7.3.5.1.9-.1,1.1-.6,1.3-.4.5-1.3,1.4-.6.9-.5,1.2.1.5.3.7.1.8-.1.8-.1.5-.2,1.2v.1l-.4.9-1.1,3.2-.1,1v.9l-.1.6-.6.4-.2.3.1.3.8,1.1-.1.6-.4.3v1.1l1,2.2-.3.2-1.7,2-4.6,5.3-.6.7-.4.4-1.1,1.2-4.4,4.7-.6.7-7.1,7.5-4,4.1-5.5,5.7-.4.5h-22l-13.1-.1v-45.4l.1-13.1,13.3.1,13.3-.1,12.7-.1h8.4l2.3-.1,11.7-.2h.4l1.9-.1,5.3.1Z"/>
        <text class="cls-8" transform="translate(368.0409 524.8038)">Ala<tspan class="cls-9" x="20.2075" y="0">m</tspan><tspan x="32.8677" y="0">osa</tspan></text>
      </g>
      <g id="Saguache">
        <path id="Saguache-2" data-name="Saguache" class="cls-1" d="M337.7539,395.1538l16.9.1h1.7l.8-.1.6-.3.7-.8.6-.8.6-1,.1-.5.1-.5v-.3l.1-.3.3-.2.9-.2.4-.1.4.1,1,.4.6.3.7.1.9.2.5,1.5.3.9.5.7.3.5.4.5.4.2,1,.3.4.1,1.3,1,1.1.9.4.6.3.6.4.5.4.4.3.7.1.8.4.7.3.5.6.3,1.3.5.3.1.4.2.3.6.8,1,.4.3.4.2.4.4,1.4,2.3.5,1.4.7.9.5.9,1.2,1.2,1.2,1.5.3.2,1.1.1.3.3.6.8.5.8.3.3.6.4,1.2.3,1.3.5.3.4.1.5.3.7.4,1.2.1.7.1.2.8.5,1.4.8.9.7.3.3.4.6.1.7.2.3.6.3.8.4.5.4,1.3,1.6,1.3,1.7,1.2,1.2.1.5.3.3.6.8.3.2,1.1.2.3.1.7.8.6.3.3.2.1.2-.4.7-.2.9.1.4.3.8.6,1.1.4.6.6.7.1.3-.3.6v.5l.1,1.1.1.6.7,1.1.8,1,.4.6.3.3.4.6.5.7.4.6.4.8.1.6.3.3.5.2.1.2.1.1.3,1.1.7,1.4.3.3.7,1.2.5,1-.1.5-.3.5-.1.4.1.5.1.7v.9l.1.3,1.3,1.4.3.7v.9l.1,1,.2.3,1.5,1,.6.5.6.7.4.1.4-.2.4-.3.4-.1h.8l.6.3,1.1.9,1.2.9.6.8.4.6.5.9.3.6,1,.7.8,1.2.3.5.5.4.5.9-.4.6-.1.7.1.6.8.3,1.6.4.7.3.9.7.7,1.4.4.8.4,1.1.1.8-.3,1.3-.3,1.4-.1.4.1,1.6.1.7-.1.5-.3.3-1.1.4-.4.4-.3.8-.1.6.3.8.1.6v.7l-.6,1.3-.6,1.9-5,.1-1.9.1h-.4l-11.7.2-2.3.1h-8.4l-12.7.1-13.3.1-13.3-.1-13.1-.1h-26.1l-13.5-.1h-12.6v-.3l-.1-12.9-13,.1.1-5.7-.3-.1-2.2-.4-.6-.4-1.3-1.2-.4-.1-.6.1-1,.4-.6.1-1.1-.5-1-.8-1-1.1-.6-.9-.8-.6-.7-.3-.7-.1-.5-.1-.4-.1-.8-.4-.6-.3-.6.1-1.2.1-.6-.1-.8-.7-.8-.9-.7-1.1-.6-1-.7-.5-.4-.2-.1-.3.1-1-.1-.5-.6-.2-.7-.6-.5-.2h-1l-2,.1-1,.3-.9.8-.3.3-.4.2-.4-.3-1.5-1.6-.8-.6-.6-.2-.6.1-.7.4-.9.8-1.6.8.2-7.6.1-3.4.1-8,.2-9.6.1-8.5.1-2.2.2-11.8v-4.3l.2-13.5h88.9Z"/>
        <text class="cls-2" transform="translate(296.4498 453.4447)">S<tspan class="cls-3" x="10.208" y="0">a</tspan><tspan class="cls-10" x="20.1758" y="0">gu</tspan><tspan class="cls-3" x="42.3672" y="0">a</tspan><tspan class="cls-11" x="52.335" y="0">c</tspan><tspan class="cls-12" x="61.7271" y="0">h</tspan><tspan x="72.8789" y="0">e</tspan></text>
      </g>
      <g id="Gunnison">
        <path id="Gunnison-2" data-name="Gunnison" class="cls-1" d="M204.8539,268.7538l.5.9,1.3.5.8,1.3-.6.3-.4.8.3,1.7-.5,1.4.4,1.8,1.8,1.9.5,1.1.3.9,1.1.7,1.2.4,1.6.1,1.3,1.2,1.4.5.2,1.4.8,1.2.4,2.7,3.9.1h3.6l3.6.1h3.8l3.7.1,3.5.1h3.1l.7,1.1.8.2,1.4,1.8.1.2.4.4,2,.8.9,1.1,1.7,1.9,1-.2.2.6v.6l-.5.4.1,1.2-.8.4-.6,1,.7,1.3.9.5,2.7.2-.1,1.8,2.3.5,1.2,1.3,2,1,.9-.1.2,1.1h.9l.9.5,1-.1.7-.6.1-1.8,1.9-.4.5,1.6,1.2,2,2.1,1.3,2.4-.2.8-.1.4-.6h1l.5-.5.2-1.8.9-1,.7-.4,2.1-2.6.8-.2-.5-2.2,1-.6,2,.2,1.4-.4.3-.9.6-.3,1.1.1,1,1.5,1.2-.1,1.1.6,1.1-.4,1,1.7-.4,1.1.2.7,1.2.4.1.8,2.7,2.2.2.7,1.6-.4.5,1.1,1.8-.1.3.2,1-.6.7-.3.4-.3h.6l.3,1.1,1.1.6.9.9.4.6.5.7.4,1-.6,1,.1.8.8.4.6.8,1.1.5v1.1l1.4,1,.5.8,1,1.1,1.4.9.8.3,1.2-.3,1.3-.5.5.1.6-1.4,1.1-.5.4.1.2,1.3.5.5.7.1.4.6,1-.2.1-1,1.4-1,.5.4.1,1.7.1.8.8-.1.7-.8.7-.1,1.3.9.9-.3.6-.4.7.1.1.2.2,1.6.3.7-.6.8v.8l-1.1.7-.1.7v.4l-1.1.5-.5.7.1,1.3-.5-.1-1.4.4.1,1.3-.5.4-.1.5-.9.4-.6.7v1l-.9.3h-.6l-.4-.5-.8-.5-1.1.8.1,1.4-.4.3-.1,1v.5l.6,1.1.1.7-.4.4.2,2-.3.7-.2.6.5,1.1-.1.3-.5.8.2,1.5-.3.4.4,1.5-.1.5-.7.7-.2,1.6-.8.2-1.5.2-.7.8-.4.6.6,1,.1.1.1.1.4.6.6.6.2.3.2,1.2.2.6.2.4.1,1.3-.1.8.4.2.2.3.5.5.3.1,1-.4h.3l.4.1.3.4-.1.3v.4h.5l.9-.1.6.3h.6l-.5.7-.3.2v.9l.6.9.5-.1.8.4.6.7v.5l.1.2v.6l.1.5.2.5.1.3.1.6.2.5.2.4.6,1.2.1.5.3.5.3.4.1.3.1.4-.1.5-.3.5-.2.7-.3.7-.3.5-.1.6v1l.4,1,.6.4.3.4.1.6-.1.7-.3.6-.1.4.2.5.6.7.6.3.1.3.2.3.1.1.6-.3.4-.1.4.1.5.1.3.3.4.7.4,1.3.3.3.3.3.6.2.4.3.1.3.2,1,.1.7.4.5.2.1h.8l.4-.1.1.8v.6l.5.4.1.2.5.3h1.2l.4.1.2.1.2.1.1.1.1.3-.1.4v.4l-.1.5.1.8-30.5-.1h-58l-.2,13.5v4.3l-.2,11.8-.1,2.2-.1,8.5h-5.7l-6.9-.1-18.6-.2h-4.3l-26-.4h-5.6l.4-.8.2-.7.1-.7-.1-.6-.4-.5-.1-.3-.1-1.5-.2-1.1-.4-1.6-.2-1-.2-1.5v-1.8l-.1-.5-.6-1.3-.2-.6-.2-.9-.1-.6-.3-.3-1.2-.5-.6-.4-.3-.3-.1-.4-.8-1.7-1-2.2-.8-1.8,13.2.2,2.5.1.1-3.6.1-6.1.2-5.6v-.9l.1-2.2v-2.4l.1-.6v-1.3l.1-2.8.2-9.6.1-5.7.2-6.5v-2l-.1-5.3.1-4.3.2-12.9v-.3l.2-8.4.1-4.5v-2.2l.2-6.2v-.3l.1-4.2.3-12.1.2-15.5.3-12.1,1.4-.7.3-.3.2-.3.1-.1.2-.1h.3l.3.2.2.2.4.3.3.1.4-.1h.4l.8-.2,1.2-.4,1-.5.3-.2.5-.6.3-.5.1-.3.1-.4v-.8l.1-.2.2-.1h.4l.9.1,1.4.2.4-1.4Z"/>
        <text class="cls-2" transform="translate(215.4149 359.7789)">Gunnison</text>
      </g>
      <g id="Fremont">
        <path id="Fremont-2" data-name="Fremont" class="cls-1" d="M370.7539,355.0538l2.3-.1h2.1l9-.1h2l2.1-.1,4.3-.1,4.6-.1h2.1l2.4-.1,4.3-.1,1.9-.1h.3l1.9-.1h2.5l1.7-.1h2.9l2.2-.1h1.5l4.4-.1h.4l3.7-.1h9.2l4.1-.1,2.1-.1h2.4l4.1-.1h.3l4.1.1.1,2.9.1,4.6h6.3l2.2-.1,9-.1h1.5l.7-.2,2.2-.5,6.1.2,2.1.1,4.4.1.1,4.2v2.2l.1,6.2v2.2l.1,4.5.1,2.6h.4l.2,10.5v12.7l.2,12.9-12.9.2h-25.7l-8.8-.2-3.6-.1h-1.4l-11.3-.2-.6-.1-12.2-.2-7.5-.1-3.2-.1-13.7.2-.3-.4-1.3-.5-1.2-.3-.6-.4-.3-.3-.5-.8-.6-.8-.3-.3-1.1-.1-.3-.2-1.2-1.5-1.2-1.2-.5-.9-.7-.9-.5-1.4-1.4-2.3-.4-.4-.4-.2-.4-.3-.8-1-.3-.6-.4-.2-.3-.1-1.3-.5-.6-.3-.3-.5-.4-.7-.1-.8-.3-.7-.4-.4-.4-.5-.3-.6-.4-.6-1.1-.9-1.3-1-.4-.1-1-.3-.4-.2-.4-.5-.3-.5-.5-.7-.3-.9-.5-1.5.6-.3,1.4-1.3,2.6-2.4,1.8-1.8.3-.3,1.1-.8.6-.9.4-.1,3-.4.3-.1v-.3l-.3-1v-.8l.3-.8.1-.4v-2.2l.3-.7.8-.3.4-.6.3-1.1.4-.5.4-.3.1-.3-.2-.4-.6-.7-.2-.6v-.7l.4-.7,1.1-1.3.4-.5v-.6l-.3-.9-.3-.8-.2-.6-.8-.7-1-.4-.8-.3-.4-.5-.3-3.3-.2-.4-.5-.8-.6-1-.3-1-1.2-1.2-.4-.3-1.3-.5-.9-.4-.5.7Z"/>
        <text class="cls-2" transform="translate(401.3438 395.6448)"><tspan class="cls-13">F</tspan><tspan class="cls-14" x="10.064" y="0">r</tspan><tspan class="cls-10" x="16.8164" y="0">e</tspan><tspan class="cls-3" x="26.9121" y="0">m</tspan><tspan x="43.792" y="0">ont</tspan></text>
      </g>
      <g id="Las_Animas" data-name="Las Animas">
        <path id="Las_Animas-2" data-name="Las Animas" class="cls-1" d="M561.6539,484.7538l34.8,11.9.3,13.1,11.1-.3,8.7-.2,9.7-.2,24.9-.5h2.8l8.1-.2,12.5-.2,13.3-.4,12.9-.3,12.6-.3.4,12.9,1.2,26.1-1,.1.1,3.4.2,9.8.2,13,.2,12.9.3,18-110.3,2.9-21.4.5-17.5.7-84.1.9-4-.3h-9.2l-1.6-37.8-.3-6,1.5-.9,1-.2h1.5l.6.2h.8l.8-.7,1.3-.8.3-.8.4-.4.6-.4,1.2-.5,1.4-1,1.7-.9,1.1-.6.8-.4,1-.2.2-.3-.1-.6.3-.8.2-.5.6-.3.8-.6.9-.6.5-.7.5-.8.6-.1,1,.1.9-.3,1.1-.7.9-.9,1.3-.1h.8l1-.9.5-.2.9.3.6-.1.6.5,1,.4.9.1h1l1.8-.6,1.7-.5,1.2-.3.9-.5.8.4,1-.2,1.8-.7.5-.1.9.3h.7l.8-.1,1.6-.5,1.7-.2.6-.1.6-.5.1-.8,1-1.3,1.6-.9.6-.4,1.1-.7,1-.4.6-.3.3-.2-.3-1.3-.1-.7.1-1.2.2-1,.5-.9.3-1.9.3-.4.4-.2,3.4-.1.4-.1,1-1,.8-.9.6-1.3.5-1.6,2-1.7,2-1.6,4-3.4.2-.3-.2-4.8.1-.3,4.7-8.2,4.9-8.5,2.1-3.6-.1-.8.6-.5,2.6-2.2,7.4-6.1.8-1.6Z"/>
        <text class="cls-2" transform="translate(557.0738 568.5788)"><tspan class="cls-3">L</tspan><tspan x="9.7598" y="0">as Animas</tspan></text>
      </g>
      <g id="Otero">
        <path id="Otero-2" data-name="Otero" class="cls-1" d="M660.9538,415.5538l12.2-.3.4,13.9.4,13.1v13.5l.2,13,.2,12.9h-.5l.4,13.6.4,13.1-12.5.2-8.1.2h-2.8l-24.9.5-9.7.2-8.7.2-11.1.3-.3-13.1-.1-2.2-.1-11.1-.2-13-.2-12.8-.2-13.6-.2-9.5,1,.5,1.5.6,1-.1,1.4-.1,1-.5,1.5-.1h.6l.6.2.6.4,1,.2.3.5.1.5.3.2h1l.9.1.6.1,1.3.6h.6l.6-.4.5-.4.5.2.5.5h.5v-.4l-.1-.5.2-.3h.6l.7.2.3.5.1.5.4.3,1.5-.1.7-.2.9-.5.5.1,1,.5,1.4.3.9,1.3.6.1,2.6-.5.6.3,1.1.1,7.7-.2,13-.4-.2-8.7,12.9-.4-.3-13.8h.4v-.3Z"/>
        <text class="cls-15" transform="translate(611.5528 475.1788)">O<tspan class="cls-16" x="13.584" y="0">t</tspan><tspan class="cls-7" x="20.2715" y="0">e</tspan><tspan class="cls-14" x="30.3677" y="0">r</tspan><tspan class="cls-10" x="37.1201" y="0">o</tspan></text>
      </g>
      <g id="Pueblo">
        <path id="Pueblo-2" data-name="Pueblo" class="cls-1" d="M490.6539,380.5538l13.3-.2,11-.1,2.2-.1,12.9-.2,12.9-.2,14.2-.3,10.8-.2.5-.1h.4l13.3-.4,12.8-.4.1,13.1.2,12.6.2,13.2h-.4l.2,13.7.1,3.3.2,9.5.2,13.6.2,12.8.2,13,.1,11.1.1,2.2-34.8-11.9-4.4-1.4-13-4.4-13-4.4-5.4-1.8-7.7.6-26,2-2,.2-2.3.2-3.3.3h-.3l-.6.1-.4-.1-1-.9-1.2-.9.2-.7-.1-.5-.6-.8-1.5-.9-.2-12.7-.2-13.3-.1-13.1-.1-4.3-.1-8.4,12.9-.2-.2-12.9v-12.7l-.2-10.5h-.4l.3-2.5Z"/>
        <text class="cls-2" transform="translate(509.1568 432.9449)">Pueblo</text>
      </g>
      <g id="Costilla">
        <path id="Costilla-2" data-name="Costilla" class="cls-1" d="M427.1539,521.5538l1.1-.4,1.5-.5,1-.7.8-1,.6-.9.4-1.2.4-.4,1.5-.7,1.5-.3h.7l1.1.3h.4l.4-.2.3-.4.4-.9.8-.9.6-.9.3-.1h1.9l.9-.4,1.2-.3,1.2-.3,1.6-.9,1.9-1.2.2.1,1,1.1,1.7,1,.6.2,1,.1.6.4.5.8.1.3,1.2,1,.8.5.5.1.9-.4.8-.1.8.2,1.2.4h.9l.3.2-.1.4-.7.9-.1.5.4,1,.1.5-.1.2-.4-.1-.3-.2-.4.1-.6,1.1-.9.7v.4l.1.3.7.3,1,.5.5.6.8,1.2,1,1.7.2,1.7.4,1.2.3,1,.1,2-.1,2.4-.1.4v.8l-.8.8v.5l.7.7.1.6.6.7-.1.3-.5.7.1.3.3.3.7.1.9-.2h.4l.4.5.3.7.6,2.5.5,1.6.8.8.2.4-.1.4-.6.9-1,.3-1.2.8-.5.5-.6,1-.1,1,.1.9.1.9-.2.9.1,1.2.1.6.1.7-.3,1,.3,1.8-.1.9.1,1.3.3.8v.6l-.2.7v.8l.1.3.4-.1.4-.2.3,6,1.6,37.8h-69l-1-1.3-.1-.3.3-.5-.1-.3-.3-.1-1.9.2-.3-.3-.6-1-.2-.8-.1-.1-.8.3-.2-.1-.1-.2-.1-.2-.5-1.3-.3-1,.1-.3.3-.3.2-.5-.1-.7-.3-.5v-.4l.1-.5.4-.6.9-1.3,1-2.1.7-1.3-.1-.3-.6-1.3-.2-1,.1-.4.1-1.2.3-.9.3-.7.4-.5.9-1.5.1-.5-.4-.6-.1-.8.1-.7.7-.9.1-.3-.2-.9-.7-1v-.5l-.2-2.2-.4-.5-.2-.2-.1-1.4-.1-.7.5-.6.1-.7v-.9l.4-.6-.1-.4.1-.4.2-.7-.1-.9.2-.2,1.3-1.2v-.3l-.1-.5-.2-.7.1-.3.6-.5-.1-.3-.8-1.8-.2-.1-.6.1-.2-.1-.1-.3v-.9l-.3-.3-.1-.2.3-.5-.1-.3-.6-.5-.4-.5-.5-2.4.1-.3.5-.8-.4.1-.3-.2-.4-.3-.1-.3h1.8l.4-.5,5.5-5.7,4-4.1,7.1-7.5.6-.7,4.4-4.7,1.1-1.2.4-.4.6-.7,4.6-5.3,1.7-2-.4-.2Z"/>
        <text class="cls-2" transform="translate(401.6378 581.1788)"><tspan class="cls-4">C</tspan><tspan x="11.4238" y="0">ostilla</tspan></text>
      </g>
      <g id="Prowers">
        <path id="Prowers-2" data-name="Prowers" class="cls-1" d="M750.3539,412.9538l14.8-.6,12.7-.5,13.1-.5,13-.5,13-.5,15.4-.7v.7l3.2,78.3.6,14.3-5.5.2-13.1.5-12.8.4-13.2.5-13,.5-12.9.4-12.8.5-1.2-26.8h.9l-.4-12.9-.4-13.3-.5-13.1-.9-26.9Z"/>
        <text class="cls-17" transform="translate(759.75 467.7538)">P<tspan class="cls-14" x="11.5518" y="0">r</tspan><tspan class="cls-18" x="18.3042" y="0">ow</tspan><tspan class="cls-7" x="43.2959" y="0">e</tspan><tspan class="cls-19" x="53.3921" y="0">r</tspan><tspan class="cls-7" x="60.2559" y="0">s</tspan></text>
      </g>
      <g id="El_Paso" data-name="El Paso">
        <path id="El_Paso-2" data-name="El Paso" class="cls-1" d="M479.5539,288.9538l11-.1h2.3l10.2-.1,19.3-.2,6.6-.1h25.8l13-.1,12.5-.2h13.3v12.8l.2,13.1.2,12.9.4,13,.4,13,.3,5.1v20.2l-12.8.4-13.3.4h-.4l-.5.1-10.8.2-14.2.3-12.9.2-12.9.2-2.2.1-11,.1-13.3.2-.1-4.5v-2.2l-.1-6.2v-2.2l-.1-4.2v-2.7l-.1-4.3h.3v-13l-.1-2.1-15,.2-.1-10.8h2l2.4-.1.2-26.1-.5-13.3Z"/>
        <text class="cls-2" transform="translate(505.9928 340.2948)">El <tspan class="cls-20" x="20.0796" y="0">P</tspan><tspan x="31.5518" y="0">aso</tspan></text>
      </g>
      <g id="Lincoln">
        <path id="Lincoln-2" data-name="Lincoln" class="cls-1" d="M631.6539,221.8538h.7l12.3-.2h.6l12.4-.3h.9l12.2-.4,1-.1,11.9-.4h1.2l11.5-.3.3,13.5.4,13,.3,13,.4,12.9.5,13.3-1,.1.3,13.2.2,13.2.3,12.9.3,12.9.3,12.7-.8.1.1,1.1-.3.6.5,10.2.4,13.1-12.8.5-12.8.1-13.9.4v1.1l-12.1.1v-.8l-13,.3-12.9.2-12.7.2-13.2.3v-20.2l-.3-5.1-.4-13-.4-13,13.2-.2,12.9-.3,13.2-.1-.4-12.7-.5-13.4-.2-13h.8l-.2-13-.3-13.1-.2-13-.2-13.2-.5-13.2Z"/>
        <text class="cls-2" transform="translate(617.7039 352.1788)">Li<tspan class="cls-12" x="14.4795" y="0">n</tspan><tspan class="cls-21" x="25.6318" y="0">c</tspan><tspan x="34.9756" y="0">oln</tspan></text>
      </g>
      <g id="Cheyenne">
        <path id="Cheyenne-2" data-name="Cheyenne" class="cls-1" d="M697.6539,299.0538l13.1-.6,13.2-.4,12.7-.4,12.4-.4,12.8-.5,6.2-.3,6.6-.5,12.9-.8,13.1-.7,13-.5,13.3-.5.6-.1,2.2,52.3.5,12.2-2.8.1h-.4l-12.3.5-13,.5-13,.5-4.9.3-7.9.2-13,.4-12.8.4-12.9.4-13,.3-13,.5-5.6.2-7.5.5-.5-10.2.3-.6-.1-1.1.8-.1-.3-12.7-.3-12.9-.3-12.9-.1-13.1Z"/>
        <text class="cls-2" transform="translate(722.9149 331.2288)">C<tspan class="cls-22" x="11.7275" y="0">h</tspan><tspan class="cls-23" x="22.8799" y="0">e</tspan><tspan class="cls-20" x="32.8154" y="0">y</tspan><tspan class="cls-10" x="42.1436" y="0">en</tspan><tspan class="cls-12" x="63.2954" y="0">n</tspan><tspan x="74.4473" y="0">e</tspan></text>
      </g>
      <g id="Kit_Carson" data-name="Kit Carson">
        <path id="Kit_Carson-2" data-name="Kit Carson" class="cls-1" d="M824.1539,215.2538l2.8,65,.6,13.2-.6.1-13.3.5-13,.5-13.1.7-12.9.8-6.6.5-6.2.3-12.8.5-12.4.4-12.7.4-13.2.4-13.1.6-.3-13.2,1-.1-.5-13.3-.4-12.9-.3-13-.4-13-.3-13.5,13.3-.5,12.9-.6,1.5-.1,11.8-.5,1.4-.1,11.7-.3,1.6-.1,11.2-.1,2.1-.4,4.5-.4,7.5-.2,1.1-.1,4.6-.1,7.5-.4,1.3-.1,11.7-.5,1.2-.1,11.6-.7,1.3-.1,8.1-.4Z"/>
        <text class="cls-2" transform="translate(720.9847 269.2288)"><tspan class="cls-23">K</tspan><tspan class="cls-7" x="11.6797" y="0">it </tspan><tspan class="cls-24" x="27.9834" y="0">C</tspan><tspan x="39.6475" y="0">a</tspan><tspan class="cls-19" x="49.5195" y="0">r</tspan><tspan x="56.3833" y="0">son</tspan></text>
      </g>
      <g id="Elbert">
        <path id="Elbert-2" data-name="Elbert" class="cls-1" d="M521.7539,223.4538l6.6-.1h7.9l5.2.2h.4l1.7.1,10.4-.1.9-.1,12.4-.3h.6l12.1-.3.7-.1,12.4-.3h.5l13-.2h.1l12.8-.3.7-.1,11.6-.3.2,13.3.2,13.2.2,13,.3,13.1.2,13h-.8l.2,13,.5,13.4.4,12.7-13.2.1-12.9.3-13.2.2-.2-12.9-.2-13.1v-12.8h-13.3l-12.5.2-13,.1h-25.8l-6.6.1-.1-12.8-.2-12.9v-12.9l-.1-13-.1-13.4Z"/>
        <text class="cls-2" transform="translate(555.7779 261.3118)">Elbe<tspan class="cls-25" x="36.6875" y="0">r</tspan><tspan x="43.8232" y="0">t</tspan></text>
      </g>
      <g id="Arapahoe">
        <path id="Arapahoe-2" data-name="Arapahoe" class="cls-1" d="M495.7539,197.8538l19.6-.2h26.2l13-.1,5.1.1,7.8-.3,12.8-.3,13-.3,13-.3,13.1-.3,12.5-.3.2,13.4.3,12.6h-.7l-11.6.3-.7.1-12.8.3h-.1l-13,.2h-.5l-12.4.3-.7.1-12.1.3h-.6l-12.4.3-.9.1-10.4.1-1.7-.1h-.4l-5.2-.2h-7.9l-6.6.1-6.4.1-12.8.1-12.9.1-12.1.2h-.6l-.1-6.6v-3.7h2.3l.1-2.8,1.6-1.8,4.2-.1,4.6,3.2,2.3.1.9,1.1.1,1.8h3.2l-.1-1.4,5.3-4.1-6-.6-1.2.1-.2-4.4h2v-2l2.1-.7-.1-1.1h-1v-2.2h-1.1v-1.2Z"/>
        <text class="cls-2" transform="translate(533.7218 214.7768)">A<tspan class="cls-6" x="12.2559" y="0">r</tspan><tspan class="cls-7" x="19.04" y="0">a</tspan><tspan class="cls-26" x="28.9121" y="0">p</tspan><tspan x="39.8076" y="0">a</tspan><tspan class="cls-12" x="49.6797" y="0">h</tspan><tspan x="60.8315" y="0">oe</tspan></text>
      </g>
      <g id="Jefferson">
        <path id="Jefferson-2" data-name="Jefferson" class="cls-1" d="M436.6539,172.5538l9.8-.1,2.1-.1,6.6-.1,4.8-.1,3.5-.1h1.3l-1.5.5v2.7l2.1.4h1.4l.7-.2v-1.5h-2.1v-1.9l4.6-.1.8.6.1,1.3.4.2h2.9v-1.1h1.1v-1h1.1l.2,13.2.1,5.5.2,18.2h-1.6l.1,3.3-2.2,1.8h-2.5v3.5l6.3-.1.1,6.6h.7l-.5.5-.8.5-.6.6v.8l-.4.5-.9,1-.4,2.4.1.7-.2,1,.1.5-.4.6-.2.5-.3,1.2-.4.8-.6.7-.8.3-1.4-.1-.2.1-.2.6-.5.3-.8.5-.5.5v.6l.2,1,.4.3.3.5.1.9-.1.9-.1.6.1.5-.3.6-.8.9-.6.6-.4.4-1.2.8-.7.3-.9.7-.1.3v.6l.2.6-.1.7-.5.8.1.6.2,1.1.2.8.1,1.2-.4.7-.3.8-.6,1.5-.6.7-.3,1.1-.1.6-.3.7-.1.5-.5.4-.3.1-.1.7.2.6v.3l-.9.5-.4.5-.1.7-1,2.6-.3.7.1.6.2.5-.3.2-.4.1-.1.2v.6l-.5.8-1,.7-.6.5-.4.1h-1.1l-.1.3-.3.7-.3.8-.1,1.9-.1.9-.2.3-.4.2-.8.1-.3.1-.3.5-.6,1.2-.3,1.1-.4,1.4-.4.5-.6.5-.3.5-.4.6-.4.1-.2.2-.6,1-.2.7-.1.5-.3.3-.3.1-.2.4-.1.9-.1.5h-.5l-4.3.1h-3.1l-.2-13-.2-12.2-.1-2.2-.1-10.8v-23.5l-.1-3.1.1-12.9.1-14.8v-11.3l-.2-8.6-.1-4.2Z"/>
        <text class="cls-2" transform="translate(439.0758 195.0538)">Jef<tspan class="cls-13" x="24.9434" y="0">f</tspan><tspan x="30.9756" y="0">.</tspan></text>
      </g>
      <g id="Denver">
        <path id="Denver-2" data-name="Denver" class="cls-1" d="M476.4538,190.6538l14.4-.2v.8l2.7-.1v-2.2h2.2v-2.2l2.1-.1v2.2l8.6-.1-.1-6.5,6.8-.2.1-8.3h4.4v-1.2l6.7-.1.1,1.2h3.9l.2,3.8h-2.2l-.1,7.3-16.5.5.1,3.8,3.2-.2v4.4l-14.1.2v2.2h-3.3v3.3h1.1v2.2h1.1l.1,1.1-2.1.7v2h-2l.2,4.4,1.2-.1,6,.6-5.3,4.1.1,1.4h-3.2l-.1-1.8-.9-1.1-2.3-.1-4.6-3.2-4.2.1-1.6,1.8-.1,2.8h-2.3v3.7l-6.3.1v-3.5h2.5l2.2-1.8-.1-3.3h1.6l-.2-18.4Z"/>
        <text class="cls-27" transform="translate(471.7072 206.7848)">De<tspan class="cls-28" x="15.6074" y="0">n</tspan><tspan class="cls-29" x="22.9023" y="0">v</tspan><tspan x="29.1475" y="0">er</tspan></text>
      </g>
      <g id="Yuma">
        <path id="Yuma-2" data-name="Yuma" class="cls-1" d="M748.5539,88.0538l13.2-.5,12.8-.6,13.3-.7,13-.5,13.5-.6,4.2-.1.6,13.5,2.2,51.6,2.7,64.3-8.1.4-1.3.1-11.6.7-1.2.1-11.7.5-1.3.1-7.5.4-4.6.1-1.1.1-7.5.2-4.5.4-2.1.4-11.2.1-1.6.1-11.7.3-.4-12.7-.4-13.2-.4-13-.1-5.9-.5-7.1-.7-13h1.1l-.4-13-.5-12.8-.4-13.2-.5-13.2h1.6l-.4-13,13.5-.3Z"/>
        <text class="cls-30" transform="translate(754.374 157.7538)">Y<tspan class="cls-7" x="10.2559" y="0">uma</tspan></text>
      </g>
      <g id="Adams">
        <path id="Adams-2" data-name="Adams" class="cls-1" d="M486.6539,158.8538h2.6l12.8-.2,13-.1,12.9-.2,13-.2,13-.3,12.8-.2h13.1l13-.2h.2l12.1-.3h.8l12.2-.3h.9l11.7-.3.3,13.2.4,13.1.2,12.9-12.5.3-13.1.3-13,.3-13,.3-12.8.3-7.8.3-5.1-.1-13,.1h-26.2l-19.6.2v-2.2h3.3v-2.2l14.1-.2v-4.4l-3.2.2-.1-3.8,16.5-.5.1-7.3h2.2l-.2-3.8h-3.9l-.1-1.2-6.7.1v1.2h-4.4l-.1,8.3-6.8.2.1,6.5-8.6.1v-2.2l-2.1.1v2.2h-2.2v2.2l-2.7.1v-.8l-14.4.2-.1-5.5-.2-13.2h2.1v-1.2h2.2v-3.2l2.1-.1v-.5h-1.1v-.6h-.8l-.3-.1-.1-.1v-.1l.2-.4v-3.8h2.1v1.9h1v-2.8l.8-2.1,2.4.1Z"/>
        <text class="cls-31" transform="translate(546.5819 184.5378)">A<tspan class="cls-7" x="12.1758" y="0">dams</tspan></text>
      </g>
      <g id="Morgan">
        <path id="Morgan-2" data-name="Morgan" class="cls-1" d="M643.4538,78.3538l13.2-.3.4,13,.5,13.2h-.7l.2,13,.2,13,.5,12.8.5,13-13,.2-.9.1-13.3.3-11.7.3h-.9l-12.2.3h-.8l-12.1.3h-.2l-13,.2-.4-13-.1-12.8-.2-12.8-.2-13.3h.3l-.3-13.2-.3-13.2,13.2-.3,13-.2,13.1-.2,12.1-.3,13.1-.1Z"/>
        <text class="cls-2" transform="translate(587.2918 122.7037)">Mo<tspan class="cls-32" x="25.7598" y="0">r</tspan><tspan class="cls-7" x="32.5117" y="0">gan</tspan></text>
      </g>
      <g id="Weld">
        <path id="Weld-2" data-name="Weld" class="cls-1" d="M642.4538,6.5538l.2,6.2.3,13,.5,13,.3,13-.7.1.2,13.6.2,13.2-13.1.3-12.1.3-13.1.2-13,.2-13.2.3.3,13.2.3,13.2h-.3l.2,13.3.2,12.8.1,12.8.4,13h-13.3l-12.8.2-13,.3-13,.2-12.9.2-13,.1-12.8.2h-2.6l-.1-6.4-2.2.1v2.2h-.7v.6h-1.1v1.1l-.3.4v.2h1v1.1h-2.1v1l-5.3.1-.2-12.9-.1-12.8-.2-13.1-.2-13.1,12.8-.2-.1-12.7-.1-13.3v-13l-.1-13.8v-13l-.1-13v-12.8l-.1-6.5h.5l11.8-.2h.5l14.5-.8,2-.1,2.1-.1,3.5-.2,2.3.1h.5l4.6.2h.8l8.3-.1h1.7l37.7-.5,9.9-.1,54.2-1.3Z"/>
        <text class="cls-2" transform="translate(541.2938 55.6207)"><tspan class="cls-33">W</tspan><tspan x="17.728" y="0">eld</tspan></text>
      </g>
      <g id="Larimer">
        <path id="Larimer-2" data-name="Larimer" class="cls-1" d="M449.7539,9.7538h18.7l19.1-.2.1,6.5v12.8l.1,13v13l.2,12.9v13l.1,13.3.1,12.7-12.8.2.2,13.1h-12.9l-13-.2-6.5.1-5.2.1-.8.2-1.5.4-11.5-.2-2-.1h-2.1l-1.8-.1h-1.7l-5.7.2-4.1.2-.3-.4-.3-.4-.4-.2-.4-.1-.5-.1-.4-.1-.5-.4-.1-.3-.1-.6-.1-.3-.5-.8-.1-.4v-.3l.1-.3v-.3l-.2-.2-.1-.3v-.2l-.1-.4.1-.6v-.3l-.2-.3-.3-.2-.3-.3-.3-.4v-.3l.1-.6-.1-.3-.6-.6-.7-.6-.6-.1-.9-.4-.6-.4-.2-.5-.1-.5-.2-.3-.3-.2-.8-.1-.6-.2-.7-.6-1-.9-.6-.8-1.2-1.3-.6-1.1-.3-.8-.5-1.7-.5-1-1-1.6-.8-1.2-.2-.6-.1-.5.2-1,.2-.5.6-1.4.2-.8.1-.7-.1-.7-.1-.4-.4-.3-.7-.3-.6-.2-.3-.4-.4-.3-.1-.1-.6-.3-.7-.3-1.9-.6-.1-1.1.1-1-.1-.8-.3-.4-.6-.8-1-.7-1-.7-.6-.1h-2.9l-.2-.2v-.2l.4-.9.1-.8v-.6l-.1-.8-.3-.7-.1-.9.1-.8-.1-.5-.5-1-1-1.2-.1-.3-.1-2.1-.1-1.1-.3-.7-1.4-.8-.3-.4-.3-.8-.1-1,.1-1.4-.1-.7-.6-1-.2-.5-.2-1.2-.2-.4-.6-.8-.3-.7-.5-1.3-.3-1-.1-1.3-.1-.4-.6-.7-.4-.4-.6-.5-.2-.5-.1-.4.1-.8v-.5l-.2-.6-.9-1-1.4-1.6-.6-1-.4-.7-.2-.7-.1-.7-.3-1.2-.4-.8-.8-.6-.6-.7-.2-.7-.1-1-.2-.6-.4-.3-.4-1-.4-.5-.6-.4-1.9-1.4-.5-.3-.3-.6-.4-.7-.6-.4-.1-.3-.1-.7-.2-.3-.3-.2-.1-.3-.1-.7-.2-.6-.6-.5-1.4-1-.4-.1-.2-.2v-.3l.2-.7.2-.8-.1-.8-.6-1-.5-.7-.5-.3-.8-.4-.6-.3-.8-1-.6-.4-1-1.2-.7-.8-.6-.9-.2-.6-.1-.4v-.3l.4-.5.1-.3-.1-1.4-.2-1.3-.4-.7-.3-1.4-.2-1.3-.4-.9,12.3.2h7.1l3.1-.1,2.8-.1,3.8-.1h73.5l2.3-.1Z"/>
        <text class="cls-2" transform="translate(402.3438 59.1037)"><tspan class="cls-3">L</tspan><tspan x="9.7598" y="0">a</tspan><tspan class="cls-11" x="19.6318" y="0">r</tspan><tspan class="cls-10" x="26.4639" y="0">i</tspan><tspan class="cls-3" x="31.2793" y="0">m</tspan><tspan class="cls-7" x="48.1592" y="0">er</tspan></text>
      </g>
      <g id="Boulder">
        <path id="Boulder-2" data-name="Boulder" class="cls-1" d="M475.5539,120.1538l.2,13.1.1,12.8.2,12.9.1,3.5-.4.2v1.1l.6.5v1.1h-2.1v1.1h-.6v1h-1.5v1.1h-2.3l-.7.8-.4-.4v-1.5l1.1-.1-.1-1h-1.2l-.3-.6h-.7v2.1h-1.1v1.6h-1.1v2.2l-.6.2h-1.3l-3.5.1-4.8.1-6.6.1-2.1.1-9.8.1v-3.1l-2.8.3-.6-.1-.4-.1-.8-.5h-.4l-2.1,1-.6.1-1-.1-2.8.1h-12.9l-7.5.1-1.3-.7-.5-.5-.1-.5v-.3l.1-.9.6-.7.1-.5-.2-1,.1-.3.3-1,.2-2-.1-.8-.5-1-.1-.5v-.7l.2-.6.4-.5.8-.2,2.1-.2.6-.3.1-.3.1-.9.3-.4.6-.9.6-1.4v-.2l-.8-.4-.1-.3-.2-.6-.3-.7.1-.6.6-.8.9-1.6.1-.4-.2-1.2.1-.3.3-.7.1-.3-.1-.8v-.7l.1-.4.8-.9.1-.3v-.4l-.3-2-.3-.6-1-1.4-.5-.3-1.1-.3-.7-.4-.8-.6-.3-.5-.1-.5.1-.5v-.2l.1-.5-.1-.6-.4-.9-.2-.6-.3-.7-.1-.8.1-.6.2-.5.3-.3.3-.6.1-.4v-.4l-.1-.5.4-2.6.1-.2.8-1,.3-.6.4-.4.1-.5v-.3l-.4-.6,4.1-.2,5.7-.2h1.7l1.8.1h2.1l2,.1,11.5.2,1.5-.4.8-.2,5.2-.1,6.5-.1,13,.2,12.4.3Z"/>
        <text class="cls-34" transform="translate(414.6368 139.6487)">Boulder</text>
      </g>
      <g id="Logan">
        <path id="Logan-2" data-name="Logan" class="cls-1" d="M663.9538,5.9538l43.6-1.2,1.6-.1,37.5-1.3.3,5.2.6,13.3.5,12.7.3,6.8.3,6.4-1.6.1.5,13.8.5,13.2.5,13-13.2.4-12.7.4-13.3.7-13,.5-13.2.5-6.7.3-6.1.1-13.1.1-.4-13-13.2.3-.2-13.2-.2-13.6.7-.1-.3-13-.5-13-.3-13-.2-6.2,21.3-.1Z"/>
        <text class="cls-35" transform="translate(671.1178 53.7707)">L<tspan class="cls-7" x="9.5996" y="0">ogan</tspan></text>
      </g>
      <g id="Phillips">
        <path id="Phillips-2" data-name="Phillips" class="cls-1" d="M748.4538,41.4538l26.5-.8,26.1-1.1,15.5-.7.3,7.6,1.7,38.6-4.2.1-13.5.6-13,.5-13.3.7-12.8.6-13.2.5-.5-13-.5-13.2-.5-13.9,1.6-.1Z"/>
        <text class="cls-8" transform="translate(760.7839 68.9537)">Phillips</text>
      </g>
      <g id="Sedgwick">
        <path id="Sedgwick-2" data-name="Sedgwick" class="cls-1" d="M750.4538,3.3538l64.5-2.2,1.6,37.7-15.5.7-26.1,1.1-26.5.8-.3-6.8-.5-12.7-.6-13.3-.3-5.2,3.7-.1Z"/>
        <text class="cls-8" transform="translate(751.7629 26.1207)">Sedgwi<tspan class="cls-36" x="46.7876" y="0">c</tspan><tspan class="cls-37" x="53.8315" y="0">k</tspan></text>
      </g>
      <g id="Moffat">
        <path id="Moffat-2" data-name="Moffat" class="cls-1" d="M150.7539,6.3538l3.1.1h.9l3.2.1h4.4l3.2.1,8.7.2,3.5.1,8.1.2,8.6.2h3.9l4.2.1,5,.1h10.8v9.3l-.1,1.8v2.2l-.1,8.2v.5l.1,2.7v24.7l-.1,8.7v2.2l-6.5-.1-.1,8.5-6.7-.1-.1,4.4-.3,13.4-.4,9.4-.1,2.2-.1,2.2h-1.2v10.5l-.2,5.7-.1.7-36.9-1.1-6.6-.1-6.5-.1-2.1-.1-2.3-.1-4.3-.1-4.2-.2-2.2-.1-8.8-.3-2.1-.1-6.7-.2-4.4-.2-1.9-.1h-2.1l-2.4.1-4.4-.1-4.2-.1-6.6-.2h-2.2l-4.1-.1-6.6-.2h-2.2l-4.1-.1-4.6-.1-6.6-.2-1.6-.1-43.8-1.7.2-5.7.1-2.2.1-1.4.1-1.1.2-4.3.2-5.6.2-4.3-.1-2.5.1-2.2.2-4.5.1-2.2v-1.9l.1-2.5.2-5.8.3-6.8v-.3l.1-2.1.1-2.4.2-6.3v-.5l.1-1.7.1-4.3.3-8.5.1-2.6.1-2.1.2-6.1.1-2.9v-.3l.1-2,.2-4.2.1-2.5.1-1.1.1-2.4.1-3.2.3-7.8,8.6.3,4.7.2,2.2.1,16.8.6,2.2.1,10.7.3,2.2.1,7.1.3,21.7.8h.4l7.1.2,2.2.1,3.3.1,5,.1,4.3.1,20.4.3,3.9.1,5.7-.2Z"/>
        <text class="cls-2" transform="translate(83.8541 68.9537)">Mof<tspan class="cls-23" x="31.9517" y="0">f</tspan><tspan x="37.9834" y="0">at</tspan></text>
      </g>
      <g id="Routt">
        <path id="Routt-2" data-name="Routt" class="cls-1" d="M218.4539,7.7538h1.4l8.6.1,10.7.2,12.4.1h2.7l15.6.3,1.2,1.6.1.3-.1.5-.3.4-.6.4-.7.3-.2.4-.1.3.1,1.6.2,1.6.1.4.4,1.2.4.9,1,1.4.3.2.4.2.4.1.8-.1.8-.4.1-.1.2.1.1.3.3,1,.3,1,.3.5.5.8.1.4-.1.5.1.3.1.3.2.1h.6l.7-.1.8-.5.3-.3.4-.5h.4l.4.1.3.3.1.6.3.4.3.3h.5l1.8.1.3.2v.3l-.1.5-.1.4.2.9.3.6.4.3.4.1h.7l.3.2.4.1.8-.2.4-.1.3-.1.2-.3,1.3-1.8.2-.1h.5l.4.1.1.5v.8l.2.7.4.6.4.4.4.2.5.3.3.5.1.4.4.5.5.3.1.4-.1.6-.5.7-.3.7.1.8.3.5.7.6.9.3.3.3.4,1,.3.8v1.2l-.1,1-.1.4-1,.9-1.5,1.7-.5.6-.2.7.1.5.1.5-.1.5-.5,1.1-.1.5-.4.5-.1.3-.1,2.2v.5l-.5.8-.1.3.3.3.4.5.3.6.1.8-.1.9-.4.5-1,.7-.3.2.1.4.1.4-.2.5-.1.6-.3.9-.2.6v.5l.4.4.3.4v.5l-.1.3-.2.6-.1.6-.3.6-.6.5-.6.7-.2.9-.1.9.1.7.5.9.4.8.1.6-.1.5-.2.6-.1.6.1,1.3.1.2.7,1.2-.1,1.1.8.9.1.7.3.3,1.1,1,.3.3.1.5-.4.9-.1.7.1.2.1.1.4.1.5.3.2.2.1,1,.2.7.2,1.2.1.6v.1l-.6.4.3,1.1-1.3,1.2.2.8.7-.1.1,1.4-.1.3.2.3.1.4.2.6.3.6-.1,5.9-.1,6-.1,3.7h2.4l-.1,2.6v6.6l-.1,6.5-.1,6.4v2.2h-.6l.1,4.4-.1,6.7-.1,15.6h1.3l-.4,11.3v.9l-46.5-.5.1-12.6h-.6l.2-13.2.4-10.3v-7.3l-.1-2.1-46-.8.2-5.7v-10.5h1.2l.1-2.2.1-2.2.4-9.4.3-13.4.1-4.4,6.7.1.1-8.5,6.5.1v-2.2l.1-8.7v-25.1l-.1-2.7v-.5l.1-8.2v-2.2l.1-1.8v-6.6l-.3-2.8Z"/>
        <text class="cls-38" transform="translate(225.9503 105.265)">Rou<tspan class="cls-39" x="33.2314" y="0">t</tspan><tspan x="40" y="0">t</tspan></text>
      </g>
      <g id="Jackson">
        <path id="Jackson-2" data-name="Jackson" class="cls-1" d="M269.8539,8.4538l30.9.4h5.3l6.5.1h4.3l7.8.2,3.1.1h3l.5.2.5.2,12.9.1h.9l.4.9.2,1.3.3,1.4.4.7.2,1.3.1,1.4-.1.3-.4.5v.3l.1.4.2.6.6.9.7.8,1,1.2.6.4.8,1,.6.3.8.4.5.3.5.7.6,1,.1.8-.2.8-.2.7v.3l.2.2.4.1,1.4,1,.6.5.2.6.1.7.1.3.3.2.2.3.1.7.1.3.6.4.4.7.3.6.5.3,1.9,1.4.6.4.4.5.4,1,.4.3.2.6.1,1,.2.7.6.7.8.6.4.8.3,1.2.1.7.2.7.4.7.6,1,1.4,1.6.9,1,.2.6v.5l-.1.8.1.4.2.5.6.5.4.4.6.7.1.4.1,1.3.3,1,.5,1.3.3.7.6.8.2.4.2,1.2.2.5.6,1,.1.7-.1,1.4.1,1,.3.8.3.4,1.4.8.3.7.1,1.1.1,2.1.1.3,1,1.2.5,1,.1.5-.1.8.1.9.3.7.1.8v.6l-.1.8-.4.9v.2l.2.2h2.9l.6.1,1,.7,1,.7.6.8.3.4.1.8-.1,1,.1,1.1-.3.3-.7.6-.8.3-1.4.2-.6.1-.3.1-.4.3-.3.5-.1.1-.2.7-.1.9-.1,1.8-.3,1.6v2.7l-.1,1.1-.1.7-.2,1.1-.2.1-1-.3-.4-.1-.2.1-.1.1-.8,1.2-.5.3-.7.4-.4.1-.3.3-.1.4-.1.6v.3l.3.3.4.3.2.4v.3l-.1.3-.4.2-.6.1-.3.3-.7,1.5-.3.3h-.4l-.5-.3-.6-1.1-.3-.4-.5-.3-1-.4-.7-.1-.6.1-.5.1h-.3l-.2-.2-.6-.7-.4-.4-.4-.1-.4.1-.4.1-1,.6-.6.3-1.1.7-.2.1-1.1.3-.4.1-1.4,1-.5.2-.3.1-.4-.1-.4-.3-.7-.6-.2-.1-.3.1-.4.3-.3.4-1,.6-.5.5-.5.6-.3.2-.6.3-.1.2-.1.5-.1.1-.3.1-.7-.1-.6-.2-.4-.3-.4-.3-.4-.7-.5-.4-.3-.2h-.4l-.3.1-.3.3-.7,1.4-.3.4-.4.3-.7.3h-1.3l-.8-.1h-.6l-.6.1-.5.3-.4.1-.4-.1-.4-.3-.8-.8-.9-1.2-1-2.3-.3-.4-.3-.1h-.4l-.5.3-.3.2h-.1l-.8-.3-.4.1-.4.1-.4.5-.3.5-.1.3v.6l.1.7.1.7-.1.3-.2.2-.4.1-.5.1h-.4l-.8-.3-.6-.4-.6-.4-.3-.1-.4-.1-.4-.1-1-1.3-.9-1.2-.6-.3-.4.1-.5.1-.7-.1-.6.2-.8.3-.8.6-.1.3.1,1.1v.4l-.1.2-.2.1-.3-.1-.4-.8-.4-.5-.6-.4-1-.5-.8-.3-.6-.1-.8.3-.6.2h-.5l-.4-.2-.6-1-.3-.3-.1-.4.1-.4-.1-.3-.4-.3-.1-.3-.1-.6-.2-.4-.6-.5-.1-.3.1-.6-.2-.3-.6-.5-.1-.4.5-.8v-.5l-.3-.6-.5-.5-.5-.2h-.3l-.3.1-1.3,1.3-.1.2-.7.6-.1.1-.2.6-.4.2-.3.1-.4.3-.1.1-.3.3-.3.5-.2,1.1-.1,1.1-.1.4-.2.1h-.3l-.6-.3-.3-.1-.8-.4-.3-.3-.3-.4-.1-.4-.2-.2-.5-.2-1.2.1-.8-.2-1-.1-.6.1-.5.3-.4.2h-.4l-.3-.1-.3-.3-.1-.3-.6-2-.4-1.6-.1-.3-.7-1.6-.4-.5.5-1.3.4-.3-.2-.3-1.3-.1-.8-.1-.9-1v-.6l-.2-.4-.3-.6-.2-.6-.1-.4-.2-.3.1-.3-.1-1.4-.7.1-.2-.8,1.3-1.2-.3-1.1.6-.4v-.1l-.1-.6-.2-1.2-.2-.7-.1-1-.2-.2-.5-.3-.4-.1-.1-.1-.1-.2.1-.7.4-.9-.1-.5-.3-.3-1.1-1-.3-.3-.1-.7-.8-.9.1-1.1-.7-1.2-.1-.2-.1-1.3.1-.6.2-.6.1-.5-.1-.6-.4-.8-.5-.9-.1-.7.1-.9.2-.9.6-.7.6-.5.3-.6.1-.6.2-.6.1-.3v-.5l-.3-.4-.4-.4v-.5l.2-.6.3-.9.1-.6.2-.5-.1-.4-.1-.4.3-.2,1-.7.4-.5.1-.9-.1-.8-.3-.6-.4-.5-.3-.3.1-.3.5-.8v-.5l.1-2.2.1-.3.4-.5.1-.5.5-1.1.1-.5-.1-.5-.1-.5.2-.7.5-.6,1.5-1.7,1-.9.1-.4.1-1v-1.2l-.3-.8-.4-1-.3-.3-.9-.3-.7-.6-.3-.5-.1-.8.3-.7.5-.7.1-.6-.1-.4-.5-.3-.4-.5-.1-.4-.3-.5-.5-.3-.4-.2-.4-.4-.4-.6-.2-.7v-.8l-.1-.5-.4-.1h-.5l-.2.1-1.3,1.8-.2.3-.3.1-.4.1-.8.2-.4-.1-.3-.2h-.7l-.4-.1-.4-.3-.3-.6-.2-.9.1-.4.1-.5v-.3l-.3-.2-1.8-.1h.1l-.3-.3-.3-.4-.1-.6-.3-.3-.4-.1h-.4l-.4.5-.3.3-.8.5-.7.1h-.6l-.2-.1-.1-.3-.1-.3.1-.5-.1-.4-.5-.8-.3-.5-.3-1-.3-1-.1-.3-.2-.1-.1.1-.8.4-.8.1-.4-.1-.4-.2-.3-.2-1-1.4-.4-.9-.4-1.2-.1-.4-.2-1.6-.1-1.6.1-.3.2-.4.7-.3.6-.4.3-.4.1-.5-.1-.3-1.2-1Z"/>
        <text class="cls-38" transform="translate(303.4082 78.9017)">J<tspan class="cls-40" x="8.6563" y="0">a</tspan><tspan class="cls-24" x="18.623" y="0">c</tspan><tspan class="cls-41" x="28.0156" y="0">k</tspan><tspan x="38.2871" y="0">son</tspan></text>
      </g>
      <g id="Grand">
        <path id="Grand-2" data-name="Grand" class="cls-1" d="M293.0539,92.1538l.2.4v.6l.9,1,.8.1,1.3.1.2.3-.4.3-.5,1.3.4.5.7,1.6.1.3.4,1.6.6,2,.1.3.3.3.3.1h.4l.4-.2.5-.3.6-.1,1,.1.8.2,1.2-.1.5.2.2.2.1.4.3.4.3.3.8.4.3.1.6.3h.3l.2-.1.1-.4.1-1.1.2-1.1.3-.5.3-.3.1-.1.4-.3.3-.1.4-.2.2-.6.1-.1.7-.6.1-.2,1.3-1.3.3-.1h.3l.5.2.5.5.3.6v.5l-.5.8.1.4.6.5.2.3-.1.6.1.3.6.5.2.4.1.6.1.3.4.3.1.3-.1.4.1.4.3.3.6,1,.4.2h.5l.6-.2.8-.3.6.1.8.3,1,.5.6.4.4.5.4.8.3.1.2-.1.1-.2v-.4l-.1-1.1.1-.3.8-.6.8-.3.6-.2.7.1.5-.1.4-.1.6.3.9,1.2,1,1.3.4.1.4.1.3.1.6.4.6.4.8.3h.4l.5-.1.4-.1.2-.2.1-.3-.1-.7-.1-.7v-.6l.1-.3.3-.5.4-.5.4-.1.4-.1.8.3h.4l.3-.2.5-.3h.4l.3.1.3.4,1,2.3.9,1.2.8.8.4.3.4.1.4-.1.5-.3.6-.1h.6l.8.1h1.3l.7-.3.4-.3.3-.4.7-1.4.3-.3.3-.1h.4l.3.2.5.4.4.7.4.3.4.3.6.2.7.1.2-.1.1-.1.1-.5.1-.2.6-.3.3-.2.5-.6.2-.1,1-.6.3-.4.4-.3.3-.1.2.1.7.6.4.3.4.1.3-.1.5-.2,1.4-1,.4-.1,1.1-.3.2-.1,1.1-.7.6-.3,1-.6.4-.1.4-.1.4.1.4.4.6.7.2.2h.3l.5-.1.6-.1.7.1,1,.4.5.3.3.4.6,1.1.5.3h.4l.3-.3.7-1.5.3-.3.6-.1.4-.2.1-.3v-.3l-.2-.4-.4-.3-.3-.3v-.3l.1-.6.1-.4.3-.3.4-.1.7-.4.5-.3.8-1.2.1-.1.2-.1.4.1,1,.3.2-.1.2-1.1.1-.7.1-1.1v-2.7l.3-1.6.1-1.8.1-.9.2-.7.1-.1.3-.5.4-.3.3-.1.6-.1,1.4-.2.8-.3.7-.6.3-.3,1.9.6.7.3.6.3.1.1.4.3.3.4.6.2.7.3.4.3.1.4.1.7-.1.7-.2.8-.6,1.4-.2.5-.2,1,.1.5.2.6.8,1.2,1,1.6.5,1,.5,1.7.3.8.6,1.1,1.2,1.3.6.8,1,.9.7.6.6.2.8.1.3.2.2.3.1.5.2.5.6.4.9.4.6.2.7.6.6.6.1.3-.1.6v.3l.3.4.3.3.3.2.2.3v.3l.3.5.1.4v.4l.1.3.2.2v.3l-.1.3v.3l.1.4.5.8.1.3.1.6.1.3.5.4.4.1.5.1.4.1.4.2.3.4.3.4.4.6v.3l-.1.5-.4.4-.3.6-.8,1-.1.2-.4,2.6.1.5v.4l-.1.4-.3.6-.3.3-.2.5-.1.6.1.8.3.7.2.6.4.9.1.6-.1.5v.2l-.1.5.1.5.3.5.8.6.7.4,1.1.3.5.3,1,1.4.3.6.3,2v.4l-.1.3-.8.9-.1.4v.7l.1.8-.1.3-.3.7-.1.3.2,1.2-.1.4-.9,1.6-.6.8-.1.6.3.7.2.6.1.3.8.4v.2l-.6,1.4-.6.9-.3.4-.1.9-.1.3-.6.3-2.1.2-.8.2-.4.5-.2.6v.7l.1.5.5,1,.1.8-.2,2-.3,1-.1.3.2,1-.1.5-1.5-.2-.1.9v.3l.1.5.5.5,1.3.7-.4.9-.2.9-.1.6-.4.6-.3.5-.4,1.3-.4.7-.3.6v.5l-.1,1.1.1.8.3,1.5.2,1.3.3.6-.2.6-.1.5-.2.8-.4.3-.5.1h-.6l-.5-.2h-.4l-.2.2-.2.5-.1.8-.4.8-.6.8-.6.9-.2.5-.4.3-.6.3-1.5.5-1,.3h-.4l-1.1-.5-.3-.1-1-.3-.8-.1-.6.1-.4.3-.5.5-.6.8-.6.4-.8.3h-.5l-1.7-.4h-.8l-.1-.2-.6-.8-.4-.2-1.9-.1h-.9l-.4.1-.1.4v.8l-.4.7-.1.3.1.4.3.5.1.5.3.9.3.5.2.3v.3l-.2.5-.2.5v.3l.1.5.1.6v.6l-.2.5-.5.5-.6.3-1,.1-.4.2-.2.4-.1.7-.6.8-.6.7-.4.6-.2,1v.5l-1,.5-.9.6-.3.1-.4-.1-.2-.2-.2-.3h-.3l-.9.1-.6.2-.9.1-1,.3-1.2.5-.7.1-1.4-.1-1-.2-.8-.5-.6-.6-.5-.8-.6-1.2-.3-.8-.3-.6-.8-.9-.5-.2-.2-.3-.2-.5-.3-1.9-.5-2.4-1-3-.4-1.2-.2-1.2-.3-1.1-.5-.7-1-1.2-1-1.1-1.1-1.1-.8-1-.6-.9-.4-.4-.6.1-.7.3-.4.1-.4.1-.9-.3-1.9-.6-1.4-1-.8-.7-.9-1-.5-1.2-.6-1-.8-1-1-1-.6-.9-.6-.9-.8-.7-.9-.7-1.1-.5-1.3-.1h-2.9l-2.2.1-9.5.1.1-1.6h-4.5l-22.2-.2.4-11.3h-1.3l.1-15.6.1-6.7-.1-4.4h.6v-2.2l.1-6.4.1-6.5v-6.6l.1-2.6h-2.4l.1-3.7.1-6,.9-5.7Z"/>
        <text class="cls-38" transform="translate(324.8537 149.1464)">G<tspan class="cls-21" x="12.3359" y="0">r</tspan><tspan x="19.1201" y="0">a</tspan><tspan class="cls-3" x="28.9922" y="0">n</tspan><tspan x="40.1436" y="0">d</tspan></text>
      </g>
      <g id="Eagle">
        <path id="Eagle-2" data-name="Eagle" class="cls-1" d="M295.0539,170.0538l22.2.2-.2.8v.6l.3.8.4.5.1.5.1,1.3v1.8l-.1.3-.2.6-.1.4.1.6,1,2.2.1.6.1,1.4.2.7,1.1,2.7,1.7,4.6.3,1.1.1,1.2.4,1,.6.8,1.4,1.4.6.3h.7l.4-.2.6-.5.4-.2.3.1.1.5.1.5.6.8.8,1.4.7.9,1,.8,1.2.3.5.4.6,1.1.4,1.1.8.8.8.3.8-.5h.6l.3.1v.5l.1,1.9.4.6.5.4,1-.1h.6l.3.1v1.8l.2.6.5.4h.7l.6-.1.3.1.1.8.2.3,1,.1.9.3h1.7l.3.3.3,1.2.4.7.1.8-.1,1.2-.1,1-.1,1.3-.3.6h-1.3l-.8-.3h-.6l-.5.2-.4.5-.4,1-.3.9.1,1.1.3,1.5.2.7.4.3.8.5.1.1-.1.3-.5.5-.2.2-.1.1-.4,2.6-.1.4-.1.1-.3-.1-.5-.3-.6-.3-.4-.3-.5-.4-.3-.6-.4-.9-.1-.1h-.2l-.8.9-.6.6-.8.8-.1.3.1.4.1.3.2.3-.1.6.1.6.2.3.6.5v.2l-.1.7-.1,1,.1,1.3-.2,1.4-.1,1.1-.1.7.2.6.2.4.8,1.3.2.5.3.8.4.5.8.7.2.4v.3l-.2.3-.4.6-.1.6.3,1.2.1.2h.2l1.1-.5.4.1.2.3.1.4-.5.8-.1,1.1.6,2.8-1.6.1-.1.1-1.5,1.8-.5.4-.6.2-1,.1-.3.1-2.4,1.2-.5.1-.6.1-.4-.2-1.2-.7-.8-.4-.7-.2-.4.1-1.3.3-1,.3-1.3.3h-.6l-.4-.1-.4-.2-.4-.5-.8-1.2-.2-.3-1.9-.9-.9-.5h-.3l-.4-.1-.3.3-.4.6-1,1.1-34.4.3-46.5-1.2.1-4.3.4-25,.1-4.4.1-2.2.2-6.6.2-8.8.2-4.8v-14.1l.1-12.4,9.4.2,46.5.5.3-1.1Z"/>
        <text class="cls-38" transform="translate(264.3506 220.9496)"><tspan class="cls-42">E</tspan><tspan class="cls-3" x="10.6719" y="0">a</tspan><tspan x="20.6396" y="0">gle</tspan></text>
      </g>
      <g id="Garfield">
        <path id="Garfield-2" data-name="Garfield" class="cls-1" d="M248.5539,170.3538l-9.4-.2-.1,12.4v14.1l-.2,4.8-.2,8.8-.2,6.6-.1,2.2-.1,4.4-.4,25-.1,4.3-36.8-.6-113.5-2.7-74.6-2.5.5-12.5.1-3.8.1-3.3.1-2.8.4-9.7.1-2.2.4-11,5.1.3,13,.7-.1,1.6,6.4.2,2.2.1,2.2.1,2.2.1,3.8.1,8.6.3.3.1,1.9.1,6.8.4,2.1.1,2.1.1.2-4.3.1-2.1,2.4.1,13,.5,13.1.4,6.6.2h2.2l2.1.1,6.1.2,19.7.6h6.6v-2l.2-8.8.2-6.5.2-2.3,18.6.4,9.6-.4,9.9.3,20.4.4.2-13.3,12.9.6.7-26.2,32,.4-.2,13.2h.6v12.9Z"/>
        <text class="cls-38" transform="translate(118.6262 228.906)">Ga<tspan class="cls-43" x="22.208" y="0">r</tspan><tspan x="29.3438" y="0">field</tspan></text>
      </g>
      <g id="Rio_Blanco" data-name="Rio Blanco">
        <path id="Rio_Blanco-2" data-name="Rio Blanco" class="cls-1" d="M17.8539,119.0538l43.7,1.7,1.6.1,6.6.2,4.6.1,4.1.1h2.2l6.6.2,4.1.1h2.2l6.6.2,4.2.1,4.4.1,2.2.1h2.1l1.9.1,4.4.2,6.7.2,2.1.1,8.8.3,2.2.1,4.2.2,4.3.1,2.3.1,2.1.1,6.5.1,6.6.1,36.9,1.1.1-.7,46,.8.1,2.1v7.3l-.4,10.3-32-.4-.7,26.2-12.9-.6-.2,13.3-20.4-.4-9.9-.3-9.6.4-18.6-.4-.2,2.3-.2,6.5-.2,8.8v2h-6.6l-19.7-.6-6.1-.2-2.1-.1h-2.2l-6.6-.2-13.1-.4-13-.5-2.4-.1-.1,2.1-.2,4.3-2.1-.1-2.1-.1-6.8-.4-1.9-.1-.3-.1-8.6-.3-3.8-.1-2.2-.1-2.2-.1-2.2-.1-6.4-.2.1-1.6-13-.7-5.1-.3.3-7.9v-1l.3-7.6.2-4.4.1-2.2.8-21.7.1-1.9.3-8.8.3-7.2.2-4.4.1-1.6v-.6l.9-13.7Z"/>
        <text class="cls-38" transform="translate(79.4607 161.3938)">Rio Bla<tspan class="cls-3" x="58.5117" y="0">n</tspan><tspan class="cls-21" x="69.6631" y="0">c</tspan><tspan class="cls-44" x="79.0068" y="0">o</tspan></text>
      </g>
      <g id="Baca">
        <path id="Baca-2" data-name="Baca" class="cls-1" d="M752.9538,505.9538l12.8-.5,12.9-.4,13-.5,13.2-.5,12.8-.4,13.1-.5,5.5-.2,1.6,38,.8,19.7.1,1.8.2,4.7.1,1.9.2,4.4.1,2.2.3,6.9.7,17.6-33.8.9-3.2.1-5,.1-7.7.2-2.4.1-3.1.1-4,.1-3.1.1-13.5.5-2.2.1h-.9l-9.5-.1h-2l-24.4.7-10.2.3-.3-18-.2-12.9-.2-13-.2-9.8-.1-3.4,1-.1-1.2-26.1-.4-12.9,39.2-1.2Z"/>
        <text class="cls-38" transform="translate(754.1504 558.682)">B<tspan class="cls-3" x="12.2402" y="0">a</tspan><tspan x="22.208" y="0">ca</tspan></text>
      </g>
      <g id="Bent">
        <path id="Bent-2" data-name="Bent" class="cls-1" d="M673.0539,415.2538l13.9-.4,12.9-.3,13.2-.4,37.2-1.2,1,27,.5,13.1.4,13.3.4,12.9h-.9l1.2,26.8-39.4,1.4-12.6.3-12.9.3-13.3.4-.4-13.1-.4-13.6h.5l-.2-12.9-.2-13v-13.5l-.4-13.1-.5-14Z"/>
        <text class="cls-38" transform="translate(689.7354 467.7531)">Bent</text>
      </g>
      <g id="Washington">
        <path id="Washington-2" data-name="Washington" class="cls-1" d="M657.1539,91.1538l13.1-.1,6.1-.1,6.7-.3,13.2-.5,13-.5,13.3-.7,12.7-.4.4,13h-1.6l.5,13.2.4,13.2.5,12.8.4,13h-1.1l.7,13,.5,7.1.1,5.9.4,13,.4,13.2.4,12.7-1.4.1-11.8.5-1.5.1-12.9.6-13.3.5-11.5.3h-1.2l-11.9.4-1,.1-12.2.4h-.9l-12.4.3h-.6l-12.3.2-.3-12.6-.2-13.4-.2-12.9-.4-13.1-.3-13.2,13.3-.3.9-.1,13-.2-.5-13-.5-12.8-.2-13-.2-13h.7l-.3-13.4Z"/>
        <text class="cls-2" transform="translate(635.3209 186.6208)"><tspan class="cls-33">W</tspan><tspan x="17.728" y="0">ashi</tspan><tspan class="cls-45" x="51.9678" y="0">n</tspan><tspan x="63.1191" y="0">g</tspan><tspan class="cls-46" x="74.3193" y="0">t</tspan><tspan x="81.0073" y="0">on</tspan></text>
      </g>
      <g id="Kiowa">
        <path id="Kiowa-2" data-name="Kiowa" class="cls-1" d="M698.2539,362.7538l7.5-.5,5.6-.2,13-.5,13-.3,12.9-.4,12.8-.4,13-.4,7.9-.2,4.9-.3,13-.5,13-.5,12.3-.5h.4l2.8-.1,2.2,51.7-15.4.7-13,.5-13,.5-13.1.5-12.7.5-14.8.6-37.2,1.2-13.2.4-12.9.3-13.9.4-12.2.3-.5-11.4h-.6l-.5-14.3-.4-11.9v-1.1l13.9-.4,12.8-.1,12.8-.5-.4-13.1Z"/>
        <text class="cls-38" transform="translate(730.8542 394.2722)"><tspan class="cls-23">K</tspan><tspan x="11.6797" y="0">i</tspan><tspan class="cls-18" x="16.4961" y="0">o</tspan><tspan class="cls-47" x="26.7363" y="0">w</tspan><tspan x="41.4395" y="0">a</tspan></text>
      </g>
      <g id="Clear_Creek" data-name="Clear Creek">
        <path id="Clear_Creek-2" data-name="Clear Creek" class="cls-1" d="M403.0539,181.6538l.4.4.6.3.8.1.8-.1.6-.1h.8l.7.2,1.6.6.4.4.3.7.4.7.6.7.8.5,1,.4.3.2.4.3.6.1.4-.3.9-.5h.3l.1.1.2.4.1,1.1v1.1l.1.3,2.3,1.6,1,.9.1.5.1.3.1.6.5.6.8.5,1.3.4,1.4.3,1,.4.7.3.9.3h1.1l1.7.2,1.8.3h.4l1.7-.1.1.1.3.1.3.5.1.4.2.1.5-.1.5-.4.8-.2h1l-.1,14.8-.1,12.9h-1l-4.2-.1h-9.7l-5.5.1h-17.7l-11.7.1-.4-.1-.4-.3-.1-.5.1-.5.5-.5.7-.2,1.5-.1.8-.7.4-.7,1.7-1.1,1.1-1,.3-.4-.1-.5-.4-.8-.1-.9-.2-1-.3-.5-.8-.3-1.6-.1-1.2.1-.2-.1-.4-.5-.3-.1-.8.1-.4-.1-.4-.3-.9-.7-.5-.8-.8-1.6-.5-.4-.8-.3-.6.2-1.3.7-.4.1-.4-.1-.4-.5-.4-.1-.8.1-.5-.1-.3-.1-1-1.4-.2-.6.1-.4.4-.9.1-.3.1-.3-.1-.5-.1-.3-.2-.3v-.5l.2-1,.4-.6.6-.7.6-.8.1-.7.2-.4.4-.2,1-.1.6-.3.5-.5.2-.5v-.6l-.1-.6-.1-.5v-.3l.2-.5.2-.5v-.3l-.2-.3-.3-.5-.3-.9-.1-.5-.3-.5-.1-.4.1-.3.4-.7v-.8l.1-.4.4-.1h.9l1.9.1.4.2.6.8.1.2h.8l1.7.4h.5l.8-.3.6-.4.6-.8.5-.5.4-.3.6-.1.8.1,1,.3.3.1,1.1.5h.4l1-.3,1.5-.5.6-.3.4-.3.2-.5.6-.9.6-.8.4-.8.1-.8.2-.5.2-.2h.4l.5.2h.6l.5-.1.4-.3.2-.8.1-.5-.6-1.2Z"/>
        <g>
          <path class="cls-48 text" d="M401.4148,206.3839a3.7517,3.7517,0,0,1-1.4693-1.3936,4.0642,4.0642,0,0,1,0-4.03,3.7482,3.7482,0,0,1,1.4693-1.3936,4.3644,4.3644,0,0,1,2.101-.5024,4.4083,4.4083,0,0,1,1.7774.3457,3.5565,3.5565,0,0,1,1.334.9936l-1.1236,1.0371a2.416,2.416,0,0,0-1.9013-.8857,2.52,2.52,0,0,0-1.253.3081,2.1851,2.1851,0,0,0-.8589.8589,2.7025,2.7025,0,0,0,0,2.5063,2.1916,2.1916,0,0,0,.8589.8589,2.5249,2.5249,0,0,0,1.253.3076,2.4037,2.4037,0,0,0,1.9013-.8965l1.1236,1.0371a3.4937,3.4937,0,0,1-1.3394,1.0044,4.4477,4.4477,0,0,1-1.7827.3462A4.3425,4.3425,0,0,1,401.4148,206.3839Z"/>
          <path class="cls-48 text" d="M407.6858,198.74h1.6855v8.0162h-1.6855Z"/>
          <path class="cls-48 text" d="M416.5988,204.3258h-4.3969a1.368,1.368,0,0,0,.5615.8535,1.86,1.86,0,0,0,1.102.313,2.2335,2.2335,0,0,0,.8047-.1348,1.95,1.95,0,0,0,.6538-.4267l.8965.9721a3.0136,3.0136,0,0,1-2.3984.94,3.8,3.8,0,0,1-1.7393-.3833,2.8143,2.8143,0,0,1-1.1665-1.0645,2.9285,2.9285,0,0,1-.4106-1.5449,2.9686,2.9686,0,0,1,.4053-1.5391,2.8362,2.8362,0,0,1,1.1127-1.07,3.4463,3.4463,0,0,1,3.1275-.0161,2.6826,2.6826,0,0,1,1.0854,1.0532,3.1394,3.1394,0,0,1,.3946,1.5938Q416.6311,203.9045,416.5988,204.3258Zm-3.9433-1.8692a1.3817,1.3817,0,0,0-.4756.8858h2.8633a1.3961,1.3961,0,0,0-.4756-.88,1.4233,1.4233,0,0,0-.9507-.33A1.4525,1.4525,0,0,0,412.6555,202.4566Z"/>
          <path class="cls-48 text" d="M422.0109,201.5006a2.4608,2.4608,0,0,1,.7237,1.9394v3.3165h-1.5772v-.7237a1.8777,1.8777,0,0,1-1.7715.81,2.748,2.748,0,0,1-1.1616-.2271,1.7281,1.7281,0,0,1-.7505-.6264,1.63,1.63,0,0,1-.2592-.9073,1.5132,1.5132,0,0,1,.61-1.2749,3.1114,3.1114,0,0,1,1.8853-.4648H421.05a1.0743,1.0743,0,0,0-.3349-.8477,1.4738,1.4738,0,0,0-1.0044-.2973,2.9337,2.9337,0,0,0-.9131.146,2.4169,2.4169,0,0,0-.7617.394l-.605-1.1772a3.6562,3.6562,0,0,1,1.14-.5186,5.0992,5.0992,0,0,1,1.3667-.1836A3.0259,3.0259,0,0,1,422.0109,201.5006Zm-1.4365,4.0083a1.0942,1.0942,0,0,0,.4751-.5889v-.5942h-1.1557q-1.0371,0-1.0371.6807a.6055.6055,0,0,0,.2539.5131,1.1425,1.1425,0,0,0,.6967.189A1.4694,1.4694,0,0,0,420.5744,205.5089Z"/>
          <path class="cls-48 text" d="M426.6838,201.0738a3.0261,3.0261,0,0,1,1.1826-.2158v1.5557q-.2812-.0221-.3779-.022a1.5463,1.5463,0,0,0-1.1348.4053,1.6383,1.6383,0,0,0-.41,1.2153v2.7442H424.258v-5.8121h1.6094v.7671A1.8684,1.8684,0,0,1,426.6838,201.0738Z"/>
          <path class="cls-48 text" d="M401.4148,219.3478a3.7517,3.7517,0,0,1-1.4693-1.3936,4.0644,4.0644,0,0,1,0-4.03,3.748,3.748,0,0,1,1.4693-1.3935,4.3645,4.3645,0,0,1,2.101-.5025,4.41,4.41,0,0,1,1.7774.3457,3.5578,3.5578,0,0,1,1.334.9937l-1.1236,1.0371a2.4161,2.4161,0,0,0-1.9013-.8858,2.52,2.52,0,0,0-1.253.3082,2.1848,2.1848,0,0,0-.8589.8588,2.7028,2.7028,0,0,0,0,2.5064,2.1916,2.1916,0,0,0,.8589.8589,2.5249,2.5249,0,0,0,1.253.3076,2.4037,2.4037,0,0,0,1.9013-.8965l1.1236,1.0371a3.4947,3.4947,0,0,1-1.3394,1.0044,4.4477,4.4477,0,0,1-1.7827.3462A4.3436,4.3436,0,0,1,401.4148,219.3478Z"/>
          <path class="cls-48 text" d="M410.111,214.0377a3.0274,3.0274,0,0,1,1.1832-.2158v1.5556q-.2812-.0219-.3785-.0219a1.5454,1.5454,0,0,0-1.1342.4052,1.6382,1.6382,0,0,0-.41,1.2154V219.72h-1.6855v-5.812h1.61v.7671A1.8675,1.8675,0,0,1,410.111,214.0377Z"/>
          <path class="cls-48 text" d="M417.906,217.29h-4.397a1.368,1.368,0,0,0,.5615.8535,1.86,1.86,0,0,0,1.1021.313,2.236,2.236,0,0,0,.8047-.1348,1.9524,1.9524,0,0,0,.6538-.4268l.8964.9722a3.0134,3.0134,0,0,1-2.3984.94,3.7976,3.7976,0,0,1-1.7392-.3833,2.8122,2.8122,0,0,1-1.1665-1.0644,2.9279,2.9279,0,0,1-.4107-1.5449,2.969,2.969,0,0,1,.4053-1.5391,2.8352,2.8352,0,0,1,1.1128-1.07,3.4461,3.4461,0,0,1,3.1274-.0161,2.6822,2.6822,0,0,1,1.0855,1.0532,3.14,3.14,0,0,1,.3945,1.5937Q417.9382,216.8683,417.906,217.29Zm-3.9434-1.8692a1.3812,1.3812,0,0,0-.4756.8858H416.35a1.3961,1.3961,0,0,0-.4756-.88,1.4228,1.4228,0,0,0-.9507-.33A1.4525,1.4525,0,0,0,413.9626,215.4205Z"/>
          <path class="cls-48 text" d="M424.7229,217.29h-4.397a1.368,1.368,0,0,0,.5615.8535,1.86,1.86,0,0,0,1.1021.313,2.236,2.236,0,0,0,.8047-.1348,1.9505,1.9505,0,0,0,.6533-.4268l.8965.9722a3.0113,3.0113,0,0,1-2.398.94,3.7983,3.7983,0,0,1-1.7393-.3833,2.8135,2.8135,0,0,1-1.1665-1.0644,2.9288,2.9288,0,0,1-.4106-1.5449,2.969,2.969,0,0,1,.4053-1.5391,2.8352,2.8352,0,0,1,1.1128-1.07,3.4471,3.4471,0,0,1,3.1279-.0161,2.6816,2.6816,0,0,1,1.085,1.0532,3.1443,3.1443,0,0,1,.3945,1.5937Q424.7551,216.8683,424.7229,217.29Zm-3.9434-1.8692a1.3812,1.3812,0,0,0-.4756.8858h2.8633a1.3915,1.3915,0,0,0-.4756-.88,1.4237,1.4237,0,0,0-.9507-.33A1.4525,1.4525,0,0,0,420.78,215.4205Z"/>
          <path class="cls-48 text" d="M428.3742,217.441l-.8095.7993v1.48h-1.6856v-8.0161h1.6856v4.5376l2.4628-2.3335h2.0088l-2.42,2.4629,2.6358,3.3491h-2.0411Z"/>
        </g>
      </g>
      <g id="Crowley">
        <path id="Crowley-2" data-name="Crowley" class="cls-1" d="M595.0539,378.3538l13.2-.3,12.7-.2,12.9-.2,13-.3v.8l12.1-.1.4,11.9.5,14.3h.6l.5,11.4h-1l.3,13.8-12.9.4.2,8.7-13,.4-7.7.2-1.1-.1-.6-.3-2.6.5-.6-.1-.9-1.3-1.4-.3-1-.5-.5-.1-.9.5-.7.2-1.5.1-.4-.3-.1-.5-.3-.5-.7-.2h-.6l-.2.3.1.5v.4h-.5l-.5-.5-.5-.2-.5.4-.6.4h-.4l-1.3-.6-.6-.1-.9-.1h-1l-.3-.2-.1-.5-.3-.5-1-.2-.6-.4-.6-.2h-.6l-1.5.1-1,.5-1.4.1-1,.1-1.5-.6-1-.5-.1-3.3-.2-13.7h.4l-.2-13.2-.2-12.6.2-13.3Z"/>
        <text class="cls-38" transform="translate(593.3984 410.3976)">C<tspan class="cls-49" x="11.7275" y="0">r</tspan><tspan class="cls-50" x="18.4805" y="0">o</tspan><tspan x="28.7197" y="0">wl</tspan><tspan class="cls-51" x="48.5273" y="0">e</tspan><tspan class="cls-52" x="58.4639" y="0">y</tspan></text>
      </g>
      <g id="Huerfano">
        <path id="Huerfano-2" data-name="Huerfano" class="cls-1" d="M428.8539,473.9538l1.8-.3,1.8-.1,1,.4,1.5.8.4-.1.5-.1.6-.4,1-.9,2-2.1.6-.4.7-.3.6-.3,1.2-.5,1.3-.3.9-.6.8-.8.6-.3.7.1.8.2.7.4,1,1.6,1.2,3,.4.2.3-.1.5-.3.4-.6.4-.5.4-.6.7-1.3.1-1.5.4-.9.8-.9.7-.7.7-1,.7-.8,1-.8.8-.4.3-.4.4-1,.6-.4.3-.3.4-.8.3-.1.1-.3-.1-1,.1-.7.4-.6,2.4-1.6.8-.3.7-.1.8.3.6.5.3.6.1.7-.3,1.1.1.6.7,1.2.8.6.2.4.2.4.5.5v.4l-.2.5v.4l.3.3.5.2.2.4.1,1.1.1.5,1.4.8.7.3.6-.1.6-.3.8-.1.5-.4.6-.5.3-.1.8,1.1.6.4.2.3.1,1.3-.1.7-.1.8.2.5.3.4,1.4.6,1.5.9.6.8.1.5-.2.7,1.2.9,1,.9.4.1.6-.1h.3l3.3-.3,2.3-.2,2-.2,26-2,7.7-.6,5.4,1.8,13,4.4,13,4.4,4.4,1.4-1.5,1.9-7.4,6.1-2.6,2.2-.6.5.1.8-2.1,3.6-4.9,8.5-4.7,8.2-.1.3.2,4.8-.6.1-4,3.4-2,1.6-2,1.7-.5,1.6-.6,1.3-.8.9-1,1-.4.1-3.4.1-.4.2-.3.4-.3,1.9-.5.9-.2,1-.1,1.2.1.7.3,1.3-.3.2-.6.3-1,.4-1.1.7-.6.4-1.6.9-1,1.3-.1.8-.6.5-.6.1-1.7.2-1.6.5-.8.1h-.7l-.9-.3-.5.1-1.8.7-1,.2-.4-.4-.9.5-1.2.3-1.7.5-1.8.6h-1l-.9-.1-1-.4-.6-.5-.6.1-.9-.3-.5.2-1,.9h-.8l-1.3.1-.9.9-1.1.7-.9.3-1-.1-.6.1-.5.8-.5.7-.9.6-.8.6-.6.3-.2.5-.3.8.1.6-.2.3-1,.2-.8.4-1.1.6-1.7.9-1.4,1-1.2.5-.6.4-.4.4-.3.8-1.3.8-.8.7h-.8l-.6-.2h-1.5l-1,.2-1.5.9-.4.2-.4.1-.1-.3v-.8l.2-.7v-.6l-.3-.8-.1-1.3.1-.9-.3-1.8.3-1-.1-.7-.1-.6-.1-1.2.2-.9-.1-.9-.1-.9.1-1,.6-1,.5-.5,1.2-.8,1-.3.6-.9.1-.4-.2-.4-.8-.8-.5-1.6-.6-2.5-.3-.7-.4-.5h-.4l-.9.2-.7-.1-.3-.3-.1-.3.5-.7.1-.3-.6-.7-.1-.6-.7-.7v-.5l.8-.8v-.8l.1-.4.1-2.4-.1-2-.3-1-.4-1.2-.2-1.7-1-1.7-.8-1.2-.5-.6-1-.5-.7-.3-.1-.3v-.4l.9-.7.6-1.1.4-.1.3.2.4.1.1-.2-.1-.5-.4-1,.1-.5.7-.9.1-.4-.3-.2h-.9l-1.2-.4-.8-.2-.8.1h-.2l-.5-.1-.8-.5-1.2-1-.1-.3-.5-.8-.6-.4-1-.1-.6-.2-1.7-1-1-1.1-.2-.1-1.9,1.2-1.6.9-1.2.3-1.2.3-.9.4h-2l-.3.1-.6.9-.8.9-.4.9-.3.4-.4.2h-.4l-1.1-.3h-.7l-1.5.3-1.5.7-.4.4-.4,1.2-.6.9-.8,1-1,.7-1.5.5-1.1.4-1-2.2v-1.1l.4-.3.1-.6-.8-1.1-.1-.3.2-.3.6-.4.1-.6v-.9l.1-1,1.1-3.2.4-.9v-.1l.2-1.2.1-.5.1-.8-.1-.8-.3-.7-.1-.5.5-1.2.6-.9,1.3-1.4.4-.5.6-1.3.1-1.1-.1-.9-.3-.5-.5-.7.6-1.9.6-1.3v-.7l-.1-.6-.3-.8.1-.6.3-.8.4-.4,1.1-.4.3-.3.1-.5-.1-.7-.1-1.6.1-.4.3-1.4.3-1.3-.1-.8-.4-1.1-.4-.8-.7-1.4-.9-.7-.7-.3-1.6-.4-.8-.3-.1-.6.1-.7.2-.9Z"/>
        <text class="cls-38" transform="translate(452.7489 502.6433)">Huer<tspan class="cls-23" x="40.9121" y="0">f</tspan><tspan x="46.9434" y="0">a</tspan><tspan class="cls-22" x="56.8154" y="0">n</tspan><tspan class="cls-52" x="67.9678" y="0">o</tspan></text>
      </g>
      <g id="Custer">
        <path id="Custer-2" data-name="Custer" class="cls-1" d="M390.6539,418.6538l13.7-.2,3.2.1,7.5.1,12.2.2.6.1,11.3.2h1.4l3.6.1,8.8.2h25.7l.1,8.4.1,4.3.1,13.1.2,13.3.2,12.7-1.4-.6-.3-.4-.2-.5.1-.8.1-.7-.1-1.3-.2-.3-.6-.4-.8-1.1-.3.1-.6.5-.5.4-.8.1-.6.3-.6.1-.7-.3-1.4-.8-.1-.5-.1-1.1-.2-.4-.5-.2-.3-.3v-.4l.2-.5v-.2l-.5-.5-.2-.4-.2-.4-.8-.6-.7-1.2-.1-.6.3-1.1-.1-.7-.3-.6-.6-.5-.8-.3-.7.1-.8.3-2.4,1.6-.4.6-.1.7.1,1-.1.3-.3.1-.4.8-.3.3-.6.4-.4,1-.3.4-.8.4-1,.8-.7.8-.7,1-.7.7-.8.9-.4.9-.1,1.5-.7,1.3-.4.6-.4.5-.4.6-.5.3-.3.1-.4-.2-1.2-3-1-1.6-.7-.4-.8-.2-.7-.1-.6.3-.8.8-.9.6-1.3.3-1.2.5-.6.3-.7.3-.6.4-2,2.1-1,.9-.6.4-.5.1-.4.1-1.5-.8-1-.4-1.8.1-1.7.4-.5-.9-.5-.4-.3-.5-.8-1.2-1-.7-.3-.6-.5-.9-.4-.6-.6-.8-1.2-.9-1.1-.9-.6-.3h-.8l-.4.1-.4.3-.4.2-.4-.1-.6-.7-.6-.5-1.5-1-.2-.3-.1-1v-.9l-.3-.7-1.3-1.4-.1-.3v-.9l-.1-.7-.1-.5.1-.4.3-.5.1-.5-.5-1-.7-1.2-.3-.3-.7-1.4-.3-1.1-.1-.1-.1-.2-.5-.2-.3-.3-.1-.6-.4-.8-.4-.6-.5-.7-.4-.6-.3-.3-.4-.6-.8-1-.7-1.1-.1-.6-.1-1.1v-.5l.3-.6-.1-.3-.6-.7-.4-.6-.6-1.1-.3-.8-.1-.4.2-.9.4-.7-.1-.2-.3-.2-.6-.3-.7-.8-.3-.1-1.1-.2-.3-.2-.6-.8-.3-.3-.1-.5-1.2-1.2-1.3-1.7-1.3-1.6-.5-.4-.8-.4-.6-.3-.2-.3-.1-.7-.4-.6-.3-.3-.9-.7-1.4-.8-.8-.5-.1-.2-.1-.7-.4-1.2-.3-.7.4-.5Z"/>
        <text class="cls-38" transform="translate(415.8528 444.8212)"><tspan class="cls-53">C</tspan><tspan x="11.5039" y="0">us</tspan><tspan class="cls-16" x="30.9922" y="0">t</tspan><tspan x="37.6797" y="0">er</tspan></text>
      </g>
      <g id="Archuleta">
        <path id="Archuleta-2" data-name="Archuleta" class="cls-1" d="M189.7539,542.3538h1l.6.1,12.6.3h2.3l10.8.3,1.9.1,13.3.3v4.3h2.1l8.8.1h3l9.4.2,4.5-.1h21.9l3.9-.1-.1,1v2.7l-.1,7.8v3.2l-.1,6.4v3.7l3.3,1.8.3.1,2.3,1.3,3.8,2,.7,6.4.3.5,9.1,17.8,1.9,5.6-13-.1h-2l-23.5-.2h-6.9l-.4-.5-.4-.5-8.1-.1-2.3-.1h-4.1l-4.1-.1-18.7-.3-21.7-.4h-3.3l-1.1-.1h-1.8l-7.1-.1.2-8.1.2-12.7.6-42.5Z"/>
        <text class="cls-38" transform="translate(199.8303 585.3175)">A<tspan class="cls-26" x="12.2559" y="0">r</tspan><tspan class="cls-24" x="19.0078" y="0">c</tspan><tspan x="28.4004" y="0">huleta</tspan></text>
      </g>
      <g id="Hinsdale">
        <path id="Hinsdale-2" data-name="Hinsdale" class="cls-1" d="M248.6539,435.2538l-.2,9.6-.1,8-.1,3.4-.2,7.6-.6.5-.1.5-.3.5-.3.1-.7-.2-.6-.5-.6-.1-.6.1-.7.3-.9-.1-.9-.5-.8-1-.4-.1-.3.1-.4.3-.8.5-1,.4h-.9l-.7-.3-.3-.1-.3.3-.4.7-.7.6-2.9.1-1.5,39.2,3,.1-.5,10.7-.2,5.6-.4,11.4v1.3l-.1.6v8.7l-13.3-.3-1.9-.1-10.8-.3h-2.3l-12.6-.3-.6-.1h-1v-4.1l.1-7.6.1-20.3.4-15.4-.1-3.6.1-.4.2-.1.4.1,1,.5h.2l.1-.3,1.1-1.8.1-.9-.1-1-.6-1.9-.5-1-.4-.5-.6-.4-.8-.8-1-.2-1.9-.1-.5-.2-.1-.1-.1-.3-.2-.8-.3-.9-.1-1.3.1-1-.3-.9-1.2-1.5-.1-.3-.1-.2.1-.9.6-1,.8-1.4v-.9l-.4-.5-.4-.8-.5-1.4-.4-.9v-.8l.1-.7.3-.6.1-.5-.5-.5-1.5-.3-.6-.3-.4-.5-.6-.8-1-.9-.8-.5-.8-.5.2-.7v-.7l.1-.7.6-.7v-.7l.1-.6.3-.4.5-.1,1,.1,1.1.3,1.2-.1.4-.3.5-.6.1-.7v-2l.1-.9.6-1,.4-.2.6-.1.3-.3.1-.7-.1-1.2.3-.2.9-.1.3-.1.1-.2-.1-.6-2.1-1.7-1-.8-.6-.1-.8.2-.6-.2-.4-.5-1-2-.1-.5.1-.3.1-.4.2-.7-.2-2.3-.3-.7-.7-.6-.1-.3v-.5l.7-.9h5.6l26,.4h4.3l18.6.2,6.9.1,5.8-.1Z"/>
        <text class="cls-38" transform="translate(189.8643 457.4488)">Hinsdale</text>
      </g>
      <g id="Montezuma">
        <path id="Montezuma-2" data-name="Montezuma" class="cls-1" d="M3.6539,529.1538l8.8-12,4.4-6,3.1-4.3,3,.1,5.5.2,8.1.2,5.7.2h.8l6.3.2v-.3l13.3.2,12.8.3,13.1.2,13,.5,11.7.3,19,.1-.2.8-.4.6-.3.2-1.2.7-.1.1-.8,1.2-.4.3-1.6.9-.3.3-1,1.7-.1.4v1.1l.2,1.2v.3l-.1.3-.1.4v1.4l.1.9-.1.5-.3.7-.4.6-.6.7-.4.3-.1.4.1,1.9v1.2l-.2,1.5.1,2.1.1.4.1.3-.4,1.5.1,1.1-.1.3-.1.5-.4.9-.4.8-.5.5-.8.4-1,.2-1,.1-.8.1-.2.1-.1.3-.1,1-.1.1-1,.9-.5.5-.7.7-.2.3-.3.5-.2.5-.2.9-.1.6v1.2l-.1.6-.1.2-.4.2-.1.1-.3.3-.4.2-.7.2-.6-.1-.5.1-.4.2-1.5,1.1-.4.3-.4.1h-.7l-1.7-.1-1.1.1-.6.1-.7.3-.6.4-.4.3-.3.7-.1.5-.4.7-1.2,1.3v.4l.8.8v.2l.1.5-.1.5-.4.9-.1.3.1.3.2.3v.5l-.3.4-.2.3-.3.7-.1.4-.4.3-.4.5-.6.7-.8.9-.2.6-.1.5-.1.3-.3.3-.4.6-.4,1-.4.6-.6.8-.3.3-.8.7-.1.1-.4.2-1,.3-.5.2-.6.4-.4.3-.2.4-.1.5-.2.9-.1.9-.4,1-.2.7-.1.8v.9l.1.7v.6l.1.4.3.7.1.5.1,1.1-.1.6-.2.8-.5.6-.9,1-.3.5-.2.8-.3,2.9-.7.6-.2.3-.1.3-.1.7-.2.9-.1.6-.3.6-.6,1.2-.2.6v.9l-.1.6-.3.5-.4.5-1,.8-.2.2-.2.3-.3,1-.1.4-.3.2-.5.3-.3.1-.4.3-.6.7-.4.6-.4.6-.3.6-.1.4-.1.9-18.7-.6-60.9-2.1,1.3-35.6.2-4.4.2-4.3.1-4.1-.1-2.3.1-3.2.1-4.1.1-2.1.4-9.4v-.9l.1-1.1Z"/>
        <text class="cls-38" transform="translate(11.4648 544.8769)">Mon<tspan class="cls-54" x="36.8154" y="0">t</tspan><tspan class="cls-55" x="43.5039" y="0">e</tspan><tspan class="cls-44" x="53.5195" y="0">zuma</tspan></text>
      </g>
      <g id="Dolores">
        <path id="Dolores-2" data-name="Dolores" class="cls-1" d="M5.9539,469.0538l20.8.8h1.1l1.2.1,3.5.1.4-1.7.1-.6h1.8l3.1.1,3.2.1,3.5.1,7.9.2,2.2.1,3.1.1,7.7.2,2.5.1,8.4.2h.6l17.6.5,4.3.1v.7l.2.6.2.4.6.6,1,.9.5.4.2.4.3.8.2,1.3.2.9.4.9.6.9.5.8.3.3.2.7.1.3.1.1.5.1h1.1l.9-.1.7-.2.6-.4.6-.5.5-.2.7-.1,1,.1.6-.1.8-.2.8-.4,1-.7.5-.6.6-.6.5-.1.4.1.4.4,1,1.5.4.1.9-.1,1.9-.8.5-.1.4.3.5.3.6.1.3-.2.6-.7.5-.3,1.3-.3,3.5-.2.8.1.7.4.8,1.1.8,1.4.3.6.4.1.9-.2.8-.1h1l.9.3,1,.6.8.7.6.7.3.8.3.7.5.5,1.3.8.6.3.2.3.4,1,.3.5.3.2.4.1.6.2.4.3.8,1.2-.7,1-.1.4.1.3.2.3.2.3.1.3.1.3-.1.4-.2.5-.5.7-.4.9-.2.7.1.9-.1.7-.2.6-.2.1h-.6l-1-.1-.8-.1-.6.1-.4.2-.6.6-.5.2-.6.3-.7.1-.4.2-.7.5-.3.1h-.4l-1-.2h-.4l-.4.1-.5.3-.5.4-.6.6-.4.6-.1.5v.7l.1.7.3.9.3,1.1.3.8.3,1,.1.7v.3l-.1.4-.2.2-.4.2-.7.3-19-.1-11.7-.3-13-.5-13.1-.2-12.8-.3-13.3-.2v.3l-6.3-.2h-.8l-5.7-.2-8.1-.2-5.5-.2-3-.1-3.1,4.3-4.4,6-8.8,12,.2-4.5.1-3,.4-9.7.1-1.7v-.6l.1-2,.1-1.8.3-6.7v-.7l.1-1.8.3-9.2.1-2.4.8-16.3Z"/>
        <text class="cls-38" transform="translate(25.3406 493.5925)">Dolo<tspan class="cls-26" x="38.9922" y="0">r</tspan><tspan x="45.7441" y="0">es</tspan></text>
      </g>
      <g id="San_Miguel" data-name="San Miguel">
        <path id="San_Miguel-2" data-name="San Miguel" class="cls-1" d="M7.6539,428.2538l46.2,1.6,2.2.1,10.7.4,6.6.2,2.4.1,13.4.5h2l8.8.2,4.1.2,19.9.5,10.6.3v1.1l1.9.1-.1,4.5,6.8.2v2.2h-.3l-.1,2h-.5l-.1,4.4.6.9v.5l-.1.3v.6l.1.3.3.5.1.7v.6l-.2.7v1.3l.1.4.1.3.5.3.4.1h1.2l.7-.1.5-.2.5-.1.6.1.5.2.5.3.3.4v.3l-.2.9-.1.3.1.3.1.1h.9l.5.1.8.3h.7l1.1.3.8.4.8.3.4.3.3.4.2.9.3.9.4.5.8.4.8.1.6.4.9.6.5.3.4.4.8,1.5.8,1.6.1.8-.4,1.1v.6l-.3,1.1-.8.8-.7.9-.9,1.1-1.3,1.6-1,1.2-.5.6.1.3.1.4-.1.2-.6,1.5-.4,1.1-.3.4-.2.3-.4.8-.2.6-.2.2-.3.1h-1l-.4.1-2.1,1.5-.1.3-.1.3.5,1.6.1.4-.1.2-.6.8-1,1.4-.6.6-.3.1h-.3l-.6-.2-.6-.1-.6.1-.3.1-.8-1.2-.4-.3-.6-.2-.4-.1-.3-.2-.3-.5-.4-1-.2-.3-.6-.3-1.3-.8-.5-.5-.3-.7-.3-.8-.6-.7-.8-.7-1-.6-.9-.3h-1l-.8.1-.9.2-.4-.1-.3-.6-.8-1.4-.8-1.1-.7-.4-.8-.1-3.5.2-1.3.3-.5.3-.6.7-.3.2-.6-.1-.5-.3-.4-.3-.5.1-1.9.8-.9.1-.4-.1-1-1.5-.4-.4-.4-.1-.5.1-.6.6-.5.6-1,.7-.8.4-.8.2-.6.1-1-.1-.7.1-.5.2-.6.5-.6.4-.7.2-.9.1h-1.1l-.5-.1-.1-.1-.1-.3-.2-.7-.3-.3-.5-.8-.6-.9-.4-.9-.2-.9-.2-1.3-.3-.8-.2-.4-.5-.4-1-.9-.6-.6-.2-.4-.2-.6v-.7l-4.3-.1-17.3-.7h-.6l-8.4-.2-2.5-.1-7.7-.2-3.1-.1-2.2-.1-7.9-.2-3.5-.1-3.2-.1-3.1-.1h-1.8l-.1.6-.4,1.7-3.5-.1-1.2-.1h-1.1l-20.8-.8.4-9.8.1-.9v-1.3l.1-3,.3-6.6.1-2.2.6-17Z"/>
        <text class="cls-38" transform="translate(26.7453 454.1456)">San Miguel</text>
      </g>
      <g id="Montrose">
        <path id="Montrose-2" data-name="Montrose" class="cls-1" d="M88.1539,353.9538l26.9.8,21.3.7,4.3.2h2.3l5.8.2,4.5.1,5,.2h1.5l2.9.1,28.1.7.1,5.3v2l-.2,6.5-.1,5.7-.2,9.6-.1,2.8v1.3l-.1.6v2.4l-.1,2.2v.9l-.2,5.6-.1,6.1-.1,3.6-2.5-.1-13.2-.2-.3-1.3.4-1.2.2-.7.3-.9h-.6l-6.2-.2-2.1-.1h-2.2l-8.6-.2-2.1-.1-4.4-.1-2.3-.1-4.3-.1-4.3-.1-2.1-.1-4.4-.2-2.3-.1-10.8-.4h-1.7l-.1,1.9h1.3v.9l2.1.1-.1,4.3,2,.1v4.2l8.5.4v.8l3.2.1v2.2l2.1.1v.9h1.9v1.2h1.2l-.1,6.8h-1.1l-.1,3.2-2.3-.1-10.6-.3-19.9-.5-4.1-.2-8.8-.2h-2l-13.4-.5-2.4-.1-6.6-.2-10.8-.5-2.2-.1-46.2-1.6v-1.1l-1.7-17.5.3-8,.1-3.3.2-3.9.1-4.1.1-2.2.2-5.3v-1.2l.2-5.1v-.1l46.6,1.6,33.4.9.7-16.7.3-8.3Z"/>
        <text class="cls-38" transform="translate(19.0586 402.8163)">Mont<tspan class="cls-26" x="43.7754" y="0">r</tspan><tspan x="50.5273" y="0">ose</tspan></text>
      </g>
      <g id="Delta">
        <path id="Delta-2" data-name="Delta" class="cls-1" d="M192.5539,273.8538l-.3,12.1-.2,15.5-.3,12.1-.1,4.2v.3l-.2,6.2v2.2l-.1,4.5-.2,8.4v.3l-.2,12.9-.1,4.3-28.1-.7-2.9-.1h-1.5l-5-.2-4.5-.1-5.8-.2h-2.3l-4.3-.2-21.3-.7-27-.7.6-23.7,15.7-6.2,2.2-.7,5.9-2.3.4-.5,1-.5,1.5-.1.4-.1.2-.4.3-.1.5.1.1-.1-.1-.4-.4-.7v-.5l.1-.4.2-.3.3-.4h.3l.4.1.5.1.4-.1.4-.2,1-1.3.8-.8.3-.5.4-.8.3-.3,1-1.5.4-.6v-.2l-.1-.3-.5-1.2-.1-.4.1-.3.3-.1.4-.2.7-.8,1.2-1,.4-.3.1-.5,1-.9.5-.7.2-.2h.2l.2.1.2.2.1.1.3-.1.6-.5.3-.3.4-.9.3-.4,1.5-1.1,1-.7,1.9-1.4.6-.5.6-.8.3-.2.3-.1h.4l1.9.2.4-.1,2.8-.5h2.6l1.4-.1,1.1-.5,1.8-.6,2.2-1.1.7-.1.4.1.6.3,2.1,1,1.7.8,1.1.4,1,.4.6.4.7.6.4.5.6,1,.3.1.2-.1,1-.7,2.4-1.8,1.5-.9,1.2-1.1.2-.2.2-.5.5-.3.6-.3.6-.2h.7l.6.1.6-.2.3-.2.2-.3.1-.5-.2-.6.1-.5.4-.5.6-.3.6-.3.2-.2.3-.3.1-.4.1-.4.3-.5.4-.7.6-.7.8-.8.9-.8,1.1-.8,1.7-1,.9-.4,1.2-.5.3-.2.1-.3.1-.5.4-.7.4-.4.4-.1,1.2-.3.6.1.4.2.8.4.4.1.3-.1.3-.2.3-.3.2-.5.1-.6.1-.6.4-.6.3-.4.5-.2.4-.1.7.1.2-.1.1-.1-.5-.7-.1-.5.1-.3.7-.5,1-.5.3-1.2Z"/>
        <text class="cls-38" transform="translate(117.6808 341.2294)">De<tspan class="cls-56" x="23.3115" y="0">l</tspan><tspan class="cls-52" x="28.752" y="0">ta</tspan></text>
      </g>
      <g id="Pitkin">
        <path id="Pitkin-2" data-name="Pitkin" class="cls-1" d="M237.7539,252.8538l46.5,1.2,34.4-.3-1.3,1.1-.8,1-.1.9.1.9.6,1.8-.1,1.3-.2.4-.6.1-.2-.2-.3.1-.7-.1-.5.5-1.2.1-.7.6-.4-.1h-.1l-.3-.2-.1-.5-.8.3-.1.2-1.4,1.1-.6.9-.2,1,.1.3v.7l.4.6,1.1,1.1.6.3.1.2v.8l.2.7-.1.5-.3.3-.2.5-.7.6-.1.2-.3.4-.3,1.1.1.5.6.6.1.4-.2,1-.1,1.5.2,1.1-.4.9-.2,1.3-.6.9-.4.5-.1.7-.1.8-.7,1.1-.4.3-.7-.1-.3-.1-.4-.2-.6-.3-.2.7h-.4l-1.3-.5-1.1.9-.2.6.1.1.3.7.1.6-.4,1v.7l.5.8v.7l-.8.9.1,1.2-.7.4-.6-.1-.6.4-.8.9.1,1.7.4.2.4.7.1,1.6.1.5v1.1l-.1.2-.1.7-.7.6-1.4.2-.1.6-.2,1,.1.4.3.1.5.4.1.4-.5.5-.1.6v.3l-.1.8.2.6-.1.9-.5.4-1.6.4-.2-.7-2.7-2.2-.1-.8-1.2-.4-.2-.7.4-1.1-1-1.7-1.1.4-1.1-.6-1.2.1-1-1.5-1.1-.1-.6.3-.3.9-1.4.4-2-.2-1,.6.5,2.2-.8.2-2.1,2.6-.7.4-.9,1-.2,1.8-.5.5h-1l-.4.6-.8.1-2.4.2-2.1-1.3-1.2-2-.5-1.6-1.9.4-.1,1.8-.7.6-1,.1-.9-.5h-.9l-.2-1.1-.9.1-2-1-1.2-1.3-2.3-.5.1-1.8-2.7-.2-.9-.5-.7-1.3.6-1,.8-.4-.1-1.2.5-.4v-.6l-.2-.6-1,.2-1.7-1.9-.9-1.1-2-.8-.4-.4-.1-.2-1.4-1.8-.8-.2-.7-1.1h-3.1l-3.5-.1-3.7-.1h-3.8l-3.6-.1h-3.6l-3.9-.1-.4-2.7-.8-1.2-.2-1.4-1.4-.5-1.3-1.2-1.6-.1-1.2-.4-1.1-.7-.3-.9-.5-1.1-1.8-1.9-.4-1.8.5-1.4-.3-1.7.4-.8.6-.3-.8-1.3-1.3-.5-.5-.9.4-1.1,1.4-.7.3-.5-.2-.6-1.6-.5-.3-.8v-1.7l-1.8.4-1-.8-1.7-.3-.4-.5.1-1h-.7l-.8.6-2.4-1.1-.1-1.2.4-.8,1.4-.4,2.4-2.6.3-2-.2-.7,36.7.6Z"/>
        <text class="cls-57" transform="translate(237.9597 280.2134)">P<tspan class="cls-44" x="11.5518" y="0">it</tspan><tspan class="cls-24" x="23.3281" y="0">k</tspan><tspan class="cls-52" x="33.8242" y="0">in</tspan></text>
      </g>
      <g id="Park">
        <path id="Park-2" data-name="Park" class="cls-1" d="M387.0539,224.3538l11.7-.1h17.7l5.5-.1h9.7l4.2.1h1l.1,3.1v23.5l.1,10.8.1,2.2.2,12.2.2,13h3.1l4.3-.1.1,17.8.1,8.7.1,12.9v13.1l-.2,12.3-2.1.1-4.1.1h-9.2l-3.7.1h-.4l-4.4.1h-1.5l-2.2.1h-2.9l-1.7.1h-2.5l-1.9.1h-.3l-1.9.1-4.3.1-2.4.1h-2.1l-4.6.1-4.3.1-2.1.1h-2l-9,.1h-2.1l-2.3.1-.1-.5.4-1,.9-1.1.9-1,.4-.8.2-.6.1-.9-.3-.8-.1-.5.2-.7.4-1.2v-.9l.1-1.1.2-.6.6-.8,1.1-1.3,1-1.2.3-.6.2-.9v-.8l-.1-.8-.5-.6-1.6-2.2-.9-1-.1-.2-.1-2.2.3-.7.6-.8.4-.6.1-.5-.1-.8-.3-.7-.1-.2-.2-.3-.4-.3h-1.2l-1.3.5-.5.2h-.7l-.4-.2-.8-1.2v-.4l.2-.4,1-1.2.1-.3-.1-.3-.3-.2-.6-.6-.5-.7-.2-.2-.8-.1-.8.1h-.4l-.4-.3-.6-.5-.4-.4-1-1.2-.6-.5-.8-.4-1.3-.4-.8-.1-.7.1-.8.3-.6.5-.3.3-.6.1-.6-.3-.4-.1-.7.1-.6-.1-.8-.4-.5-.2-.7.1-.3.1-.2-.3-.1-.5v-1l-.1-.5v-.4l.5-1,.5-.7v-.4l-.1-.7-.1-.2-.1-.2-.1-.7-.1-.4-.4-.4-.8-.4-.6-.3-.8-.1-1.3-.1h-.8l-.6.3-.6.1-.2-.1-.5-.3-.5-.7-.4-1.2-.2-.4-.2-.3-.3-.5-.1-.3-.1-.3h-.8l-.1-.3-.1-.5.3-.8.5-.9.3-.4.1-.3-.1-.3-.3-.6-.8-1.8v-.1l-.2-1.3.1-.2,2.7-3-.1-.4-.1-.4-.1-.3-.3-.5-.7-.5-.2-.1h-.3l-2.8.3-.3-.1v-.2l.2-.4.4-.3.8-1.1.5-.3.5-.5.2-.3.2-.5.6-.6.8-.7.2-.3v-.7l-.2-2.1-.1-.6-.2-1.5-.1-.7-.3-.7-.1-.6.1-.6.3-.7.2-.7v-.7l-.3-.6-.3-.3-.1-.3.1-.1.6-.4.2-.3-.1-.3.1-.2.6-.5.4-.6v-.8l-.1-.6-.5-.4-.5-.3h-.2l-.2-.1-.1-.3.3-2v-.8l-.4-1.1-.2-.6-.1-.3v-.2l-.2-.7.2-1,.4-.6.2-1.2-.3-.4-.1-1.4.6-.1.2-.3.2-.6.5-.7,2.2.3.2-.2.8-1.4.4-.5v-.3l-.2-.6-.3-.9-.3-1.5-.4-.3-.1-.2v-.3l.1-.3.6-.3.6-.3.2-.3.2-.3v-.3l-.1-.4h.8l1.3.4,1-.1,1-.2.8.1.7.5.5.7,1.2.8,1.1.6,1.2.4h1.2l1.3-.1,1.2-.2.3-.2.3-.3.2-.5-.1-1,.1-1.2.2-.6.5-.4,1.3-.3.4-.2.5-.7.4-.4,1.6-1.1.8-.5.8-.1.8-.2.2-.1.1-.3-.2-.6-.8-1.3-.4-.7-.2-.6.1-.1h.2l.6.1h.8l.5-.1.2-.1.1-.4.4-1.4.2-.6.4-.1.7-.1,1.6.1,1-.1.4-.2.2-.3.4-.8.4-.8.2-.4.8-1.2.4-.3.5-.1.2-.3.1-.5.4-.5.4-.3.4-.1.1-.3.2-.5.3-.4.4-.3.1-.1v-.3l-1.2-1.4-.1-.3.1-.4.7-1.1.4-.3.3.1.8.5.4.1.4-.1.4-.2.4-.3.6-.3.6-.2.4-.3.3-.3.1-.5.1-1.1v-.4l-.1-.3-.4-.2-.4-.3-.3-.7-.2-1Z"/>
        <text class="cls-38" transform="translate(381.1832 294.5396)"><tspan class="cls-18">P</tspan><tspan x="11.4717" y="0">a</tspan><tspan class="cls-42" x="21.3438" y="0">r</tspan><tspan x="28.1758" y="0">k</tspan></text>
      </g>
      <g id="Douglas">
        <path id="Douglas-2" data-name="Douglas" class="cls-1" d="M477.5539,223.9538l12.1-.2,12.9-.1,12.8-.1,6.4-.1.2,13.5.1,13v12.9l.2,12.9.1,12.8-19.3.2-10.2.1h-2.3l-11,.1h-2.1l-12.8.2h-13.2l-5.7.1.1-.5.1-.9.2-.4.3-.1.3-.3.1-.5.2-.7.6-1,.2-.2.4-.1.4-.6.3-.5.6-.5.4-.5.4-1.4.3-1.1.6-1.2.3-.5.3-.1.8-.1.4-.2.2-.3.1-.9.1-1.9.3-.8.3-.7.1-.3h1.1l.4-.1.6-.5,1-.7.5-.8v-.6l.1-.2.4-.1.3-.2-.2-.5-.1-.6.3-.7,1-2.6.1-.7.4-.5.9-.5v-.3l-.2-.6.1-.7.3-.1.5-.4.1-.5.3-.7.1-.6.3-1.1.6-.7.6-1.5.3-.8.4-.7-.1-1.2-.2-.8-.2-1.1-.1-.6.5-.8.1-.7-.2-.6v-.6l.1-.3.9-.7.7-.3,1.2-.8.4-.4.6-.6.8-.9.3-.6-.1-.5.1-.6.1-.9-.1-.9-.3-.5-.4-.3-.2-1v-.6l.5-.5.8-.5.5-.3.2-.6.2-.1,1.4.1.8-.3.6-.7.4-.8.3-1.2.2-.5.4-.6-.7-.7.2-1-.1-.7.4-2.4.9-1,.4-.5v-.8l.6-.6.8-.5.5-.5Z"/>
        <text class="cls-38" transform="translate(454.1638 275.6658)">Douglas</text>
      </g>
      <g id="Teller">
        <path id="Teller-2" data-name="Teller" class="cls-1" d="M444.8539,289.1538h.8l5.7-.1h13.2l12.8-.2h2.1l.8,13.4-.2,26.1-2.4.1h-2l.1,10.8,15-.2.1,2.1v13h-.3l.1,4.3v2.7l-4.4-.1-2.1-.1-6.1-.2-2.2.5-.7.2h-1.5l-9,.1-2.2.1h-6.6l-.1-4.6-.1-2.9-4.1-.1h-.3l-4.1.1h-2.4l.2-12.3v-13.1l-.1-12.9-.1-8.7.1-18Z"/>
        <text class="cls-38" transform="translate(439.3889 319.7373)"><tspan class="cls-33">T</tspan><tspan x="9.0078" y="0">eller</tspan></text>
      </g>
      <g id="Broomfield">
        <path id="Broomfield-2" data-name="Broomfield" class="cls-1" d="M475.9538,158.9538l5.3-.1v-1h2.1v-1.1h-1v-.2l.3-.4v-1.1h1.1v-.6h.7v-2.2l2.2-.1.1,6.4h-2.2l-.8,2.1v2.8h-1v-1.9h-2.1v3.8l-.2.4v.1l.1.1.3.1h.8v.6h1.1v.5l-2.1.1v3.2h-2.2v1.2h-3.2v1h-1.1v1.1h-2.9l-.4-.2-.1-1.3-.8-.6-4.6.1v1.9h2.1v1.5l-.7.2h-1.4l-2.1-.4v-2.7l1.5-.5.6-.2v-2.2h1.1v-1.6h1.1v-2.1h.7l.3.6h1.2l.1,1-1.1.1v1.5l.4.4.7-.8h2.3v-1.1h1.5v-1h.6v-1.1h2.1v-1.1l-.6-.5v-1.1l.4-.2Z"/>
        <text class="cls-58" transform="translate(447.9143 170.6275)">B<tspan class="cls-59" x="8.8359" y="0">r</tspan><tspan class="cls-60" x="13.71" y="0">oomfield</tspan></text>
      </g>
      <g id="Ouray">
        <path id="Ouray-2" data-name="Ouray" class="cls-1" d="M134.5539,432.3538l2.3.1.1-3.2h1.1l.1-6.8h-1.2v-1.2h-1.9v-.9l-2.1-.1v-2.2l-3.2-.1v-1l-8.5-.4v-4.2l-2-.1.1-4.3-2.1-.1v-.9h-1.3l.1-1.9h1.7l10.8.4,2.3.1,4.4.2,2.1.1,4.3.1,4.3.1,2.3.1,4.4.1,2.1.1,8.6.2h2.2l2.1.1,6.2.2h.6l-.3.9-.2.7-.4,1.2.3,1.3.8,1.8,1,2.2.8,1.7.1.4.3.3.6.4,1.2.5.3.3.1.6.2.9.2.6.6,1.3.1.5v1.8l.2,1.5.2,1,.4,1.6.2,1.1.1,1.5.1.3.4.5.1.6-.1.7-.2.7-.4.8-.7.9v.5l.1.3.7.6.3.7.2,2.3-.2.7.3.4-.1.3.1.5,1,2,.4.5.6.2.8-.2.6.1,1,.8,2.1,1.7.1.6-.1.2-.3.1-.9.1-.3.2.1,1.2-.1.7-.3.3-.6.1-.4.2-.6,1-.1.9v2l-.1.7-.5.6-.4.3-1.2.1-1.1-.3-1-.1-.5.1-.3.4-.1.6v.7l-.6.7-.1.7v.7l-.2.7-.3.2-1,.3-1.4.5-1.7.7h-1.5l-.4.6-.3.8v1.8l.1,2-.1.7-.4.6-1.1,1-1,.6-1,.4-1.5.1h-.4l-.3.1-.2.2-.2.1-.6.7-.4.1-.6-.1-.6-.6-1.3-.3-2-1,.3-1.1v-.6l.4-1.1-.1-.8-.8-1.6-.8-1.5-.4-.4-.5-.3-.9-.6-.6-.4-.8-.1-.8-.4-.4-.5-.3-.9-.2-.9-.3-.4-.4-.3-.8-.3-.8-.4-1.1-.3h-.4l-.8-.3-.5-.1h-.9l-.1-.1-.1-.3.1-.3.2-.9-.3-.4-.5-.3-.5-.2-.6-.1-.5.1-.5.2-.7.1h-1.2l-.4-.1-.5-.3-.1-.3-.1-.4v-1.3l.2-.7v-.6l-.1-.7-.3-.5-.1-.3v-.6l.1-.3v-.5l-.6-.9.1-4.4h.5l.1-2h.3v-2.2l-6.8-.2.1-4.5-1.9-.1v-1.1h.1Z"/>
        <text class="cls-38" transform="translate(133.4057 432.7019)">Ou<tspan class="cls-21" x="24.4961" y="0">r</tspan><tspan class="cls-23" x="31.2803" y="0">a</tspan><tspan x="40.9922" y="0">y</tspan></text>
      </g>
      <g id="San_Juan" data-name="San Juan">
        <path id="San_Juan-2" data-name="San Juan" class="cls-1" d="M160.7539,470.0538l2,1,1.3.3.6.6.6.1.4-.1.6-.7.2-.1.2-.2.3-.1h.4l1.5-.1,1-.4,1-.6,1.1-1,.4-.6.1-.7-.1-2v-1.8l.3-.8.4-.6h1.6l1.7-.7,1.4-.5,1-.3.3-.2.8.5.8.5,1,.9.6.8.4.5.6.3,1.7.5.5.5-.1.5-.3.6-.1.7v.8l.4.9.5,1.4.4.8.4.5v.6l-.8,1.4-.6,1-.1.9.1.2.1.3,1.2,1.5.3.9-.1,1,.1,1.3.3.9.2.8.1.3.1.1.5.2,1.9.1,1,.2.8.8.6.4.4.5.5,1,.6,1.9.1,1-.1.9-1.1,1.8-.1.3h-.2l-1-.5-.4-.1-.2.1-.1.4.1,3.6-.4,15.4-22.2-.4-1.8-.1h-.2l-33.5-.8.7-.3.4-.2.2-.2.1-.4v-.3l-.1-.7-.3-1-.3-.8-.3-1.1-.3-.9-.1-.7v-.7l.1-.5.4-.6.6-.6.5-.4.5-.3.4-.1h.4l1,.2h.4l.3-.1.7-.5.4-.2.7-.1.6-.3.5-.2.6-.6.4-.2.6-.1.8.1,1,.1h.6l.2-.1.2-.6.1-.7-.1-.9.2-.7.4-.9.5-.7.2-.5.1-.4-.1-.3-.1-.3-.2-.3-.2-.3-.1-.3.1-.4.7-1,.3-.1.6-.1.6.1.6.2h.3l.3-.1.6-.6,1-1.4.6-.8.1-.2-.1-.4-.5-1.6.1-.3.1-.3,2.1-1.5.4-.1h1l.3-.1.2-.2.2-.6.4-.8.2-.3.3-.4.4-1.1.6-1.5.1-.2-.1-.4-.1-.3.5-.6,1-1.2,1.3-1.6.9-1.1.7-.9-.4-.5Z"/>
        <text class="cls-38" transform="translate(125.2058 499.1151)">San Juan</text>
      </g>
      <g id="Mineral">
        <path id="Mineral-2" data-name="Mineral" class="cls-1" d="M283.7539,482.6538l.2,12.3v13.3h-2.5l.1,13.3.1,13.3v13.5h-21.9l-4.5.1-9.4-.2h-3l-8.8-.1h-2.1v-13l.1-.6v-1.6l.4-11.4.2-5.6.4-10.4-3-.1,1.5-39.2,2.9-.1.7-.6.4-.7.3-.3.3.1.7.3h.9l1-.4.8-.5.4-.3.3-.1.4.1.8,1,.9.5.9.1.7-.3.6-.1.6.1.6.5.7.2.3-.1.3-.5.1-.5.6-.5,1.6-.8.9-.8.7-.4.6-.1.6.2.8.6,1.5,1.6.4.3.4-.2.3-.3.9-.8,1-.3,2-.1h1l.5.2.7.6.6.2.1.5-.1,1,.1.3.4.2.7.5.6,1,.7,1.1.8.9.8.7.6.1,1.2-.1.6-.1.6.3.8.4.4.1.5.1.7.1.7.3.8.6.6.9,1,1.1,1,.8,1.1.5.6-.1,1-.4.6-.1.4.1,1.3,1.2.6.4,2.2.4.3.1-.2,5.7Z"/>
        <text class="cls-38" transform="translate(221.8475 511.3982)">Mi<tspan class="cls-22" x="20.0957" y="0">n</tspan><tspan x="31.248" y="0">e</tspan><tspan class="cls-61" x="41.3438" y="0">r</tspan><tspan x="48.1279" y="0">al</tspan></text>
      </g>
      <g id="Lake">
        <path id="Lake-2" data-name="Lake" class="cls-1" d="M351.0539,252.2538l.1.4v.3l-.2.3-.2.3-.6.3-.6.3-.1.3v.3l.1.2.4.3.3,1.5.3.9.2.6v.3l-.4.5-.8,1.4-.2.2-2.2-.3-.5.7-.2.6-.2.3-.6.1.1,1.4.3.4-.2,1.2-.4.6-.2,1,.2.7v.2l.1.3.2.6.4,1.1v.8l-.3,2,.1.3.2.1h.2l.5.3.5.4.1.6v.8l-.4.6-.6.5-.1.2.1.3-.2.3-.6.4-.1.1.1.3.3.3.3.6v.7l-.2.7-.3.7-.1.6.1.6.3.7.1.7.2,1.5.1.6.2,2.1v.7l-.2.3-.8.7-.6.6-.2.5-.2.3-.5.5-.5.3-.8,1.1-.4.3-.2.4v.2l.3.1,2.8-.3h.3l.2.1.7.5.3.5.1.3.1.4.1.4-2.7,3-.1.2.2,1.3v.1l-22.5-.2-8.6-.1h-13.8v-1l-.1-.5-.1-1.6-.4-.7-.4-.2-.1-1.7.8-.9.6-.4.6.1.7-.4-.1-1.2.8-.9v-.7l-.5-.8v-.7l.4-1-.1-.6-.3-.7-.1-.1.2-.6,1.1-.9,1.3.5h.4l.2-.7.6.3.4.2.3.1.7.1.4-.3.7-1.1.1-.8.1-.7.4-.5.6-.9.2-1.3.4-.9-.2-1.1.1-1.5.2-1-.1-.4-.6-.6-.1-.5.3-1.1.3-.4.1-.2.7-.6.2-.5.3-.3.1-.5.1-.4v-.8l-.1-.2-.6-.3-1.1-1.1-.4-.6v-.7l-.1-.3.2-1,.6-.9,1.4-1.1.1-.2.8-.3.1.5.3.4h.1l.4.1.7-.6,1.2-.1.5-.5.7.1.3-.1.2.2.6-.1.2-.4.1-1.3-.6-1.8-.1-.9.1-.9.8-1,1.3-1.1,1-1.1.4-.6.3-.3.4.1h.3l.9.5,1.9.9.2.3.8,1.2.4.5.4.2.4.1h.6l1.3-.3,1-.3,1.3-.3.4-.1.7.2.8.4,1.2.7.4.2.6-.1.5-.1,2.4-1.2.3-.1,1-.1.6-.2.5-.4,1.5-1.8.1-.1,1.6-.1,1.2.1.9-.1,1.8.1,1.7.2.7-.1h2Z"/>
        <text class="cls-38" transform="translate(305.8297 286.416)"><tspan class="cls-3">L</tspan><tspan x="9.7598" y="0">a</tspan><tspan class="cls-62" x="19.6318" y="0">k</tspan><tspan class="cls-44" x="29.8232" y="0">e</tspan></text>
      </g>
      <g id="Summit">
        <path id="Summit-2" data-name="Summit" class="cls-1" d="M376.2539,204.6538l.2.3.1.3.1.5-.1.3-.1.3-.4.9-.1.4.2.6,1,1.4.3.1.5.1.8-.1.4.1.4.5.4.1.4-.1,1.3-.7.6-.2.8.3.5.4.8,1.6.5.8.9.7.4.3.4.1.8-.1.3.1.4.5.2.1,1.2-.1,1.6.1.8.3.3.5.2,1,.1.9.4.8.1.5-.3.4-1.1,1-1.7,1.1-.4.7-.8.7-1.5.1-.7.2-.5.5-.1.5.1.5.4.3.4.1.1.9.3.7.4.3.4.2.1.3v.4l-.1,1.1-.1.5-.3.3-.4.3-.6.2-.6.3-.4.3-.4.2-.4.1-.4-.1-.8-.5-.3-.1-.4.3-.7,1.1-.1.4.1.3,1.2,1.4v.3l-.1.1-.4.3-.3.4-.2.5-.1.3-.4.1-.4.3-.4.5-.1.5-.2.3-.5.1-.4.3-.8,1.2-.2.4-.4.8-.4.8-.2.3-.4.2-1,.1-1.6-.1-.7.1-.4.1-.2.6-.4,1.4-.1.4-.2.1-.5.1h-.8l-.6-.1h-.2l-.1.1.2.6.4.7.8,1.3.2.6-.1.3-.2.1-.8.2-.8.1-.8.5-1.6,1.1-.4.4-.5.7-.4.2-1.3.3-.5.4-.2.6-.1,1.2.1,1-.2.5-.3.3-.3.2-1.2.2-1.3.1h-1.2l-1.2-.4-1.1-.6-1.2-.8-.5-.7-.7-.5-.8-.1-1,.2-1,.1-1.3-.4h-.8l-2.1-.1-.7.1-1.7-.2h-1.2l-.9.1-1.2-.1-.6-2.8.1-1.1.5-.8-.1-.4-.2-.3-.4-.1-1.1.5h-.2l-.1-.2-.3-1.2.1-.6.4-.6.2-.3v-.3l-.2-.4-.8-.7-.4-.5-.3-.8-.2-.5-.8-1.3-.2-.4-.2-.6.1-.7.1-1.1.2-1.4-.1-1.3.1-1,.1-.7v-.2l-.6-.5-.2-.3-.1-.6.1-.6-.2-.3-.1-.3-.1-.4.1-.3.8-.8.6-.6.8-.9h.2l.1.1.4.9.3.6.5.4.4.3.6.3.5.3.3.1.1-.1.1-.4.4-2.6.1-.1.2-.2.5-.5.1-.3-.1-.1-.8-.5-.4-.3-.2-.7-.3-1.5-.1-1.1.3-.9.4-1,.4-.5.5-.2h.6l.8.3h.6l.4-.3.3-.6.1-1.3.1-1,.1-1.2-.1-.8-.4-.7-.3-1.2-.3-.3h-1.7l-.9-.3-1-.1-.2-.3-.1-.8-.3-.1-.6.1h-.7l-.5-.4-.2-.6v-1.8l-.3-.1h-.6l-1,.1-.5-.4-.4-.6-.1-1.9v-.5l-.3-.1h-.6l-.8.5-.8-.3-.8-.8-.4-1.1-.6-1.1-.5-.4-1.2-.3-1-.8-.7-.9-.8-1.4-.6-.8-.1-.5-.1-.5-.3-.1-.4.2-.6.5-.4.2h-.7l-.6-.3-1.4-1.4-.6-.8-.4-1-.1-1.2-.3-1.1-1.7-4.6-1.1-2.7-.2-.7-.1-1.4-.1-.6-1-2.2-.1-.6.1-.4.2-.6.1-.3v-1.8l-.1-1.3-.1-.5-.4-.5-.3-.8v-.6l.2-.8h4.5l-.1,1.6,9.5-.1,2.2-.1h2.9l1.3.1,1.1.5.9.7.8.7.6.9.6.9,1,1,.8,1,.6,1,.5,1.2.9,1,.8.7,1.4,1,1.9.6.9.3.4-.1.4-.1.7-.3.6-.1.4.4.6.9.8,1,1.1,1.1,1,1.1,1,1.2.5.7.3,1.1.2,1.2.4,1.2,1,3,.5,2.4.3,1.9.2.5.2.3.5.2.8.9.3.6.3.8.6,1.2.5.8.6.6.8.5,1,.2,1.4.1.7-.1,1.2-.5,1-.3.9-.1.6-.2.9-.1h.3l.2.3.2.2.4.1.3-.1.9-.6,1-.1Z"/>
        <text class="cls-38" transform="translate(331.9534 235.7674)">Summit</text>
      </g>
      <g id="Gilpin">
        <path id="Gilpin-2" data-name="Gilpin" class="cls-1" d="M404.7539,169.8538l7.5-.1h12.9l2.8-.1,1,.1.6-.1,2.1-1h.4l.8.5.4.1.6.1,2.8-.3v3.1l.1,4.3.2,8.6v11.3h-1l-.8.2-.5.4-.5.1-.2-.1h-.1l-.3-.5-.3-.1-.1-.1-1.7.1h-.4l-1.8-.3-1.7-.2h-1.1l-.9-.3-.7-.3-1-.4-1.4-.3-1.3-.4-.8-.5-.5-.6-.1-.6-.1-.3-.1-.5-1-.9-2.3-1.6-.1-.3v-1.1l-.1-1.1-.2-.4-.1-.1h-.3l-.9.5-.4.3-.6-.1-.4-.3-.3-.2-1-.4-.8-.5-.6-.7-.4-.7-.3-.7-.4-.4-1.6-.6-.7-.2h-.8l-.6.1-.8.1-.8-.1-.6-.3-.4-.4-.3-.6-.2-1.3-.3-1.5-.1-.8.1-1.1v-.5l.3-.6.4-.7.4-1.3.3-.5.4-.6.1-.6.2-.9.4-.7Z"/>
        <text class="cls-63" transform="translate(402.5414 182.6845)">Gilpin</text>
      </g>
      <g id="Chaffee">
        <path id="Chaffee-2" data-name="Chaffee" class="cls-1" d="M344.6539,300.1538l.8,1.8.3.6.1.3-.1.3-.3.4-.5.9-.3.8.1.5.1.3h.8l.1.3.1.3.3.5.2.3.2.4.4,1.2.5.7.5.3.2.1.6-.1.6-.3h.8l1.3.1.8.1.6.3.8.4.4.4.1.4.1.7.1.2.1.2.1.7v.4l-.5.7-.5,1v.4l.1.5v1l.1.5.2.3.3-.1.7-.1.5.2.8.4.6.1.7-.1.4.1.6.3.6-.1.3-.3.6-.5.8-.3.7-.1.8.1,1.3.4.8.4.6.5,1,1.2.4.4.6.5.4.3h.4l.8-.1.8.1.2.2.5.7.6.6.3.2.1.3-.1.3-1,1.2-.2.4v.4l.8,1.2.4.2h.4l.5-.2,1.3-.5h1.2l.4.3.2.3.1.2.3.7.1.8-.1.5-.4.6-.6.8-.3.7.1,2.2.1.2.9,1,1.6,2.2.5.6.1.8v.6l-.2.9-.3.6-1,1.2-1.1,1.3-.6.8-.2.6-.1,1.1v.9l-.4,1.2-.2.7.1.5.3.8-.1.9-.2.6-.4.8-.9,1-.9,1.1-.4,1,.1.5.5.3.9.4,1.3.5.4.3,1.2,1.2.3,1,.6,1,.5.8.2.4.3,3.3.4.5.8.3,1,.4.8.7.2.6.3.8.3.9v.6l-.4.5-1.1,1.3-.4.7v.7l.2.6.6.7.2.4-.1.3-.4.3-.4.5-.3,1.1-.4.6-.8.3-.3.7v2.2l-.1.4-.3.8v.8l.3,1v.3l-.3.1-3,.4-.4.1-.6.9-1.1.8-.3.3-1.8,1.8-2.6,2.4-1.4,1.3-.6.3-.9-.2-.7-.1-.6-.3-1-.4-.4-.1-.4.1-.9.2-.3.2-.1.3v.3l-.1.5-.1.5-.6,1-.6.8-.7.8-.6.3-.8.1h-1.7l-16.9-.1-.1-.8.1-.5v-.4l.1-.4-.1-.3-.1-.1-.2-.1-.2-.1-.4-.1h-1l-.5-.3-.1-.2-.5-.4v-.6l-.1-.8-.4.1h-.8l-.2-.1-.4-.5-.1-.7-.2-1-.1-.3-.4-.3-.6-.2-.3-.3-.3-.3-.4-1.3-.4-.7-.3-.3-.5-.1-.4-.8-.4.1-.6.3-.1-.1-.2-.3-.1-.3-.6-.3-.6-.7-.2-.5.1-.4.3-.6.1-.7-.1-.6-.3-.4-.6-.4-.4-1v-1l.1-.6.3-.5.3-.7.2-.7.3-.5.1-.5-.1-.4-.1-.3-.3-.4-.3-.5-.1-.5-.6-1.2-.2-.4-.2-.5-.1-.6-.1-.3-.2-.5-.1-.5v-.5l-.1-.2v-.5l-.6-.7-.8-.4-.5.1-.6-.9v-.9l.3-.2.5-.7h-.6l-.6-.3-.9.1h-.5v-.4l.1-.3-.3-.4-.4-.1h-.3l-1,.4-.3-.1-.5-.5-.2-.3-.4-.2.1-.8-.1-1.3-.2-.4-.2-.6-.2-1.2-.2-.3-.6-.6-.4-.6-.1-.1-.1-.1-.6-1,.4-.6.7-.8,1.5-.2.8-.2.2-1.6.7-.7.1-.5-.4-1.5.3-.4-.2-1.5.5-.8.1-.3-.5-1.1.2-.6.3-.7-.2-2,.4-.4-.1-.7-.6-1.1v-.5l.1-1,.4-.3-.1-1.4,1.1-.8.8.5.4.5h.6l.9-.3v-1l.6-.7.9-.4.1-.5.5-.4-.1-1.3,1.4-.4.5.1-.1-1.3.5-.7,1.1-.5v-.4l.1-.7,1.1-.7v-.8l.6-.8-.3-.7-.2-1.6-.1-.2-.7-.1-.6.4-.9.3-1.3-.9-.7.1-.7.8-.8.1-.1-.8-.1-1.7-.5-.4-1.4,1-.1,1-1,.2-.4-.6-.7-.1-.5-.5-.2-1.3-.4-.1-1.1.5-.6,1.4-.5-.1-1.3.5-1.2.3-.8-.3-1.4-.9-1-1.1-.5-.8-1.4-1v-1.1l-1.1-.5-.6-.8-.8-.4-.1-.8.6-1-.4-1-.5-.7-.4-.6-.9-.9-1.1-.6-.3-1.1h-.6l-.4.3-.7.3-1,.6-.3-.2-1.8.1-.5-1.1.5-.4.1-.9-.2-.6.1-.8v-.3l.1-.6.5-.5-.1-.4-.5-.4-.3-.1-.1-.4.2-1,.1-.6,1.4-.2.7-.6.1-.7.1-.2v-.1h13.8l8.6.1,22.6,1Z"/>
        <text class="cls-38" transform="translate(326.4213 346.4133)">Chaf<tspan class="cls-61" x="38.8477" y="0">f</tspan><tspan x="44.9277" y="0">ee</tspan></text>
      </g>
</svg>
