$button-bg-color: $pink;
$button-color: #fff;
$button-border: 1px solid $button-bg-color;
$button-border-radius: 8px;
$button-hover-background: shade($button-bg-color, 15%);
$button-padding: 10px 30px;
$button-margin: 15px 10px 0 0;
$button-font-weight: 400;

$button-subdued-bg-color: #fff;
$button-subdued-color: $button-bg-color;
$button-subdued-border: 1px solid $button-bg-color;
$button-subdued-hover-background: shade($button-subdued-bg-color, 5%);

input[type="submit"],
button:not(.open-panel):not(.close-panel),
.btn {
  background-color: $button-bg-color;
  color: $button-color;
  border: $button-border;
  border-radius: $button-border-radius;
  padding: $button-padding;
  margin: $button-margin;
  font-weight: $button-font-weight;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: $button-hover-background;
    color: $button-color;
    text-decoration: none;
  }

  &.subdued {
    background-color: $button-subdued-bg-color;
    color: $button-subdued-color;
    border: $button-subdued-border;
    &:hover {
      background-color: $button-subdued-hover-background;
    }
  }

  &.grey {
    background: $dark-grey;
    border: 0 none;

    &:hover,
    &:focus {
      background: mix($shade, $dark-grey, 20%);
      border: 0 none;
    }
  }

  &.block {
    display: block;
    text-align: center;
  }
}

.button-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;

  &.align-center {
    justify-content: center;
  }

  > * {
    margin: 0;
  }
}
