// the following was taken from Bootstrap 3, with my own variables added at the top.

$input-hover-border-color: $primary-color;
$input-text-color: $text-color;
$input-bg-color: #ffffff;
$input-border-color: #cccccc;
$input-border-color-hover: shade($input-border-color, 30%);
$input-border-color-focus: $primary-color;

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}
label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin: 15px 0 5px 0;
  font-weight: bold;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $input-text-color;
  background-color: $input-bg-color;
  background-image: none;
  border: 1px solid $input-border-color;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  @include transition( border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover{
  border-color: $input-border-color-hover;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus{
  border-color: $input-border-color-focus;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($input-border-color-focus, 0.6);
}
textarea{
  height: 100px;
}

.input-group{
  display:table;
  width: 100%;
  vertical-align: middle;
  position: relative;
  border-collapse: separate;
  input{
    display: table-cell;
    height: 28px;
  }
  .btn-wrap{
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    width: 1px;
    button{
      padding:3px 10px;
      height: 28px;
      margin:0;
      @include font-size(1.4);
      vertical-align: top;
    }
  }
}

.checkbox {
  [type=checkbox] {
    position: absolute;
    left: -9999px;
  }

  label {
    position: relative;
    padding-left: 24px;
  }

  label:before {
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-right: 6px;
    background-color: $pink;
    -webkit-mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M0,0H12V12H0ZM1,1H11V11H1Z" fill-rule="evenodd"/></svg>');
    mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M0,0H12V12H0ZM1,1H11V11H1Z" fill-rule="evenodd"/></svg>');
    -webkit-mask-position: center center;
    mask-position: center center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 16px 16px;
    -webkit-mask-size: 16px 16px;
    z-index: 1;
    content: "";
  }

  [type=checkbox]:checked + label:before,
  label.is-checked:before { // background, checked state
    -webkit-mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.69 38.69"><path d="M0,0H38.69V38.69H0ZM7.23,20.19a1.37,1.37,0,0,1,0-1.93l1.93-1.93a1.37,1.37,0,0,1,1.93,0l6,6L29.88,9.51a1.36,1.36,0,0,1,1.93,0h0l1.93,1.93a1.37,1.37,0,0,1,0,1.93L18,29.07a1.37,1.37,0,0,1-1.94,0h0L7.23,20.19Z" fill-rule="evenodd"/></svg>');
    mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.69 38.69"><path d="M0,0H38.69V38.69H0ZM7.23,20.19a1.37,1.37,0,0,1,0-1.93l1.93-1.93a1.37,1.37,0,0,1,1.93,0l6,6L29.88,9.51a1.36,1.36,0,0,1,1.93,0h0l1.93,1.93a1.37,1.37,0,0,1,0,1.93L18,29.07a1.37,1.37,0,0,1-1.94,0h0L7.23,20.19Z" fill-rule="evenodd"/></svg>');
    background-color: mix($shade, $pink, 1%);
  }
}

.radio {
  [type=radio] {
    position: absolute;
    left: -9999px;
  }

  label {
    display: inline-flex;
    align-items: center;

    &:before {
      display: block;
      margin-right: 6px;
      width: 16px;
      height: 16px;
      border: none;
      background-color: $pink;
      mask-position: top center;
      -webkit-mask-position: top center;
      mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.75 21.75"><circle cx="10.88" cy="10.88" r="10.38" fill="transparent" vector-effect="non-scaling-stroke" stroke="currentColor"/></svg>');
      -webkit-mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.75 21.75"><circle cx="10.88" cy="10.88" r="10.38" fill="transparent" vector-effect="non-scaling-stroke" stroke="currentColor"/></svg>');
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: 100% 100%;
      -webkit-mask-size: 100% 100%;
      content: "";
    }
  }

  [type=radio]:checked + label:before,
  label.is-checked:before { // background, checked state
    mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.75 21.75"><circle cx="10.88" cy="10.88" r="10.38" fill="transparent" vector-effect="non-scaling-stroke" stroke="currentColor"/><circle cx="10.88" cy="10.88" r="7.34" fill="currentColor"/></svg>');
    -webkit-mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.75 21.75"><circle cx="10.88" cy="10.88" r="10.38" fill="transparent" vector-effect="non-scaling-stroke" stroke="currentColor"/><circle cx="10.88" cy="10.88" r="7.34" fill="currentColor"/></svg>');
    background-color: mix($shade, $pink, 1%);
  }
}
