//use rems with fallback
body{
    font-family: $base-font-family;
    font-weight: $paragraph-font-weight;
    line-height: $base-line-height;
    color: $text-color;
    @include font-size( $base-font-size * 0.5 );
    @include breakpoint($above-skinny){
        @include font-size( $base-font-size );
    }
}
p{
    margin: 0 0 1em 0;
}

b, strong{
    font-weight: 600;
}

a {
    color: $link-color;
    text-decoration: underline;
    transition: all 0.5s;

    &:hover{
        color: shade($link-color, 25%);
    }
}

.pink-text {
  p {
    color: $link-color;
  }


  h4 {
    color: $text-color;
  }
}

.media-link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-color;
  margin-bottom: 20px;

  &:hover {
    color: $link-color;
  }
}


figure {
  margin: 0;
}


small{
    font-size: 0.8em;
}
h1, h2, h3, h4, h5, h6{
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
    color: $header-color;
    margin: 0.5em 0;
    &:first-child{
        margin-top:0;
    }
    small{
        color: tint($header-color, 50%);
    }
    a{
        color: $header-link-color;
        text-decoration: none;
        &:hover{
            color: $header-link-color-hover;
        }
        &:active{
            color: $header-link-color-active;
        }
    }
}

h6{
    font-weight: 700;
}


//sort of complicated type sizes. trying something new here. Basically keeping
//all proportions consistent while adjusting a global setting.

@mixin type-sizes($multiplier: 1){
    //use this because we're using base-font-size set at 1.6 for
    // the REM fallback..
    p, li, div, table, label, input, button{
        @include font-size( $paragraph-font-size * $multiplier );
        .small &{
            @include font-size( $paragraph-font-size * 0.8 * $multiplier );
        }
    }
    h1{ @include font-size( $paragraph-font-size * 2.3 * $multiplier); }
    h2{ @include font-size( $paragraph-font-size * 1.2 * $multiplier); }
    h3{ @include font-size( $paragraph-font-size * 1.2 * $multiplier); }
    h4{ @include font-size( $paragraph-font-size * 1.2 * $multiplier); }
    h5{ @include font-size( $paragraph-font-size * 1.2 * $multiplier); }
    h6{ @include font-size( $paragraph-font-size * 1.2 * $multiplier); }
}

@include type-sizes(0.8);

@include breakpoint($above-skinny){
    @include type-sizes(0.9);
}

@include breakpoint($above-normal){
    @include type-sizes(1);
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.old-ie{
    @include type-sizes(1);
}
hr {
  border: 0 none;
  border-top: 4px dotted $text-color;
}
