html,
body {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}

.svg-map-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 72.44%;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 2em;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.mobile-only {
  display: block;
  @include breakpoint($above-stacked) {
    display: none;
  }
}
.desktop-only {
  display: none;
  @include breakpoint($above-stacked) {
    display: block;
  }
}

//this totally shouldn't be necessary
.old-ie {
  .l-header,
  .l-footer,
  .l-sidebar,
  .l-main-nav-block,
  .l-main-content-wrap {
    display: block;
  }
}

//breakpoint settings
@include breakpoint-set("no query fallbacks", true);

.float-right {
  float: right;
  margin: 0 0 20px 20px;
}
.float-left {
  float: left;
  margin: 0 20px 20px 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 16px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.clearfix {
  @include clearfix();
}
.pos-rel {
  position: relative;
}
hr {
  border-width: 0;
  border-top: 1px solid $primary-color;
  margin: 2em 0;
  clear: both;
  @include clearfix();
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

//use rems with fallback, then the font-size mixin for fallbacks
html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//trying to remove compass dependancy
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin linear-gradient($fromColor, $toColor) {
  //background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($fromColor),
    to($toColor)
  ); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(
    left,
    $fromColor,
    $toColor
  ); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    left,
    $fromColor,
    $toColor
  ); /* FF3.6 */
  background-image: -ms-linear-gradient(left, $fromColor, $toColor); /* IE10 */
  background-image: -o-linear-gradient(
    left,
    $fromColor,
    $toColor
  ); /* Opera 11.10+ */
  background-image: linear-gradient(left, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$fromColor}', EndColorStr='#ffffff');
}

.video-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0;
  height: 0;
  margin-bottom: 20px;
  iframe,
  object,
  embed {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
  }
}

// Function to create an optimized svg url
// Source: http://codepen.io/jakob-e/pen/doMoML
// Explained: https://codepen.io/tigt/post/optimizing-svgs-in-data-uris
@function svg-url($svg) {
  //  Chunk up string in order to avoid
  //  "stack level too deep" error
  $encoded: "";
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg) / $slice);

  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    // Encode (may need a few extra replacements)
    $chunk: str-replace($chunk, '"', "'");
    $chunk: str-replace($chunk, "<", "%3C");
    $chunk: str-replace($chunk, ">", "%3E");
    $chunk: str-replace($chunk, "&", "%26");
    $chunk: str-replace($chunk, "#", "%23");
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }

  @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

.skip-to-content-link {
  left: 10px;
  top: 10px;
  position: absolute;
  transform: translateY(-200%);
  z-index: 100;
  background: $pink;
  color: white;
  padding: 4px;

  &:focus {
    transform: translateY(0%);
  }
}
