// This is how you override the global grid
// @include span(4 of 24 1/8);

// breakpoint variables
$above-stacked: 740px;
$above-skinny: 767px;
$above-normal: 990px;
$above-wide: 1300px;

// This is how no-media-queries works in breakpoint.
// When you want the selector to apply to old-ie, use this.
// @include breakpoint($above-stacked, $no-query: '.old-ie'){}


//colors
$purple: #555678;
$pink: #A41F67;
$orange: #F68D2B;
$beige: #feefde;
$light-grey: #D8D9D7;
$dark-grey: #6F7272;
$blue: #356680;

//color keywords
$primary-color: $pink;
$text-color: $dark-grey;
$link-color: $pink;

//global styles
$body-bg: $light-grey;
$selection-color: #fff;
$selection-bg: $primary-color;

$shade: #000;
$tint: #fff;

$well-bg: $dark-grey;
$well-border: shade( $well-bg, 20%);
$well-padding: 20px;

//type and important global styles
$base-font-size: 1.6;
$base-line-height: 1.4;
$base-font-family: 'Montserrat', sans-serif;
$paragraph-font-weight: 400; //400 and 700 are also installed
$paragraph-font-size: 2.0; //this uses the rem-calc mixin
$small-paragraph-font-size: 1.6;

$alt-font-family: $base-font-family;
$header-font-family: $base-font-family;
$header-font-weight: 700;
$header-line-height: 1.2;
$header-color: $primary-color;
$header-link-color: $link-color;
$header-link-color-hover: shade($header-link-color, 30%);
$header-link-color-active: shade($header-link-color-hover, 30%);
