{% extends "base.njk" %}


{% block bodyclass %}blog{% endblock %}
{% block site_title %}News {{ super() }}{% endblock %}

{% block content %}
{% block primary %}{% endblock primary %}
{% endblock content %}
