{% extends "blog/base.njk" %}

{% block primary %}


        {% for post in collections.news | reverse %}
        <div class="post-wrap">

            <h2><a href="{{ post.url }}" class="post-link">{{ post.data.title }}</a></h2>

            {% if post.data.main_content_image %}
                <div class="blog-post-images">
                    <img src="{{ post.data.main_content_image | imgix }}?w=200&h=200" />
                </div>
            {% endif %}
            {{ post.data.summary | md | safe }}
            <p class="more"><a href="{{ post.url }}" class="post-link">read more...</a></p>
        </div>
        {% endfor %}

{% endblock %}
