{% extends "blog/base.njk" %}
{% block head_title %}{{ page.title }} &mdash; {% endblock %}

{% block aboveblog %}
{% endblock aboveblog %}

{% block primary %}
    <h1>{{ title | safe }}</h1>
    {% block pageimages %}
    	{% if main_content_image %}
    	 <div class="blog-post-images">
        	<img src="{{ main_content_image | imgix }}?w=250&h=350" />
        </div>

    	{% endif %}
  	{% endblock %}

  	{{ layoutContent | safe }}
{% endblock %}
