{% extends "pages/default.njk" %}


{% block content %}
  <ul class="faq-section">
    {% for item in faq %}
    <li class="faq-module">
      <a class="expand down"><span>{{ item.question | safe }}</span></a>
      <div class="answer show">
          {{ item.answer | md | safe }}
      </div>
    </li>
      {% endfor %}
  </ul>
{% endblock content %}
