  {% extends "base.njk" %}
{% block content %}
    <img style="margin-bottom: 2em;" src="{{ main_content_image | imgix }}?w=1300&h=350&fit=crop" data-srv-image="main_content_image"/>

    {{ layoutContent | safe }}



{% endblock content %}
