{% extends "base.njk" %}


{% block bodyclass %}bodyclass-home{% endblock %}

{% block masthead %}
<div class="l-home-masthead">
  <div class="l-container masthead-text">
      <div class="absolute">
        {{ mastheadtext | md | safe }}
      </div>
  </div>
  <img class="masthead-img" src="/dist/img/masthead.jpg" />
</div>
{% endblock masthead %}


{% block maincontent %}

<section class="l-home-callouts">
    <div class="l-container">
        <div class="l-one-third">
            {{ homecallout3 | md | safe}}
        </div>
        <div class="l-one-third">
            {{ homecallout2 | md | safe }}
        </div>
        <div class="l-one-third l-last">
              {{ layoutContent | safe }}
        </div>
    </div>
</section>




{% endblock maincontent %}
