{% extends "pages/default.njk" %}
{% block content %}
    <div class="intro">
        {{ layoutContent | safe }}
    </div>

    <hr role="presentation"/>
    <div class="clearfix">
        <div class="l-two-thirds">
            <h4>Buscar por condado</h4>
            {% include "map-include.njk" %}
        </div>
        <div class="l-one-third l-last">
            <h4>Buscar por ciudad</h4>
            <select id="selectCity">
                <option val="">Seleccione una ciudad...</option>
                <option>Akron</option>
                <option>Aspen</option>
                <option>Aurora</option>
                <option>Boulder</option>
                <option>Brighton</option>
                <option>Broomfield</option>
                <option>Burlington</option>
                <option>Canon City</option>
                <option>Castle Rock</option>
                <option>Centennial</option>
                <option>Cheyenne Wells</option>
                <option>Clifton</option>
                <option>Colorado Springs</option>
                <option>Cortez</option>
                <option>Craig</option>
                <option>Crested Butte</option>
                <option>Delta</option>
                <option>Denver</option>
                <option>Durango</option>
                <option>Eads</option>
                <option>Eagle</option>
                <option>Elizabeth</option>
                <option>Estes Park</option>
                <option>Fort Collins</option>
                <option>Fort Morgan</option>
                <option>Frisco</option>
                <option>Glenwood Springs</option>
                <option>Grand Junction</option>
                <option>Granby</option>
                <option>Greenley</option>
                <option>Gunnison</option>
                <option>Holyoke</option>
                <option>Hotchkiss</option>
                <option>Julesburg</option>
                <option>La Junta</option>
                <option>Lafayette</option>
                <option>Lake City</option>
                <option>Lamar</option>
                <option>Las Animas</option>
                <option>Leadville</option>
                <option>Limon</option>
                <option>Littleton</option>
                <option>Longmont</option>
                <option>Loveland</option>
                <option>Meeker</option>
                <option>Montrose</option>
                <option>Naturita</option>
                <option>Norwood</option>
                <option>Ordway</option>
                <option>Pagosa Springs</option>
                <option>Parker</option>
                <option>Pueblo</option>
                <option>Rangely</option>
                <option>Ridgway</option>
                <option>Rocky Ford</option>
                <option>Salida</option>
                <option>Springfield</option>
                <option>Steamboat Springs</option>
                <option>Sterling</option>
                <option>Telluride</option>
                <option>Thornton</option>
                <option>Vail</option>
                <option>Walden</option>
                <option>Westcliffe</option>
                <option>Wheat Ridge</option>
                <option>Woodland Park</option>
                <option>Wray</option>
                <option>Yuma</option>
            </select>

            <hr role="presentation"/>
            <div class="map-sidebar-text">
                <p>Todos los proveedores son diferentes. No olvide preguntarle a su proveedor sobre lo siguiente:</p>
                <h4>Cuidado infantil • Transporte<br>Servicios de salud móvil (MAT)</h4>
                <p>para apoyar su camino hacia la recuperación</p>
            </div>
        </div>
    </div>
    <hr role="presentation"/>

    <div class="services-list">
        <h4>Servicios prestados</h4>
        <ul class="icon-list">
            <li>
                <span class="label">Cuidado de niños</span><img src="/dist/img/1-teddy.svg" alt="Cuidado de niños icon"/></li>
            <li>
                <span class="label">Transporte</span><img src="/dist/img/2-bus.svg" alt="Transporte icon"/></li>
            <li>
                <span class="label">Co-tratamiento Madre&nbsp;/&nbsp;Niño</span><img src="/dist/img/3-mom-kid.svg" alt="Co-tratamiento Madre / Niño icon"/></li>
            <li>
                <span class="label">Tratamiento&nbsp;solo para&nbsp;mujeres</span><img src="/dist/img/4-female.svg" alt="Tratamiento solo para mujeres icon"/></li>
            <li>
                <span class="label">Tratamiento&nbsp;prioritario para&nbsp;mujeres embarazadas</span><img src="/dist/img/5-pregnant.svg" alt="Tratamiento prioritario para mujeres embarazadas icon"/></li>
            <li>
                <span class="label">Teleterapia</span><img src="/dist/img/6-zoom.svg" alt="Teleterapia icon"/></li>
            <li>
                <span class="label">Servicios de habla hispana</span><img src="/dist/img/7-ESP.svg" alt="Servicios de habla hispana icon"/></li>
            <li>
                <span class="label">Residencial</span><img src="/dist/img/8-residential.svg" alt="Residencial icon"/></li>
        </ul>
    </div>
    <p class="intro">
  Muchos de nuestros centros ofrecen servicios exclusivos para sus necesidades. Coloque el cursor
  sobre los íconos de arriba para obtener más información sobre lo que representan. Cada una de las
  listas a continuación indicará qué servicios prestan según su centro.
</p>

    <hr id="scrollpoint">
    <h4>Tu MSO</h4>
    <div class="mso is-active clearfix" data-mso-item="Signal">
        <div class="l-one-third">
            <a href="https://signalbhn.org" target="_blank"  title="opens in a new tab" >
                <img src="/uploads/signal.png" alt="Signal Health"/>
            </a>
        </div>
        <div class="l-two-thirds l-last">
            <p>Prestamos servicios al noreste de Colorado, el área metropolitana de Denver y el sureste de Colorado, incluido el Valle de San Luis.</p>
            <div class="mso-contact">
                <p>
                    <a href="tel:888-607-4462">888-607-4462</a><br>
                    <a href="http://signalbhn.org">signalbhn.org</a>
                </p>
            </div>
        </div>
    </div>
    <div class="mso clearfix" data-mso-item="Diversus Health">
        <div class="l-one-third">
            <a href="https://diversushealth.org/" target="_blank"  title="opens in a new tab" >
                <img src="/dist/img/Diversus_Logo.jpg" style="-webkit-mix-blend-mode: multiply;mix-blend-mode: multiply; -webkit-filter: grayscale(1); filter: grayscale(1);margin:8px auto;display:block;" width="208" height="132">
            </a>
        </div>
        <div class="l-two-thirds l-last">
            <p>Prestamos servicios en los siguientes condados: El Paso, Teller, Fremont, Custer, Park, Lake y Chaffee.</p>
            <div class="mso-contact">
                <p>
                    <a href="tel:720-279-8700">719-572-6100</a><br>
                    <a href="https://diversushealth.org/">diversushealth.org</a>
                </p>
            </div>
        </div>
    </div>

    <div class="mso clearfix" data-mso-item="Mental Health Partners">
        <div class="l-one-third">
            <a href="https://www.mhpcolorado.org" target="_blank"  title="opens in a new tab" >
                <img src="/uploads/MHP.Logo_bw_300dpi.png" width="253.56643356643357">
            </a>
        </div>
        <div class="l-two-thirds l-last">
            <p>Prestamos servicios en las áreas de Boulder, Lafayette y Longmont.
</p>
            <div class="mso-contact">
                <p>
                    <a href="tel:303-443-8500">303-443-8500</a><br>
                    <a href="https://www.mhpcolorado.org">mhpcolorado.org</a>
                </p>
            </div>
        </div>
    </div>
    <div class="mso clearfix" data-mso-item="West Slope Casa">
        <div class="l-one-third">
            <a href="http://www.westslopecasa.com" target="_blank"  title="opens in a new tab" >
                <img src="/uploads/WSC.png" width="260.33256880733944" height="115"></a>
        </div>
        <div class="l-two-thirds l-last">
            <p>Prestamos servicios en la región de Western Slope de Colorado, que cubre 21 condados rurales o fronterizos de Western Slope y más de 30,000 millas cuadradas de territorio montañoso y de desierto de altura.</p>
            <div class="mso-contact">
                <p>
                    <a href="tel:970-379-0132">970-379-0132</a><br>
                    <a href="http://www.westslopecasa.com">westslopecasa.com</a>
                </p>
            </div>
        </div>
    </div>

    <hr role="presentation"/>

    <!--<p>
{% for post in collections.providers | reverse %}
{{ post.data.county }}<br>
{% endfor %}
</p>-->

    <div id="map-content" class="map-grid">
        {% for post in collections.providers | reverse %}
            {%if post.data.title == "fake" %}
                <div class="map-item" style="position:absolute;width:1px;height:1px;overflow:hidden;" data-mso="{{ post.data.mso }}" data-county="{{ post.data.county }}" data-city="{{ post.data.city }}" data-tags="{{ post.data.tags }}"></div>
            {% else %}
                <div class="map-item" data-mso="{{ post.data.mso }}" data-county="{{ post.data.county }}" data-city="{{ post.data.city }}" data-tags="{{ post.data.tags }}">
                    <h4>{{ post.data.title }}</h4>
                    <p>Phone: <a href="tel:{{post.data.phone}}">{{post.data.phone}}</a><br>
                        {% if post.data.site %}
                            <a href="{{ post.data.site}}">Website</a>
                        {% endif %}
                    </p>
                    {{ post.data.content | md | safe }}

                    <ul class="icon-list small">
                        {% for tag in post.data.tags %}
                            {% if tag == 'Childcare' %}
                                <li>
                                    <span class="label">Cuidado de niños</span><img src="/dist/img/1-teddy.svg" alt="{{ tag }} icon"/></li>
                            {% endif %}
                            {% if tag == 'Transportation' %}
                                <li>
                                    <span class="label">Transporte</span><img src="/dist/img/2-bus.svg" alt="Transporte icon"/></li>
                            {% endif %}
                            {% if tag == 'Mother/Child Co-Treatment' %}
                                <li>
                                    <span class="label">Co-tratamiento Madre / Niño</span><img src="/dist/img/3-mom-kid.svg" alt="Co-tratamiento Madre / Niño icon"/></li>
                            {% endif %}
                            {% if tag == 'Women Only Treatment' %}
                                <li>
                                    <span class="label">Tratamiento&nbsp;solo para&nbsp;mujeres</span><img src="/dist/img/4-female.svg" alt="Tratamiento solo para mujeres icon"/></li>
                            {% endif %}
                            {% if tag == 'Pregnant Women Priority Treatment' %}
                                <li>
                                    <span class="label">Tratamiento&nbsp;prioritario para&nbsp;mujeres embarazadas</span><img src="/dist/img/5-pregnant.svg" alt="Tratamiento prioritario para mujeres embarazadas icon"/></li>
                            {% endif %}
                            {% if tag == 'Teletherapy' %}
                                <li>
                                    <span class="label">Teleterapia</span><img src="/dist/img/6-zoom.svg" alt="Teleterapia icon"/></li>
                            {% endif %}
                            {% if tag == 'Spanish-speaking services' %}
                                <li>
                                    <span class="label">Servicios de habla hispana</span><img src="/dist/img/7-ESP.svg" alt="Servicios de habla hispana icon"/></li>
                            {% endif %}
                            {% if tag == 'Residential' %}
                                <li>
                                    <span class="label">Residencial</span><img src="/dist/img/8-residential.svg" alt="Residencial icon"/></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}