{% extends "pages/default.njk" %}


{% block content %}
<div class="map-item" data-mso="{{ mso }}" data-county="{{ county }}" data-city="{{ city }}" data-tags="{{ tags }}">
    <h4>{{ title }}</h4>
    <p>Phone: <a href="tel:{{phone}}">{{phone}}</a><br>
    {% if site %}<a href="{{ site}}">Website</a>{% endif %}</p>
    {{ layoutContent | safe }}

    <ul class="icon-list small">
    {% for tag in tags %}
      {% if tag == 'Childcare' %}<li><span class="label">Childcare</span><img src="/dist/img/1-teddy.svg" alt="{{ tag }} icon" /></li>{% endif %}
      {% if tag == 'Transportation' %}<li><span class="label">Transportation</span><img src="/dist/img/2-bus.svg" alt="Transportation icon" /></li>{% endif %}
      {% if tag == 'Mother/Child Co-Treatment' %}<li><span class="label">Mother/Child Co-Treatment</span><img src="/dist/img/3-mom-kid.svg" alt="Mother/Child Co-Treatment icon" /></li>{% endif %}
      {% if tag == 'Women Only Treatment' %}<li><span class="label">Women Only Treatment</span><img src="/dist/img/4-female.svg" alt="Women Only Treatment icon" /></li>{% endif %}
      {% if tag == 'Pregnant Women Priority Treatment' %}<li><span class="label">Pregnant&nbsp;Women Priority&nbsp;Treatment</span><img src="/dist/img/5-pregnant.svg" alt="Pregnant Women Priority Treatment icon" /></li>{% endif %}
      {% if tag == 'Teletherapy' %}<li><span class="label">Teletherapy</span><img src="/dist/img/6-zoom.svg" alt="Teletherapy icon" /></li>{% endif %}
      {% if tag == 'Spanish-speaking services' %}<li><span class="label">Spanish-speaking services</span><img src="/dist/img/7-ESP.svg" alt="Spanish-speaking services icon" /></li>{% endif %}
      {% if tag == 'Residential' %}<li><span class="label">Residential</span><img src="/dist/img/8-residential.svg" alt="Residential icon" /></li>{% endif %}
    {% endfor %}
    </ul>

    <p>City: {% for i in city %}<span style="display:inline-block;padding:4px 10px;background:rgba(0,0,0,0.1);margin: 0 4px 4px 0;border-radius:6px;">{{ i }}</span>{% endfor %}</p>

    <p>County: {% for i in county %}<span style="display:inline-block;padding:4px 10px;background:rgba(0,0,0,0.1);margin: 0 4px 4px 0;border-radius:6px;">{{ i }}</span>{% endfor %}</p>

    <p>MSO: <span style="display:inline-block;padding:4px 10px;background:rgba(0,0,0,0.1);margin: 0 4px 4px 0;border-radius:6px;">{{ mso }}</span></p>
</div>


{% endblock content %}
