{% extends "pages/default.njk" %}


      <div class="faq-module question">
        <div class="icon-col paci"><br></div>
        <div class="text-col">
          <p><strong>Question</strong></p>
          {{ layoutContent | safe }}

          <a class="expand">Answer</a>
          <div class="answer">
          </div>
        </div>
      </div>
