{% extends "pages/default.njk" %}

{% block content %}

    <div class="l-container no-pad">
        <div class="l-two-thirds">
            {{ layoutContent | safe }}

            <div class="l-container no-pad  pink-text">
                <hr role="presentation"/>
                <h4>Campaign Resources</h4>
                <div class="l-half">
                    <p>
                        <strong>LOGOS</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/ToughasaMother_Logos.zip">
                        <img src="/resources/ToughasaMother_black_with_tag.png" alt="Tough as a Mother Logos"/><br>
            DOWNLOAD ALL (.ZIP)
        </a>
                </div>
                <div class="l-half l-last">
                    <p>
                        <strong>CAMPAIGN OVERVIEW</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/Campaign_Overview/ToughasaMother_Overview_fa.pdf">
                        <img src="{{ '/resources/Campaign_Overview/ToughasaMother_Overview_fa.pdf' | imgix }}?w=300" alt="Campaign Overview"/><br>
            DOWNLOAD
        </a>

                </div>
            </div>

            <div class="l-container no-pad">
                <hr role="presentation"/>
                <h5>CAMPAIGN TOOLKIT</h5>
                <div class="l-half">
                    <p>
                        <strong>CRISIS LINE CARDS</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/Crisis_Line_Cards/ToughasaMother_crisiscard_fa_ESUS.pdf">
                        <img src="{{ '/resources/Crisis_Line_Cards/ToughasaMother_crisiscard_fa_ESUS.pdf' | imgix }}?w=300" alt="Campaign Toolkit"/><br>
            DOWNLOAD
        </a>

                    <p>
                        <strong>RACK CARDS</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/Rack_Card/ToughasaMother_rackcard_fa_ESUS.pdf">
                        <img src="{{ '/resources/Rack_Card/ToughasaMother_rackcard_fa_ESUS-02.jpg' | imgix }}?w=300" alt="Rack Cards"/><br>
            DOWNLOAD

        </a>

                    <p>
                        <strong>PRESS RELEASE</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/PR/TAAM_Press_Release_Template.docx">
                        <img src="{{ '/resources/PR/ToughasaMother_PressRelease_fa.pdf' | imgix }}?w=300" alt="Press Release"/><br>
            DOWNLOAD
        </a>
                </div>
                <div class="l-half l-last">
                    <p>
                        <strong>POSTER</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/Poster/ToughasaMother_posters_fa2_Eng_Span_ESUS-01.jpg">
                        <img src="{{ '/resources/Poster/ToughasaMother_posters_fa2_Eng_Span_ESUS-01.jpg' | imgix }}?w=300" alt="Poster"/><br>
            DOWNLOAD
        </a>

                    <p>
                        <strong>FAMILY FIRST CARDS</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/Family_First_Card/ToughasaMother_FamilyFirstCard_fa_ESUS.pdf">
                        <img src="{{ '/resources/Family_First_Card/ToughasaMother_FamilyFirstCard_fa_ESUS-02.jpg' | imgix }}?w=300" alt="Family First Cards"/><br>
            DOWNLOAD
        </a>

                    <p>
                        <strong>FLYER</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/Flyer/ToughasaMother_flyer_fa2_ENG_SPAN.jpg">
                        <img src="{{ '/resources/Flyer/ToughasaMother_flyer_fa2_ENG_SPAN.jpg' | imgix }}?w=300" alt="Flyer"/><br>
            DOWNLOAD
        </a>

                    <p>
                        <strong>RADIO PSA SCRIPTS</strong>
                    </p>
                    <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/Radio/ToughasaMother_RadioScript_fa.pdf">
                        <img src="{{ '/resources/Radio/ToughasaMother_RadioScript_fa.pdf' | imgix }}?w=300" alt="Radio Script"/><br>
            DOWNLOAD
        </a>
                </div>
            </div>

        </div>
        <div class="l-one-third l-last">
            <div class="well grey-bg knockout">
                <img src="/resources/cards.svg" style="max-width:200px;display:block;margin:0 auto 20px;"/>
                {{ sidebar | md | safe }}

                <img src="{{ '/resources/card-1.jpg' | imgix }}?w=400"/>
                <img src="{{ '/resources/card-2.jpg' | imgix }}?w=400"/>
            </div>
        </div>
    </div>

    <hr role="presentation"/>

    <div class="l-container no-pad">
        <div class="well text-center clearfix">
            <h5>Social Media Posts</h5>

            <div class="l-one-third">
                <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/TAAM_social_media.zip">
                    <img src="{{ '/resources/TAAM_Facebook_Feed_1200x628_v5_F.jpg' | imgix }}?w=600" alt="Social Media Post - Courage"/><br>
                </a>
            </div>
            <div class="l-one-third">
                <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/TAAM_social_media.zip">
                    <img src="{{ '/resources/TAAM_Facebook_Feed_1200x628_v1_F.jpg' | imgix }}?w=600" alt="Social Media Post - One Tough Mother"/><br>
        DOWNLOAD
    </a>
            </div>
            <div class="l-one-third l-last">
                <a class="media-link" target="_blank"  title="opens in a new tab"  href="/resources/TAAM_social_media.zip">
                    <img src="{{ '/resources/TAAM_Facebook_Feed_1200x628_v3_F.jpg' | imgix }}?w=600" alt="Social Media Post - This is hard"/><br>
                </a>
            </div>
        </div>

    </div>

{% endblock content %}