{% extends "pages/default.njk" %}


{% block content %}

      <div class="l-half">
          {{ layoutContent | safe }}

      </div>
      <div class="l-half l-last">
        {{ video2 | md }}
      </div>


{% endblock content %}
