{% extends "base.njk" %}


{% block content %}

<div class="flex-grid">
  {% for item in videos %}
    <div class="l-half">
      <a class="video-play" href="{{ item.video }}"><img src="{{ item.photo }}" alt="Video of {{ item.caption | striptags }}" /></a>
      {{ item.caption | md | safe }}
    </div>
  {% endfor %}

</div>

        {{ layoutContent | safe }}


{% endblock content %}
