{% extends "base.njk" %}

{% block bodyclass %}{{ super() }} bodyclass-{{ page.url }}{% endblock %}

{% block content %}
    {% if main_content_image %}
      <div class="l-one-third">
        <img
          class='main-subpage_img left'
          src="{{ main_content_image | imgix }}?w=800"  />
        <p><img src="/dist/img/grey-callout.svg" alt="You are stronger than the substances that control you." /></p>

      </div>
      <div class="l-two-thirds l-last">
        {{ layoutContent | safe }}
      </div>
  {% else %}
      {{ layoutContent | safe }}
  {% endif %}



{% endblock content %}
