{% extends "base.njk" %}


{% block content %}
  <div class="get-help-grid">
    <div class="pair">
      <div class="grid-item">

        <img
          src="{{ callout_1_img | imgix }}?w=800&h=800&fit=crop"
        />
      </div>
      <div class="grid-item text-box pink-bg">{{ callout_1 | md | safe }}</div>
    </div>
    <div class="pair">
      <div class="grid-item">

        <img
          src="{{ callout_2_img | imgix }}?w=800&h=800&fit=crop"
        />
      </div>
      <div class="grid-item text-box orange-bg">{{ callout_2 | md | safe }}</div>
    </div>

    <div class="pair">
      <div class="grid-item">

        <img
          src="{{ callout_3_img | imgix }}?w=800&h=800&fit=crop"
        />
      </div>
      <div class="grid-item text-box dark-grey-bg">{{ callout_3 | md | safe }}</div>
    </div>
    <div class="pair">
      <div class="grid-item">

        <img
          src="{{ callout_4_img | imgix }}?w=800&h=800&fit=crop"
        />
      </div>
      <div class="grid-item text-box blue-bg">{{ callout_4 | md | safe }}</div>
    </div>
  </div>


  {{ layoutContent | safe }}



{% endblock content %}
