.l-masthead-right {
	display:none;
	@include breakpoint($above-stacked){
		display:block;
		text-align:right;
		padding: 39px 0 20px;
	}
}

.old-ie{
    .l-header,
    .l-footer,
    .l-main,
    .l-home-callouts,
    .sf-wrap
    {
        display:block;
    }
}
.l-main-content-wrap{
    overflow:hidden;
}
.l-main{
    padding: 1em 0 2em;
    background: $light-grey;
    @include breakpoint($above-stacked){
    	padding: 2em 0 4em;
    }
}
.l-content-pad{
    padding: 10px;
    @include breakpoint($above-stacked){
        padding: 20px 30px;
    }
}

.l-home-callouts {
  background: url(/dist/img/texture.png) top left repeat #F3F4F5;
  background-size: 400px 400px;
	padding: 3em 0;
}
.main-subpage-img{
    float:left;
    max-width: 300px;
    @include breakpoint($above-normal){
        max-width: 1000px;
    }
    &.right{
        float:right;
        margin: 0 0 0 -50px;
    }
    &.left{
        margin: 0 20px 0 0;
    }

}


.get-help-grid {
  margin-bottom: 40px;

  img {
    display: block;
    min-height: 100%;
    object-fit: cover;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
    color: #fff;
  }

  p {
    font-size: 16px;
    color: #fff;
  }

  @include breakpoint($above-stacked){
    .pair {
      display: flex;
      align-items: stretch;

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      .grid-item {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  @include breakpoint($above-normal){
    display: flex;
    flex-wrap: wrap;

    .pair {
      flex: 1 1 50%;

      &:nth-child(odd) {
        flex-direction: row;
      }

      &:nth-child(1),
      &:nth-child(2) {
        flex-direction: row-reverse;
      }
    }
  }

  .text-box {
    padding: 10px;
    text-align: center;

    img {
      max-width: 240px;
      margin: 10px auto 0.5em;
    }
  }
}


.pink-bg { background-color: $pink; }
.dark-grey-bg { background-color: $dark-grey; }
.orange-bg { background-color: $orange; }
.blue-bg { background-color: $blue; }
