.l-footer{
    padding:10px 0;
    background-color: mix($shade, $light-grey, 5%);

    @include breakpoint($above-stacked){
		padding:1px 0 20px 0;
    }

    .legal {
        font-size: 14px;
    }

}

.cdhs{
    max-width: 280px;
    margin-bottom: 1.333em;
}
