.l-container{
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  @include breakpoint($above-skinny){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint($above-wide){
    padding-left:0;
    padding-right:0;
  }
  &.no-pad{
    padding-left:0;
    padding-right:0;
  }
}
.l-one-third {
  @include breakpoint($above-stacked){
    width: 31.4285714286%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
.l-two-thirds{
  @include breakpoint($above-stacked){
    width: 65.7142857143%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

.l-half{
  @include breakpoint($above-stacked){
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
.l-one-quarter{
  @include breakpoint($above-stacked){
    width: 22.8571428571%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
.l-three-quarters{
  @include breakpoint($above-stacked){
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%;
  }
  @include breakpoint($above-normal){
    width: 74.2857142857%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

.l-last{
  @include breakpoint($above-stacked){
  margin-right:0;
  float:right;
  }
}

.pad-right{padding-right: 20px;}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 36px;

  @include breakpoint($above-stacked){
    flex-direction: row;
    flex-wrap: wrap;
    
    > * {
      width: calc(50% - 36px);
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

.flex-grid {
  &.video-grid {
  	background: $tint;
  	padding: 20px;
  	gap: 20px;

  	> * {
  		padding-right: 0;
  	}

    @include breakpoint($above-stacked){
    	.l-one-quarter {
    		width: calc(25% - 15px);
    	}
    }
  }

  @include breakpoint($above-stacked){
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > * {
      margin-left: 0;
      margin-right: 0;
      padding-right: 36px;
    }
  }
}

.moms-top-grid {
  @include breakpoint($above-stacked){
    display: flex;
    align-items: stretch;
    margin-bottom: 36px;

    .main {
      width: 75%;
    }

    .sidebar {
      width: 25%;
      display: flex;
      align-items: center;
    }
  }
}

.dotted-sidebar-layout {
  @include breakpoint($above-stacked){
    display: flex;
    align-items: stretch;

    .l-two-thirds {
      width: 66%;
    }

    .l-one-third {
      width: 33%;
    }
  }
}
