.l-header {
  padding:10px 0;
  background: url(/dist/img/texture.png) top left repeat #F3F4F5;
  background-size: 400px 400px;
}

.center-align {
  @include breakpoint($above-stacked) {
    display: flex;
    align-items: center;

    &.justify-full {
      justify-content: space-between;
    }
  }
}

.nav-append {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .ccs-logo {
    margin-left: 20px;
    max-width: 320px;
  }
}
.main-logo,
.ccs-logo {
	display:none;
	@include breakpoint($above-stacked){
		display:block;
		width: 100%;
    max-width: 400px;
		float: none;
	}
}

.mobile-main-logo{
	width: 150px;
	float:right;
	margin-top: 5px;
	@include breakpoint($above-stacked){
	display:none;
	}
}

.lang{
	text-transform: uppercase;
	text-decoration: none;
	color: $text-color;
	margin-right: 40px;
	@include font-size(1.4);
	&:hover{
		color: $pink;
	}
}
.lang,
.search{
	display:inline-block;
}

.l-home-masthead{
	background: #000;
	text-align:right;
	position: relative;

  display: flex;
  flex-direction: column-reverse;

  .masthead-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .masthead-heading {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
  }
  .masthead-subheading {
    color: #fff;
  }

  p {
    color: #fff;
    margin: 0 0 1.4em 0;
  }

  @include breakpoint($above-stacked, ".old-ie"){
    display: block;
		border-bottom: 20px solid $pink;

    .masthead-text {
      padding-top: 0;
      padding-bottom: 0;
    }
	}


  @include breakpoint($above-normal){
    .masthead-heading {
      font-size: 64px;
    }
    .masthead-subheading {
      font-size: 24px;
    }
  }
}
.l-sub-masthead {
	background: mix($shade, $pink, 20%);
  padding: 20px 0;
  border-bottom: 4px solid $dark-grey;
  margin-bottom: 30px;

  @include breakpoint($above-stacked){
    padding: 30px 0;
    margin-bottom: 0;
		border-bottom: 14px solid $dark-grey;
	}

  h1{
    color: #fff;
		margin:0;
		line-height: 1.2;
	}
}
.masthead-text {
	position: relative;
  text-align: left;
  z-index: 2;

  .absolute {
    p {
      max-width: 485px;
    }

		@include breakpoint($above-skinny){
			display:block;
			position: absolute;
			top: 30px;
			left: 20px;
			width: 80%;
      z-index: 2;
		}

		img{
			margin-bottom: 10px;
			height: auto;
			@include breakpoint($above-normal){
				margin-bottom: 20px;
			}
		}
	}
}

.masthead-img{
	vertical-align:bottom;
}
