.blog-post-images{
	float:right;
	margin: 0 0 2em 20px;
}
.post-wrap{
	@include clearfix();
	margin-bottom: 1em;
	padding: 1em 0;
	border-bottom: 4px dotted $dark-grey;
	h2{
		margin-bottom:0;
    text-transform: none;
	}
	&.job-listings,
	&.event{
		padding-left: 110px;
	}
}

.post-dateline{
	@include font-size(1.4);
}
