.breadcrumb{
	margin:0 0 2em 0;
	padding:0;
	list-style:none;
	text-align: center;
	line-height: 1;
	li{
		display:inline-block;
		margin:0;
		padding:0;
		a{
			display:block;
			padding: 0px 10px;
			margin-bottom:10px;
			@include breakpoint($above-stacked){
				border-right: 1px solid $orange;
			}
		}
		&:last-child a{
			border-right: none;
		}
	}
}