.faq-section {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq-module {
	margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 4px dotted $dark-grey;
}

.expand {
  position: relative;
	font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
	display:flex;
  justify-content: flex-start;
  align-items: center;
	padding: 4px;
	margin-bottom: 0;
	cursor: pointer;
  font-size: 20px;

  span {
    flex: 1 1 100%;
  }

  &:hover {
		span {
      text-decoration: underline;
    }
	}

  &:before {
    font-size: 32px;
    color: #fff;
    background: $dark-grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    content: "?";
  }

  &:after {
    display: inline;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,0.4);
    margin-left: 16px;
    background-image: none;
    flex: 0 0 auto;
    content: "";
    transition: transform 0.3s linear;
  }

  &.down:after {
    transform: rotate(90deg);
  }
}

.answer {
	max-height: 0px;
  margin: 0 0 0 50px;
	overflow:hidden;
	transition: max-height 0.5s;

  &.show {
    padding: 20px;
		display:block;
		max-height: 500px;
    background: rgba(0,0,0,0.05);
	}
}
