%icon-images{
	background:url(../img/icons.png) top left no-repeat;
	background:url(../img/icons.svg) top left no-repeat, none;
	background-size: 870px 454.61px;
}
%icon{
	&:before{
		content: "";
		display:inline-block;
		vertical-align: bottom;
		width: 16px;
		height: 16px;
		@extend %icon-images;
	}
}
%icon-after{
	&:after{
		content: "";
		display:inline-block;
		vertical-align: middle;
		margin-left: 4px;
		@extend %icon-images;
	}
}

%icon-32{
	&:before{
		margin-right: 10px;
		width: 32px;
		height: 32px;
	}
}

.icon-map{
	@extend %icon;
	@extend %icon-32;
	padding: 10px 20px 10px 15px;
	&:before{
		background-position: -32px 0;
	}
}
.icon-get-help{
	text-transform: uppercase;
	padding: 40px 15px 15px 15px;
	margin: 0;
	position: absolute;
	right: 0;
	z-index: 100;
	text-align: center;
	width: 200px;
	display:inline-block;

	@include font-size(1.4);
	border-radius: 0 0 10px 10px;
	&:before{
	vertical-align: middle;
	}
}

.main-subpage_img {
  display: block;
}

.l-main ol {
  margin: 0;
  list-style: none;
  margin: 1em 0;
  padding: 0;

  li{
		padding: 20px 0 20px 54px;
		min-height: 100px;
    border-bottom: 4px dotted $dark-grey;
    position: relative;

		&:before {
			width: 40px;
			height: 40px;
			margin: 0;
      background: $dark-grey;
      color: #fff;
      border-radius: 50%;
      font-size: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      left: 0;
      font-weight: 900;
      content: "";
		}

		&:nth-child(1):before{content: "1"}
		&:nth-child(2):before{ content: "2"}
		&:nth-child(3):before{ content: "3"}
		&:nth-child(4):before{ content: "4"}
		&:nth-child(5):before{ content: "5"}
		&:nth-child(6):before{ content: "6"}
		&:nth-child(7):before{ content: "7"}
		&:nth-child(8):before{ content: "8"}
		&:nth-child(9):before{ content: "9"}
	}
}

.video-play{
	@extend %icon-after;
	position:relative;
	display:block;
	border: 4px solid $pink;
	margin-bottom: 10px;

	img{display:block;}
	&:after{
		width: 162px;
		height: 162px;
		background-position: -694px -137px;
		position:absolute;
		top: 50%;
		left: 50%;
		margin: -81px 0 0 -81px;
		opacity: 0.7;
		 transition: all 0.5s;
	}
	&:hover{
		border: 4px solid $orange;
		&:after{opacity: 1;}
	}
}

.icon-col{
	@extend %icon-after;
	text-align:center;
	&:after{
		width: 90px;
		height: 90px;
		display:block;
		margin: 1em auto;
		@include breakpoint($above-stacked){
			position:absolute;
			top: 50%;
			left: 0;
			margin: -45px 0 0 2%;
		}
		@include breakpoint($above-skinny){margin-left: 3%;}
		@include breakpoint($above-normal){margin-left: 4%;}
		@include breakpoint($above-wide){margin-left: 5%;}
	}
	&.paci:after{background-position: 0 -147px;}
	&.house:after{background-position: -90px -147px;}
	&.mom:after{background-position: -181px -147px;}
	&.baby:after{background-position: -270px -147px;}
	&.bus:after{background-position: -360px -147px;}
	&.symbols:after{background-position: -450px -147px;}
	&.bottle:after{background-position: -541px -147px;}
	&.medicine:after{background-position: 0 -237px;}
	&.justice:after{background-position: -90px -237px;}
	&.table:after{background-position: -180px -237px;}
	&.security:after{background-position: -270px -237px;}
}

.resource{
	@extend %icon;
	text-decoration: none;
	background-color: tint($orange, 80%);
	display:block;
	border-radius:10px;
	min-height: 90px;
	display: table;
	width: 100%;
	transition: all 0.5s;
	&:before{
		width: 90px;
		height: 90px;
		background-color: $orange;
		border-radius: 10px 0 0 10px;
		display: table-cell;
		vertical-align: middle;
	}
	&.ed:before{background-position: 0 -328px;}
	&.money:before{background-position: -90px -328px;}
	&.clipboard:before{background-position: -180px -328px;}
	&.bubble:before{background-position: -270px -328px;}
	&.ident:before{background-position: -360px -328px;}
	&.pdf:before{background-position: -450px -328px;}
	&:hover{
		background-color: tint($orange, 70%);
	}
	span{
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
	}
}

.post-wrap{
	position: relative;
	&.job-listings,
	&.event{
		@extend %icon;
		&:before{
			width: 94px;
			height: 85px;
			position: absolute;
			top: 50%;
			left: 0;
			margin: -62px 0 0 0;
			background-position: -545px -329px;
		}
	}
	&.event:before{
		background-position: -661px -330px;
		width: 82px;
		height: 83px;
	}
}

.services{
	list-style:none;
	margin: 0 0 1em 0;
	padding:0;
	li{
		padding: 5px 0;
		@include font-size(1.6);
		@extend %icon;
		clear:both;
		&:before{
			width: 32px;
			height: 32px;
			float:left;
			margin: -4px 10px 0 0;
		}
		&.res:before{background-position: 0 -423px;}
		&.out:before{background-position: -32px -423px;}
		&.es:before{background-position: -64px -423px;}
		&.medicaid:before{background-position: -96px -423px;}
		&.childcare:before{background-position: -128px -423px;}
		&.transportation:before{background-position: -160px -423px;}
		&.women-only:before{background-position: -192px -423px;}
		&.detox:before{background-position: -224px -423px;}
		&.deaf:before{background-position: -256px -423px;}
		&.women-cm:before{background-position: -288px -423px;}
		&.pregnant:before{background-position: -320px -423px;}
		&.mother-child:before{background-position: -352px -423px;}
		&.special:before{background-position: -384px -423px;}
		&.meth:before{background-position: -416px -423px;}
		&.sliding:before{background-position: -448px -423px;}
		&.cm:before{background-position: -480px -423px;}
		&.sub:before{background-position: -512px -423px;}
		&.lgbt:before{background-position: -544px -423px;}
		&.co-treatment:before{background-position: -576px -423px;}
		&.parenting:before{background-position: -608px -423px;}
		&.medicaid:before{background-position: -640px -423px;}
		&.mtc:before{background-position: -672px -423px;}
		&.connections:before{background-position: -704px -423px;}
	}
}

	// .special
	// .medicaid">Medicaid</li>
	// .childcare">Childcare</li>
	// .transportation">Transportation</li>
	// .women-only">Women Only Treatment</li>
	// .detox">Detox</li>
	// .deaf">Deaf/Hard of Hearing</li>
	// .women-cm">Women’s Case Management</li>
	// .pregnant">Pregnant Women Priority Treatment</li>
