#map-content {
  > div{
    display:none;

    &.active {
      display:block;
    }
  }
}

.map-grid {
  display: flex;
  flex-wrap: wrap;
}

.map-item {
  width: 100%;
  padding: 0 0 20px 0;

  h4 {
    @include font-size(2.0);
    font-weight: 700;
    color: #444;
    margin: 0 0 0.5em 0;
    text-transform: none;
  }

  p {
    @include font-size(1.6);
  }

  @include breakpoint($above-stacked){
    padding-right: 20px;
    width: 33%;
  }

  @include breakpoint($above-normal){
    width: 25%;
  }
}


.services.checkbox-list {
    display: flex;
    flex-wrap: wrap;
}

.services.checkbox-list li {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 6px 6px 0;
    display: flex;
    align-items: center;

    background-color: rgba(255,255,255,0.3);

    .checkbox,
    label {
      font-weight: normal;
      margin: 0;
      @include font-size(1.6);
      line-height: 1.2;
    }

    &.is-selected {
      background-color: #fff;
      border-color: $pink;
    }

    @include breakpoint($above-stacked){
      white-space: nowrap;
    }



}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include breakpoint($above-stacked){
      flex-wrap: nowrap;
    }
}

.map-child {
    width: 100%;

    @include breakpoint($above-stacked){
      width: 260px;
      flex: 0 0 auto;
      margin-right: 30px;
    }
}
.interactive-map {
  g {
    cursor: pointer;

    &:hover path {
      fill: #555;
      z-index: 2;
      cursor: pointer;
    }

    &.active path ,
    &.active:hover path {
      fill: $pink;
    }
  }

  g path.text,
  g.active path.text, {
    stroke-width: 0;
    fill: #fff;
  }
}

.map-sidebar-text {
  padding-top: 1em;
  text-align: center;

  h4 {
    margin: 0.5em 0;
  }

  p {
    color: $pink;
    text-transform: uppercase;

  }
}

.mso {
  display: none;
  &.is-active {
    display: block;
  }
}

.feature-icons {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;

  > * {
    width: 27%;
  }
}

.services-list {
  display: flex;
  align-items: center;


  h4 {
    margin: 0 10px 0 0;
  }
}

.icon-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  img {
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 9;
  }

  &.small {
    flex-wrap: wrap;

    img {
      width: 24px;
      height: 24px;
    }
    li {
      margin: 0 8px 8px 0;
    }
  }

  .label {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 50%);
    background: $text-color;
    color: $tint;
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 4px;

    opacity: 0;
    text-align: center;
    max-width: 1px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($pink,0.5);

  }

  li {
    position: relative;
    z-index: 9;
    margin: 4px 8px;

    &:hover .label {
      display: block;
      opacity: 1;
      transform: translate(-50%, 100%);
      min-width: 100px;
      max-width: 180px;
      transition: opacity 0.3s linear, transform 0.3s linear;
      will-change: opacity, transform;
    }
  }
}

.mso-contact {
  position: relative;
  padding-left: 20px;
  font-weight: bold;
  margin-bottom: 2em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid $text-color;
    content: "";
  }
}
