$mobile-nav-bg: $dark-grey;
$mobile-nav-padding: 0 20px;
$mobile-nav-font-size: 22px;
$mobile-nav-text-color: $tint;
$mobile-nav-link-padding: 8px 10px;
$mobile-nav-link-border-bottom: 0px solid rgba(0, 0, 0, 0.1);
$mobile-nav-link-border-top: 0px solid rgba(255, 255, 255, 0.3);
$mobile-nav-arrow-color: rgba($tint, 0.5);

$mobile-nav-close-link-color: $tint;
$mobile-nav-menu-button-font-size: 18px;
$mobile-nav-menu-button-text-color: $light-grey;
$mobile-nav-menu-button-border-radius: 4px;
$mobile-nav-menu-button-icon-color: $mobile-nav-menu-button-text-color;

.open-panel {
  position: absolute;
  z-index: 100;
  top: 0.4em;
  left: 1em;
  padding: 0.4;
  margin: 16px 0 0;
  text-transform: uppercase;
  font-size: $mobile-nav-menu-button-font-size;
  border-radius: $mobile-nav-menu-button-border-radius;
  text-decoration: none;
  line-height: 1;
  color: $shade;
  appearance: none;
  background: transparent;
  border: 0 none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
    path {
      fill: $shade;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
.open-panel,
.close-panel,
.open-panel-wrap {
  @include breakpoint($above-stacked) {
    display: none;
  }
}
/* Display nav items vertically */
.close-panel {
  position: relative;
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: 22px;
  text-decoration: none;
  color: $mobile-nav-close-link-color;
  appearance: none;
  background: transparent;
  border: 0 none;

  &:hover,
  &:focus {
    color: shade($mobile-nav-close-link-color, 20%);
    text-decoration: none;
  }
}

/* Move nav off screen, setup transitions */
.mobile-nav {
  width: 85%;
  position: absolute;
  left: -85%;
  top: 0;
  margin-top: 0;
  height: 100%;
  display: block;
  text-align: left;
  background: $mobile-nav-bg;
  padding: $mobile-nav-padding;

  .lang {
    color: white;
  }

  .ccs-logo {
    display: block;
    width: 100%;
  }

  .nav-append {
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  @include breakpoint($above-stacked) {
    display: none;
  }
}

.top {
  text-align: right;
  padding: 10px;
}
.openNav {
  .open-panel {
    visibility: hidden;
  }
  .open-panel-wrap {
    opacity: 0.5;
  }
  .off-canvas-wrap {
    left: 0;
    -webkit-transform: translate3d(85%, 0, 0);
    -moz-transform: translate3d(85%, 0, 0);
    -ms-transform: translate3d(85%, 0, 0);
    -o-transform: translate3d(85%, 0, 0);
    transform: translate3d(85%, 0, 0);
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -o-transition: -o-transform 300ms ease;
    transition: transform 300ms ease;
  }
  .off-canvas-content-wrap {
    opacity: 0.6;
  }
}

/* When the panel is closed, transition the page back to the left */
.off-canvas-wrap {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  transition: transform 200ms ease;
}

.off-canvas-content-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .l-footer {
    margin-top: auto;
  }
}

// off-canvas styling
//show and hide the menus

.sf-menu {
  display: none;
  @include breakpoint($above-stacked) {
    display: block;
  }
}

.mobile-nav > ul {
  background: none transparent;
  font-size: $mobile-nav-font-size;
  font-weight: 300;
  //border-top:1px solid rgba(0,0,0,0.1);
  //border-bottom:1px solid rgba(255,255,255,0.3);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  //&:last-child{ border-bottom:1px solid rgba(255,255,255,0.3);}
  ul {
    display: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    a {
      display: block;
      color: $mobile-nav-text-color;
      text-decoration: none;
      font-size: $mobile-nav-menu-button-font-size;
      padding: $mobile-nav-link-padding;
      border-bottom: $mobile-nav-link-border-bottom;
      border-top: $mobile-nav-link-border-top;
    }
    li {
      a {
        font-size: 18px;
        padding: 4px 10px 4px 30px;
      }
      li a {
        padding: 4px 10px 4px 60px;
      }
    }
    &.has-child {
      > a:after {
        content: "";
        display: block;
        float: right;
        color: $mobile-nav-arrow-color;
        margin: 4px 0 0 0;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #fff;
      }
      &.down > a:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
      }

      a.open-subs {
        color: tint($mobile-nav-text-color, 85%);
      }
    }
    &.prepended > a {
      font-weight: bold;
    }
  }
}

.mobile-nav {
  .nav-append {
    padding: 30px 10px;
    .lang {
      margin: 0 0 20px 0;
      display: block;
    }
  }
}
