%pdf{
	position:relative;
	&:before{
		content: "";
		width: 16px;
		height: 19px;
		position:absolute;
		top:6px;
		left:0;
		background:url(../images/PDF.png) top left no-repeat;
		margin: 0;
	}
}

.l-main [href*='.pdf']{
	@extend %pdf;
	&:before{
		position:static;
		display:inline-block;
		margin: 0 4px -5px 0;
	}
}
