.search{
    position:relative;
    width: 200px;
}
input[type="search"].search-input{
    width:100%;
    box-sizing:border-box;
    height: 30px;
    padding: 4px 20px 4px 6px;
    @include font-size(1.6);
    border: 1px solid #fff;
    box-shadow: none;

}
.search-button{
    position:absolute;
    top:6px;
    right: 6px;
    border:none;
    background-image: url(../img/search.png);
    background-image: url(../img/search.svg), none;
    background-color: transparent;
    background-repeat:no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    font: 0/0 a;
    color: transparent;
    overflow: hidden;
    padding:0;
    margin:0;
    &:hover{
        background-color: transparent;
    }
}