$above-break-graphic: 832px;
/*--sidebar block--*/
.sidebar-hover-area{
	width: 100%;
	max-width: 375px;

	@include breakpoint($above-break-graphic){
		background: url(../images/AP-background.png) center center no-repeat transparent;
		background: url(../images/AP-background.svg) center center no-repeat transparent,;
		background-size: 316px 316px;
		min-height: 275px;
	}
	@include breakpoint($above-normal){
		background-size: 350px 350px;
		height: 350px;
	}
	position: relative;
	margin: 0 auto;
}
.plastic,
.piping,
.fab{
	display:block;
	text-align:center;
	border-radius: 8px;
	background-color: $blue;
	color: #fff;
	text-decoration: none;
 	@include font-size(1.4);
 	font-weight: 700;
 	text-transform:uppercase;
 	padding: 10px;
 	margin-bottom: 15px;
 	@include breakpoint($above-break-graphic){
		width: 125px;
		height: 125px;
		position: absolute;
		border-radius: 50%;
		top:0;
		left: 0;
		padding: 45px 0 0 0;

 	}
 	br{
 		display:none;

 		@include breakpoint($above-break-graphic){
 			display:block;
 		}
 	}
 	&:hover{
 		color: #fff;
 		background-color: shade($blue, 30%);
 	}

}
.piping{
	background-color: $red;
	top:auto;
	bottom:0;
	@include breakpoint($above-break-graphic){
		padding-top: 30px;
	}

	&:hover{
 		background-color: shade($red, 30%);
 	}
}
.fab{
	background-color: $dark-blue;
	top: 25%;
	left: auto;
	right: 0;
	margin-bottom:0;
	&:hover{
 		background-color: shade($dark-blue, 30%);
 	}
}

/*---- sidebar tooltip hovers ----*/
div#tooltip{
position: absolute;
z-index: 3000;
border: 1px solid #516E88;
background-color: #eee;
padding: 5px;
opacity: 0.92;
width:150px;
}
div#tooltip h3{
font: normal 13px/15px Helvetica, Arial, sans-serif;
margin:0;

}