%animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
%slideInRight {
  @extend %animated;
  animation-name: slideInRight;
}

%slideInLeft {
  @extend %animated;
  animation-name: slideInLeft;
}

//These bits are for the profab page
.carousel-wrap{
  position:relative;
}
.carousel-text-overlay{
  position:absolute;
  z-index: 100;
  bottom: 10px;
  left: 40px;
  h1, h3{
    color: #fff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8), 0 0 20px rgba($blue, 1);
    margin:0;
    @include font-size(3.2);
	@include breakpoint($above-stacked){ @include font-size(5.4);}
	@include breakpoint($above-skinny){ @include font-size(6.4);}
  }
  h3{
    @include font-size(1.8);
	@include breakpoint($above-stacked){ @include font-size(2.4);}
	@include breakpoint($above-skinny){ @include font-size(3.6);}
  }
}


.carousel{
	div{
		position:relative;
		img{
			position:relative;
			z-index: 1;
		}
		h1{
			position:absolute;
			top: 10px;
			left:10px;
			z-index: 2;
			text-transform: uppercase;
			line-height: 1;
			color: #fff;
			text-shadow: 0 0 6px rgba(0, 0, 0, 0.8), 0 0 20px rgba($blue, 1);
			@include font-size(3.6);
			@include breakpoint($above-stacked){
				@include font-size(4.4);
			}
			@include breakpoint($above-skinny){
				@include font-size(6.4);
				top: 40px;
				left:40px;
			}
			@include breakpoint($above-normal){ @include font-size(7.0);}
			@include breakpoint($above-wide){ @include font-size(8.0);}
			small{
				display:block;
				color: #fff;
				@include font-size(1.8);
				@include breakpoint($above-stacked){ @include font-size(2.0);}
				@include breakpoint($above-skinny){ @include font-size(3.2);}

			}
			span{
				//background-color: rgba($blue, 0.6);
			}
		}
		&.slick-active{
			//&.water,
			&.waste,
			&.construction,
			&.purity{
				h1{ @extend %slideInLeft;}
			}
			&.manufacturing,
			&.chemical,
			&.aerospace{
				h1{ @extend %slideInRight;}
			}
		}
		&.waste h1{
			bottom: 10px;
			top: auto;
			@include breakpoint($above-skinny){bottom: 20px;}

		}
		&.construction h1{
				top:auto;
				bottom: 10px;
				@include breakpoint($above-skinny){bottom: 20px;}
			}
		&.manufacturing h1,
		&.purity h1{
				text-align: right;
				right: 10px;
				left: auto;
				bottom: 10px;
				top: auto;
				@include breakpoint($above-skinny){
					bottom: 30px;
					right: 20px;
				}
			}
	}
}
