$sf-link: #fff;

$sf-top-level-bg-hover-color: mix($shade, $dark-grey, 0.2);
$sf-top-level-link-font-size: 1.4;
$sf-top-level-link-margin-top-bottom: 10px;
$sf-top-level-link-margin-left-right:0;
$sf-top-level-link-radius: 0;
$sf-top-level-link-color: #fff;
$sf-top-level-link-color-hover: $sf-link;
$sf-top-level-link-color-current: #fff;
$sf-top-level-current-bg: $sf-top-level-bg-hover-color;
$sf-top-level-align: left;


$sf-level2-bg: mix($shade, $dark-grey, 20%);
$sf-level2-bg-hover-color: mix($shade, $dark-grey, 50%);
$sf-level2-link-font-size: 1.3;
$sf-level2-ul-radius: 0;
$sf-level2-link-color: #fff;
$sf-level2-link-hover-color: #fff;
$sf-level2-current-bg: $sf-top-level-current-bg;

$sf-level3-bg: $sf-level2-bg;
$sf-level3-bg-hover-color: $sf-level2-bg-hover-color;
$sf-level3-link-font-size: $sf-level2-link-font-size;

$sf-level3-link-color: $sf-level2-link-color;
$sf-level3-link-hover-color: $sf-level2-link-hover-color;
$sf-level3-current-bg: $sf-level2-current-bg;

$sf-li-hover: transparent;
$sf-main-ul-bg: transparent;
$sf-submenu-strip-color: $sf-main-ul-bg;

.sf-wrap {
  background-color: $dark-grey;
}

.sf-menu{
    width:100%;
    background: $dark-grey;
    padding-right: 180px;
}
/*** ESSENTIAL STYLES ***/
.sf-menu > ul, .sf-menu > ul * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu > ul li {
    position: relative;
}
.sf-menu > ul ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.sf-menu > ul > li {
    display:inline-block;
    vertical-align: baseline;
}
.sf-menu > ul li:hover > ul,
.sf-menu > ul li.sfHover > ul {
    display: block;
}

.sf-menu > ul a {
    display: block;
    position: relative;
}
.sf-menu > ul ul ul {
    top: 0;
    left: 100%;
}

.sf-menu > ul ul {

}
.sf-menu > ul a {
    padding: .75em 1em;
    text-decoration: none;
    zoom: 1; /* IE7 */
    color: $sf-link;
}
.sf-menu > ul{
    margin:0;
    border-radius: $sf-top-level-link-radius;
    line-height: 1;
    @include breakpoint($above-wide){
        @if $sf-top-level-align == right {
            margin-right: -$sf-top-level-link-margin-left-right;
        }
        @if $sf-top-level-align == left {
            margin-left: -$sf-top-level-link-margin-left-right;
        }
    }
    > li {
        background: transparent;
        transition: background .2s;
        padding: 20px 3px;
        @include breakpoint($above-skinny){
            padding: 20px 5px;
        }
        @include breakpoint($above-normal){
            padding: 20px 10px;
        }
        @include breakpoint($above-wide){
            padding: 20px 16px;
        }
        &.sfHover, &:hover{
            background-color: $sf-top-level-bg-hover-color;
            /* only transition out, not in */
            -webkit-transition: none;
            transition: none;
            > a{
                color:$sf-top-level-link-color-hover;
                border-bottom: 3px solid #fff;
            }
        }
        &.active-menu-item{
            background: $sf-top-level-bg-hover-color;
            > a{
                color: $sf-top-level-link-color-current;
                border-bottom: 3px solid #fff;
            }
            &.sfHover > a, &:hover > a{
                color: $sf-top-level-link-color-hover;
            }
        }
        > a{
            //first link only styles
            font-family: $base-font-family;
            border-radius: $sf-top-level-link-radius;
            color: $sf-link;
            margin: 0;
            padding: 4px 0;
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: 3px solid transparent;
            @include font-size( $sf-top-level-link-font-size * 0.7);
            @include breakpoint($above-skinny){
                @include font-size( $sf-top-level-link-font-size * 0.8);
            }
            @include breakpoint($above-normal){
                @include font-size( $sf-top-level-link-font-size * 0.95);
            }
            @include breakpoint($above-wide){
                @include font-size( $sf-top-level-link-font-size);
            }

        }
        > ul{
            background: $sf-level2-bg;
            min-width: 12em; /* allow long menu items to determine submenu width */
            padding: 0;
            > li{
                margin:0;
                &.sfHover, &:hover{
                    background-color:$sf-level2-bg-hover-color;

                     > a {
                        display: block;
                        color: $sf-level2-link-hover-color;
                    }
                }
                > a{
                    //second link only styles
                    margin: 0;
                    padding: 10px;
                    @include font-size( $sf-level2-link-font-size );
                    color: $sf-level2-link-color;
                    border-bottom: 1px solid tint($purple, 50%);
                    text-transform: uppercase;
                }

                > ul{
                    background: $sf-level3-bg;
                    min-width: 12em; //allow long menu items to determine submenu width
                    > li{
                        &.sfHover, &:hover{
                            background: $sf-level3-bg-hover-color;
                            > a{
                                color: $sf-level3-link-hover-color;
                            }
                        }
                        > a{
                            //third link only styles
                            @include font-size( $sf-level3-link-font-size );
                            color: $sf-level3-link-hover-color;

                        }
                    }
                    ul{
                        display:none !important;
                    }
                }
            }
        }
    }
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 20px;
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 42%;
    right: 6px;
    margin-top: 0;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: $sf-link; /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba( $sf-link,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white; /* IE8 fallback colour */
}
styling for right-facing arrows
.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: 0;
    border-color: transparent;
    border-left-color: $sf-link; /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba( $sf-link,.5);
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: white;
}
// hiding third-level
.sf-arrows ul ul .sf-with-ul:after,
.sf-arrows ul ul li > .sf-with-ul:focus:after,
.sf-arrows ul ul li:hover > .sf-with-ul:after,
.sf-arrows ul ul .sfHover > .sf-with-ul:after { border-color: transparent;}


.sf-arrows ul .sf-with-ul:after{
 content: " ▸";
}

// .sf-vertical  > ul ul li{
//     position:static;
// }

// /* adding sf-vertical class in addition to sf-menu creates a vertical menu */
// /* eg. <ul class="sf-menu sf-vertical"> ... */
// .sf-vertical > ul {
//   width: 100%;
//   position: relative;
//   float:none;
//   margin:4px 0 0 0;
//   /* If you want the width of the closed menu to expand to its
//   widest top-level menu item (like its "Supersubs" submenus do),
//   replace the width rule above with the following two rules. */

//   /*
//   min-width: 12em;
//   *width: 12em;
//   */
// }
// .sf-vertical > ul ul {
//     left:   100%;
//     top: 0;
//     bottom:-4px;
//     height:156px;
//     .home &{
//         height: 222px;
//     }
//     ul{
//         margin-left:-48px;
//     }

// }
// .sf-vertical > ul > li {
//   float: none;
// }
// .sf-vertical > ul li {
//   width: 100%;
// }

// /*** alter arrow directions ***/
// .sf-vertical > ul.sf-arrows > li > .sf-with-ul:after {
//   margin-top: -5px;
//   margin-right: -3px;
//   border-color: transparent;
//   border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
//   border-left-color: rgba(255,255,255,.5);
// }
// .sf-vertical > ul.sf-arrows li > .sf-with-ul:focus:after,
// .sf-vertical > ul.sf-arrows li:hover > .sf-with-ul:after,
// .sf-vertical > ul.sf-arrows .sfHover > .sf-with-ul:after {
//   border-left-color: white;
// }
