.tab{
	display:none;
	&.active{
		display:block;
	}
}

.tab-nav{
	margin:0 0 1em 0;
	padding:0;
	list-style:none;
	border-bottom:1px solid $primary-color;
	li{
		display:inline-block;
		margin:0;
		padding:0;
		&:before{
			content: "" !important;
			display:none !important;
		}
		a{
			display:block;
			padding: 10px 20px;
			margin-bottom:-1px;
			&.active{
				border: 1px solid $primary-color;
				border-radius: 4px 4px 0 0;
				border-bottom:1px solid #fff;
			}
		}
	}
}