.well{
  background: $well-bg;
  border: 1px solid $well-border;
  padding: $well-padding;

  &, h1, h2, h3, h4, h5, h6, p, li, a {
    color: $tint;
  }
}


.floatBox {
	@extend .well;
	float:right;
	margin: 0 0 20px 20px;
	max-width: 350px;
}

.l-home-callouts{
  h3{
    text-align: center;
    text-transform: uppercase;
    a{
      color: $text-color;
      text-decoration: none;
      box-shadow: none;

      &:after{
        content: "";
        width: 50px;
        height: 0;
        border-bottom: 4px dotted $dark-grey;
        display:inline-block;
        transition: all 0.5s;
      }

      &:hover{
        &:after{
          width: 100%;
          border-color: $pink;
        }
      }
      span{display:block;}

    }
    img{
      display:block;
      border-radius: 8px;
      border: 8px solid #fff;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
      margin-bottom: 1em;
    }
  }
}
