@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.svg-map-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 72.44%;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 2em;
}
.svg-map-container svg {
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-only {
  display: block;
}
@media (min-width: 740px) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}
@media (min-width: 740px) {
  .desktop-only {
    display: block;
  }
}

.old-ie .l-header, .old-ie .l-footer, .old-ie .l-sidebar, .old-ie .l-main-nav-block, .old-ie .l-main-content-wrap {
  display: block;
}

.float-right {
  float: right;
  margin: 0 0 20px 20px;
}

.float-left {
  float: left;
  margin: 0 20px 20px 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pos-rel {
  position: relative;
}

hr {
  border-width: 0;
  border-top: 1px solid #A41F67;
  margin: 2em 0;
  clear: both;
}
hr:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
}

.video-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0;
  margin-bottom: 20px;
}
.video-wrap iframe, .video-wrap object, .video-wrap embed {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

::-moz-selection {
  color: #fff;
  background: #A41F67;
}

::selection {
  color: #fff;
  background: #A41F67;
}

body {
  background: #D8D9D7;
}

blockquote {
  quotes: "“" "”" "‘" "’";
  margin: 1em 0;
}
blockquote:before {
  color: tint(#6F7272, 50%);
  content: "“";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
blockquote p:before {
  content: "“";
}
blockquote p:after {
  content: "”";
}
blockquote cite {
  display: block;
  margin-top: 10px;
  color: tint(#6F7272, 20%);
  font-size: 0.9em;
  font-style: italic;
}
blockquote cite:before {
  content: "— ";
}

input[type=submit],
button,
.btn {
  background-color: #A41F67;
  color: #fff;
  border: 1px solid #A41F67;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 15px 10px 0 0;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
input[type=submit]:hover,
button:hover,
.btn:hover {
  background-color: shade(#A41F67, 15%);
  color: #fff;
  text-decoration: none;
}
input[type=submit].subdued,
button.subdued,
.btn.subdued {
  background-color: #fff;
  color: #A41F67;
  border: 1px solid #A41F67;
}
input[type=submit].subdued:hover,
button.subdued:hover,
.btn.subdued:hover {
  background-color: shade(#fff, 5%);
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin: 15px 0 5px 0;
  font-weight: bold;
}

input[type=search] {
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=radio],
input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px \9 ;
  line-height: normal;
}

input[type=file] {
  display: block;
}

input[type=range] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #6F7272;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

select:hover,
textarea:hover,
input[type=text]:hover,
input[type=password]:hover,
input[type=datetime]:hover,
input[type=datetime-local]:hover,
input[type=date]:hover,
input[type=month]:hover,
input[type=time]:hover,
input[type=week]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=color]:hover {
  border-color: shade(#cccccc, 30%);
}

select:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  border-color: #A41F67;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(164, 31, 103, 0.6);
}

textarea {
  height: 100px;
}

.input-group {
  display: table;
  width: 100%;
  vertical-align: middle;
  position: relative;
  border-collapse: separate;
}
.input-group input {
  display: table-cell;
  height: 28px;
}
.input-group .btn-wrap {
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  width: 1px;
}
.input-group .btn-wrap button {
  padding: 3px 10px;
  height: 28px;
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: top;
}

table {
  width: 100%;
}
table td {
  vertical-align: top;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #6F7272;
  font-size: 8px;
  font-size: 0.8rem;
}
@media (min-width: 767px) {
  body {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

p {
  margin: 0 0 1em 0;
}

b, strong {
  font-weight: 600;
}

a {
  color: #A41F67;
  text-decoration: underline;
  transition: all 0.5s;
}
a:hover {
  color: shade(#A41F67, 25%);
}

.pink-text p {
  color: #A41F67;
}
.pink-text h4 {
  color: #6F7272;
}

.media-link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #6F7272;
  margin-bottom: 20px;
}
.media-link:hover {
  color: #A41F67;
}

figure {
  margin: 0;
}

small {
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #A41F67;
  margin: 0.5em 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: tint(#A41F67, 50%);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #A41F67;
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: shade(#A41F67, 30%);
}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: shade(shade(#A41F67, 30%), 30%);
}

h6 {
  font-weight: 700;
}

p, li, div, table, label, input, button {
  font-size: 16px;
  font-size: 1.6rem;
}
.small p, .small li, .small div, .small table, .small label, .small input, .small button {
  font-size: 12.8px;
  font-size: 1.28rem;
}

h1 {
  font-size: 36.8px;
  font-size: 3.68rem;
}

h2 {
  font-size: 19.2px;
  font-size: 1.92rem;
}

h3 {
  font-size: 19.2px;
  font-size: 1.92rem;
}

h4 {
  font-size: 19.2px;
  font-size: 1.92rem;
}

h5 {
  font-size: 19.2px;
  font-size: 1.92rem;
}

h6 {
  font-size: 19.2px;
  font-size: 1.92rem;
}

@media (min-width: 767px) {
  p, li, div, table, label, input, button {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .small p, .small li, .small div, .small table, .small label, .small input, .small button {
    font-size: 14.4px;
    font-size: 1.44rem;
  }

  h1 {
    font-size: 41.4px;
    font-size: 4.14rem;
  }

  h2 {
    font-size: 21.6px;
    font-size: 2.16rem;
  }

  h3 {
    font-size: 21.6px;
    font-size: 2.16rem;
  }

  h4 {
    font-size: 21.6px;
    font-size: 2.16rem;
  }

  h5 {
    font-size: 21.6px;
    font-size: 2.16rem;
  }

  h6 {
    font-size: 21.6px;
    font-size: 2.16rem;
  }
}
@media (min-width: 990px) {
  p, li, div, table, label, input, button {
    font-size: 20px;
    font-size: 2rem;
  }
  .small p, .small li, .small div, .small table, .small label, .small input, .small button {
    font-size: 16px;
    font-size: 1.6rem;
  }

  h1 {
    font-size: 46px;
    font-size: 4.6rem;
  }

  h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  h3 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  h4 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  h5 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  h6 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.old-ie p, .old-ie li, .old-ie div, .old-ie table, .old-ie label, .old-ie input, .old-ie button {
  font-size: 20px;
  font-size: 2rem;
}
.small .old-ie p, .small .old-ie li, .small .old-ie div, .small .old-ie table, .small .old-ie label, .small .old-ie input, .small .old-ie button {
  font-size: 16px;
  font-size: 1.6rem;
}
.old-ie h1 {
  font-size: 46px;
  font-size: 4.6rem;
}
.old-ie h2 {
  font-size: 24px;
  font-size: 2.4rem;
}
.old-ie h3 {
  font-size: 24px;
  font-size: 2.4rem;
}
.old-ie h4 {
  font-size: 24px;
  font-size: 2.4rem;
}
.old-ie h5 {
  font-size: 24px;
  font-size: 2.4rem;
}
.old-ie h6 {
  font-size: 24px;
  font-size: 2.4rem;
}

hr {
  border: 0 none;
  border-top: 4px dotted #6F7272;
}

.l-masthead-right {
  display: none;
}
@media (min-width: 740px) {
  .l-masthead-right {
    display: block;
    text-align: right;
    padding: 39px 0 20px;
  }
}

.old-ie .l-header,
.old-ie .l-footer,
.old-ie .l-main,
.old-ie .l-home-callouts,
.old-ie .sf-wrap {
  display: block;
}

.l-main-content-wrap {
  overflow: hidden;
}

.l-main {
  padding: 1em 0 2em;
  background: #D8D9D7;
}
@media (min-width: 740px) {
  .l-main {
    padding: 2em 0 4em;
  }
}

.l-content-pad {
  padding: 10px;
}
@media (min-width: 740px) {
  .l-content-pad {
    padding: 20px 30px;
  }
}

.l-home-callouts {
  background: url(/static/img/texture.png) top left repeat #F3F4F5;
  background-size: 400px 400px;
  padding: 3em 0;
}

.main-subpage-img {
  float: left;
  max-width: 300px;
}
@media (min-width: 990px) {
  .main-subpage-img {
    max-width: 1000px;
  }
}
.main-subpage-img.right {
  float: right;
  margin: 0 0 0 -50px;
}
.main-subpage-img.left {
  margin: 0 20px 0 0;
}

.get-help-grid {
  margin-bottom: 40px;
}
.get-help-grid img {
  display: block;
  min-height: 100%;
  object-fit: cover;
}
.get-help-grid h1, .get-help-grid h2, .get-help-grid h3, .get-help-grid h4, .get-help-grid h5, .get-help-grid h6 {
  font-size: 24px;
  color: #fff;
}
.get-help-grid p {
  font-size: 16px;
  color: #fff;
}
@media (min-width: 740px) {
  .get-help-grid .pair {
    display: flex;
    align-items: stretch;
  }
  .get-help-grid .pair:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .get-help-grid .pair .grid-item {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 990px) {
  .get-help-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .get-help-grid .pair {
    flex: 1 1 50%;
  }
  .get-help-grid .pair:nth-child(odd) {
    flex-direction: row;
  }
  .get-help-grid .pair:nth-child(1), .get-help-grid .pair:nth-child(2) {
    flex-direction: row-reverse;
  }
}
.get-help-grid .text-box {
  padding: 10px;
  text-align: center;
}
.get-help-grid .text-box img {
  max-width: 240px;
  margin: 10px auto 0.5em;
}

.pink-bg {
  background-color: #A41F67;
}

.dark-grey-bg {
  background-color: #6F7272;
}

.orange-bg {
  background-color: #F68D2B;
}

.blue-bg {
  background-color: #356680;
}

.l-container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.l-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 767px) {
  .l-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1300px) {
  .l-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.l-container.no-pad {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 740px) {
  .l-one-third {
    width: 31.4285714286%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

@media (min-width: 740px) {
  .l-two-thirds {
    width: 65.7142857143%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

@media (min-width: 740px) {
  .l-half {
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

@media (min-width: 740px) {
  .l-one-quarter {
    width: 22.8571428571%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

@media (min-width: 740px) {
  .l-three-quarters {
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
@media (min-width: 990px) {
  .l-three-quarters {
    width: 74.2857142857%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

@media (min-width: 740px) {
  .l-last {
    margin-right: 0;
    float: right;
  }
}

.pad-right {
  padding-right: 20px;
}

.l-header {
  padding: 10px 0;
  background: url(/static/img/texture.png) top left repeat #F3F4F5;
  background-size: 400px 400px;
}

@media (min-width: 740px) {
  .center-align {
    display: flex;
    align-items: center;
  }
  .center-align.justify-full {
    justify-content: space-between;
  }
}

.nav-append {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-append .ccs-logo {
  margin-left: 20px;
  max-width: 320px;
}

.main-logo,
.ccs-logo {
  display: none;
}
@media (min-width: 740px) {
  .main-logo,
.ccs-logo {
    display: block;
    width: 100%;
    max-width: 400px;
    float: none;
  }
}

.mobile-main-logo {
  width: 150px;
  float: right;
  margin-top: 5px;
}
@media (min-width: 740px) {
  .mobile-main-logo {
    display: none;
  }
}

.lang {
  text-transform: uppercase;
  text-decoration: none;
  color: #6F7272;
  margin-right: 40px;
  font-size: 14px;
  font-size: 1.4rem;
}
.lang:hover {
  color: #A41F67;
}

.lang,
.search {
  display: inline-block;
}

.l-home-masthead {
  background: #000;
  text-align: right;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.l-home-masthead .masthead-text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.l-home-masthead .masthead-heading {
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.l-home-masthead .masthead-subheading {
  color: #fff;
}
.l-home-masthead p {
  color: #fff;
  margin: 0 0 1.4em 0;
}
@media (min-width: 740px) {
  .l-home-masthead {
    display: block;
    border-bottom: 20px solid #A41F67;
  }
  .l-home-masthead .masthead-text {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.old-ie .l-home-masthead {
  display: block;
  border-bottom: 20px solid #A41F67;
}
.old-ie .l-home-masthead .masthead-text {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 990px) {
  .l-home-masthead .masthead-heading {
    font-size: 64px;
  }
  .l-home-masthead .masthead-subheading {
    font-size: 24px;
  }
}

.l-sub-masthead {
  background: #831952;
  padding: 20px 0;
  border-bottom: 4px solid #6F7272;
  margin-bottom: 30px;
}
@media (min-width: 740px) {
  .l-sub-masthead {
    padding: 30px 0;
    margin-bottom: 0;
    border-bottom: 14px solid #6F7272;
  }
}
.l-sub-masthead h1 {
  color: #fff;
  margin: 0;
  line-height: 1.2;
}

.masthead-text {
  position: relative;
  text-align: left;
  z-index: 2;
}
.masthead-text .absolute p {
  max-width: 485px;
}
@media (min-width: 767px) {
  .masthead-text .absolute {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 80%;
    z-index: 2;
  }
}
.masthead-text .absolute img {
  margin-bottom: 10px;
  height: auto;
}
@media (min-width: 990px) {
  .masthead-text .absolute img {
    margin-bottom: 20px;
  }
}

.masthead-img {
  vertical-align: bottom;
}

.l-footer {
  padding: 10px 0;
  background-color: #cdcecc;
}
@media (min-width: 740px) {
  .l-footer {
    padding: 1px 0 20px 0;
  }
}
.l-footer .legal {
  font-size: 14px;
}

.cdhs {
  max-width: 280px;
  margin-bottom: 1.333em;
}

@media (min-width: 740px) {
  .l-login {
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%;
  }
}

.mejs-container {
  display: inline-block;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #eee;
}

.well, .floatBox {
  background: #6F7272;
  border: 1px solid shade(#6F7272, 20%);
  padding: 20px;
}
.well, .floatBox, .well h1, .floatBox h1, .well h2, .floatBox h2, .well h3, .floatBox h3, .well h4, .floatBox h4, .well h5, .floatBox h5, .well h6, .floatBox h6, .well p, .floatBox p, .well li, .floatBox li, .well a, .floatBox a {
  color: #fff;
}

.floatBox {
  float: right;
  margin: 0 0 20px 20px;
  max-width: 350px;
}

.l-home-callouts h3 {
  text-align: center;
  text-transform: uppercase;
}
.l-home-callouts h3 a {
  color: #6F7272;
  text-decoration: none;
  box-shadow: none;
}
.l-home-callouts h3 a:after {
  content: "";
  width: 50px;
  height: 0;
  border-bottom: 4px dotted #6F7272;
  display: inline-block;
  transition: all 0.5s;
}
.l-home-callouts h3 a:hover:after {
  width: 100%;
  border-color: #A41F67;
}
.l-home-callouts h3 a span {
  display: block;
}
.l-home-callouts h3 img {
  display: block;
  border-radius: 8px;
  border: 8px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 1em;
}

.sf-wrap {
  background-color: #6F7272;
}

.sf-menu {
  width: 100%;
  background: #6F7272;
  padding-right: 180px;
}

/*** ESSENTIAL STYLES ***/
.sf-menu > ul, .sf-menu > ul * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu > ul li {
  position: relative;
}

.sf-menu > ul ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sf-menu > ul > li {
  display: inline-block;
  vertical-align: baseline;
}

.sf-menu > ul li:hover > ul,
.sf-menu > ul li.sfHover > ul {
  display: block;
}

.sf-menu > ul a {
  display: block;
  position: relative;
}

.sf-menu > ul ul ul {
  top: 0;
  left: 100%;
}

.sf-menu > ul a {
  padding: 0.75em 1em;
  text-decoration: none;
  zoom: 1;
  /* IE7 */
  color: #fff;
}

.sf-menu > ul {
  margin: 0;
  border-radius: 0;
  line-height: 1;
}
@media (min-width: 1300px) {
  .sf-menu > ul {
    margin-left: 0;
  }
}
.sf-menu > ul > li {
  background: transparent;
  transition: background 0.2s;
  padding: 20px 3px;
}
@media (min-width: 767px) {
  .sf-menu > ul > li {
    padding: 20px 5px;
  }
}
@media (min-width: 990px) {
  .sf-menu > ul > li {
    padding: 20px 10px;
  }
}
@media (min-width: 1300px) {
  .sf-menu > ul > li {
    padding: 20px 16px;
  }
}
.sf-menu > ul > li.sfHover, .sf-menu > ul > li:hover {
  background-color: #6f7272;
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}
.sf-menu > ul > li.sfHover > a, .sf-menu > ul > li:hover > a {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.sf-menu > ul > li.active-menu-item {
  background: #6f7272;
}
.sf-menu > ul > li.active-menu-item > a {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.sf-menu > ul > li.active-menu-item.sfHover > a, .sf-menu > ul > li.active-menu-item:hover > a {
  color: #fff;
}
.sf-menu > ul > li > a {
  font-family: "Montserrat", sans-serif;
  border-radius: 0;
  color: #fff;
  margin: 0;
  padding: 4px 0;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  font-size: 9.8px;
  font-size: 0.98rem;
}
@media (min-width: 767px) {
  .sf-menu > ul > li > a {
    font-size: 11.2px;
    font-size: 1.12rem;
  }
}
@media (min-width: 990px) {
  .sf-menu > ul > li > a {
    font-size: 13.3px;
    font-size: 1.33rem;
  }
}
@media (min-width: 1300px) {
  .sf-menu > ul > li > a {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
.sf-menu > ul > li > ul {
  background: #595b5b;
  min-width: 12em;
  /* allow long menu items to determine submenu width */
  padding: 0;
}
.sf-menu > ul > li > ul > li {
  margin: 0;
}
.sf-menu > ul > li > ul > li.sfHover, .sf-menu > ul > li > ul > li:hover {
  background-color: #383939;
}
.sf-menu > ul > li > ul > li.sfHover > a, .sf-menu > ul > li > ul > li:hover > a {
  display: block;
  color: #fff;
}
.sf-menu > ul > li > ul > li > a {
  margin: 0;
  padding: 10px;
  font-size: 13px;
  font-size: 1.3rem;
  color: #fff;
  border-bottom: 1px solid tint(#555678, 50%);
  text-transform: uppercase;
}
.sf-menu > ul > li > ul > li > ul {
  background: #595b5b;
  min-width: 12em;
}
.sf-menu > ul > li > ul > li > ul > li.sfHover, .sf-menu > ul > li > ul > li > ul > li:hover {
  background: #383939;
}
.sf-menu > ul > li > ul > li > ul > li.sfHover > a, .sf-menu > ul > li > ul > li > ul > li:hover > a {
  color: #fff;
}
.sf-menu > ul > li > ul > li > ul > li > a {
  font-size: 13px;
  font-size: 1.3rem;
  color: #fff;
}
.sf-menu > ul > li > ul > li > ul ul {
  display: none !important;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 20px;
}

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 6px;
  margin-top: 0;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #fff;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5);
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
  /* IE8 fallback colour */
}

styling for right-facing arrows .sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: 0;
  border-color: transparent;
  border-left-color: #fff;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5);
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white;
}

.sf-arrows ul ul .sf-with-ul:after,
.sf-arrows ul ul li > .sf-with-ul:focus:after,
.sf-arrows ul ul li:hover > .sf-with-ul:after,
.sf-arrows ul ul .sfHover > .sf-with-ul:after {
  border-color: transparent;
}

.sf-arrows ul .sf-with-ul:after {
  content: " ▸";
}

.open-panel {
  position: absolute;
  z-index: 100;
  top: 0.4em;
  left: 1em;
  padding: 0.4;
  margin: 16px 0 0;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  color: #000;
}
.open-panel:hover, .open-panel:focus {
  text-decoration: none;
}
.open-panel svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}
.open-panel svg path {
  fill: #000;
}
.open-panel span {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 740px) {
  .open-panel,
.close-panel,
.open-panel-wrap {
    display: none;
  }
}

/* Display nav items vertically */
.close-panel {
  position: relative;
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
}
.close-panel:hover, .close-panel:focus {
  color: shade(#fff, 20%);
  text-decoration: none;
}

/* Move nav off screen, setup transitions */
.mobile-nav {
  width: 85%;
  position: absolute;
  left: -85%;
  top: 0;
  margin-top: 0;
  height: 100%;
  display: block;
  text-align: left;
  background: #6F7272;
  padding: 0 20px;
}
@media (min-width: 740px) {
  .mobile-nav {
    display: none;
  }
}

.top {
  text-align: right;
  padding: 10px;
}

.openNav .open-panel {
  visibility: hidden;
}
.openNav .open-panel-wrap {
  opacity: 0.5;
}
.openNav .off-canvas-wrap {
  left: 0;
  -webkit-transform: translate3d(85%, 0, 0);
  -moz-transform: translate3d(85%, 0, 0);
  -ms-transform: translate3d(85%, 0, 0);
  -o-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  transition: transform 300ms ease;
}
.openNav .off-canvas-content-wrap {
  opacity: 0.6;
}

/* When the panel is closed, transition the page back to the left */
.off-canvas-wrap {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  transition: transform 200ms ease;
}

.off-canvas-content-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.off-canvas-content-wrap .l-footer {
  margin-top: auto;
}

.sf-menu {
  display: none;
}
@media (min-width: 740px) {
  .sf-menu {
    display: block;
  }
}

.mobile-nav > ul {
  background: none transparent;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.mobile-nav > ul ul {
  display: none;
  margin: 0;
  padding: 0;
}
.mobile-nav > ul li {
  display: block;
}
.mobile-nav > ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 10px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.1);
  border-top: 0px solid rgba(255, 255, 255, 0.3);
}
.mobile-nav > ul li li a {
  font-size: 18px;
  padding: 4px 10px 4px 30px;
}
.mobile-nav > ul li li li a {
  padding: 4px 10px 4px 60px;
}
.mobile-nav > ul li.has-child > a:after {
  content: "▶";
  display: block;
  float: right;
  color: rgba(255, 255, 255, 0.5);
  margin: 4px 0 0 0;
  font-size: 12px;
  font-family: sans-serif;
}
.mobile-nav > ul li.has-child.down > a:after {
  content: "▼";
}
.mobile-nav > ul li.has-child a.open-subs {
  color: tint(#fff, 85%);
}
.mobile-nav > ul li.prepended > a {
  font-weight: bold;
}

.mobile-nav .nav-append {
  padding: 30px 10px;
}
.mobile-nav .nav-append .lang {
  margin: 0 0 20px 0;
  display: block;
}

.search {
  position: relative;
  width: 200px;
}

input[type=search].search-input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 4px 20px 4px 6px;
  font-size: 16px;
  font-size: 1.6rem;
  border: 1px solid #fff;
  box-shadow: none;
}

.search-button {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  background-image: url(../img/search.png);
  background-image: url(../img/search.svg), none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  font: 0/0 a;
  color: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.search-button:hover {
  background-color: transparent;
}

.blog-post-images {
  float: right;
  margin: 0 0 2em 20px;
}

.post-wrap {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 4px dotted #6F7272;
}
.post-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.post-wrap h2 {
  margin-bottom: 0;
  text-transform: none;
}
.post-wrap.job-listings, .post-wrap.event {
  padding-left: 110px;
}

.post-dateline {
  font-size: 14px;
  font-size: 1.4rem;
}

.breadcrumb {
  margin: 0 0 2em 0;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.breadcrumb li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.breadcrumb li a {
  display: block;
  padding: 0px 10px;
  margin-bottom: 10px;
}
@media (min-width: 740px) {
  .breadcrumb li a {
    border-right: 1px solid #F68D2B;
  }
}
.breadcrumb li:last-child a {
  border-right: none;
}

.faq-section {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq-module {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 4px dotted #6F7272;
}

.expand {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 20px;
}
.expand span {
  flex: 1 1 100%;
}
.expand:hover span {
  text-decoration: underline;
}
.expand:before {
  font-size: 32px;
  color: #fff;
  background: #6F7272;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  content: "?";
}
.expand:after {
  display: inline;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.4);
  margin-left: 16px;
  background-image: none;
  flex: 0 0 auto;
  content: "";
  transition: transform 0.3s linear;
}
.expand.down:after {
  transform: rotate(90deg);
}

.answer {
  max-height: 0px;
  margin: 0 0 0 50px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.answer.show {
  padding: 20px;
  display: block;
  max-height: 500px;
  background: rgba(0, 0, 0, 0.05);
}

.icon-col:after, .video-play:after, .services li:before, .post-wrap.job-listings:before, .post-wrap.event:before, .resource:before, .icon-map:before {
  background: url(../img/icons.png) top left no-repeat;
  background: url(../img/icons.svg) top left no-repeat, none;
  background-size: 870px 454.61px;
}

.services li:before, .post-wrap.job-listings:before, .post-wrap.event:before, .resource:before, .icon-map:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}

.icon-col:after, .video-play:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.icon-map:before {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.icon-map {
  padding: 10px 20px 10px 15px;
}
.icon-map:before {
  background-position: -32px 0;
}

.icon-get-help {
  text-transform: uppercase;
  padding: 40px 15px 15px 15px;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 100;
  text-align: center;
  width: 200px;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 0 0 10px 10px;
}
.icon-get-help:before {
  vertical-align: middle;
}

.main-subpage_img {
  display: block;
}

ol.large-numbers {
  margin: 0;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
ol.large-numbers li {
  padding: 20px 0 20px 54px;
  min-height: 100px;
  border-bottom: 4px dotted #6F7272;
  position: relative;
}
ol.large-numbers li:before {
  width: 40px;
  height: 40px;
  margin: 0;
  background: #6F7272;
  color: #fff;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  font-weight: 900;
  content: "";
}
ol.large-numbers li:nth-child(1):before {
  content: "1";
}
ol.large-numbers li:nth-child(2):before {
  content: "2";
}
ol.large-numbers li:nth-child(3):before {
  content: "3";
}
ol.large-numbers li:nth-child(4):before {
  content: "4";
}
ol.large-numbers li:nth-child(5):before {
  content: "5";
}
ol.large-numbers li:nth-child(6):before {
  content: "6";
}
ol.large-numbers li:nth-child(7):before {
  content: "7";
}
ol.large-numbers li:nth-child(8):before {
  content: "8";
}
ol.large-numbers li:nth-child(9):before {
  content: "9";
}

.video-play {
  position: relative;
  display: block;
  border: 4px solid #A41F67;
  margin-bottom: 10px;
}
.video-play img {
  display: block;
}
.video-play:after {
  width: 162px;
  height: 162px;
  background-position: -694px -137px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -81px 0 0 -81px;
  opacity: 0.7;
  transition: all 0.5s;
}
.video-play:hover {
  border: 4px solid #F68D2B;
}
.video-play:hover:after {
  opacity: 1;
}

.icon-col {
  text-align: center;
}
.icon-col:after {
  width: 90px;
  height: 90px;
  display: block;
  margin: 1em auto;
}
@media (min-width: 740px) {
  .icon-col:after {
    position: absolute;
    top: 50%;
    left: 0;
    margin: -45px 0 0 2%;
  }
}
@media (min-width: 767px) {
  .icon-col:after {
    margin-left: 3%;
  }
}
@media (min-width: 990px) {
  .icon-col:after {
    margin-left: 4%;
  }
}
@media (min-width: 1300px) {
  .icon-col:after {
    margin-left: 5%;
  }
}
.icon-col.paci:after {
  background-position: 0 -147px;
}
.icon-col.house:after {
  background-position: -90px -147px;
}
.icon-col.mom:after {
  background-position: -181px -147px;
}
.icon-col.baby:after {
  background-position: -270px -147px;
}
.icon-col.bus:after {
  background-position: -360px -147px;
}
.icon-col.symbols:after {
  background-position: -450px -147px;
}
.icon-col.bottle:after {
  background-position: -541px -147px;
}
.icon-col.medicine:after {
  background-position: 0 -237px;
}
.icon-col.justice:after {
  background-position: -90px -237px;
}
.icon-col.table:after {
  background-position: -180px -237px;
}
.icon-col.security:after {
  background-position: -270px -237px;
}

.resource {
  text-decoration: none;
  background-color: tint(#F68D2B, 80%);
  display: block;
  border-radius: 10px;
  min-height: 90px;
  display: table;
  width: 100%;
  transition: all 0.5s;
}
.resource:before {
  width: 90px;
  height: 90px;
  background-color: #F68D2B;
  border-radius: 10px 0 0 10px;
  display: table-cell;
  vertical-align: middle;
}
.resource.ed:before {
  background-position: 0 -328px;
}
.resource.money:before {
  background-position: -90px -328px;
}
.resource.clipboard:before {
  background-position: -180px -328px;
}
.resource.bubble:before {
  background-position: -270px -328px;
}
.resource.ident:before {
  background-position: -360px -328px;
}
.resource.pdf:before {
  background-position: -450px -328px;
}
.resource:hover {
  background-color: tint(#F68D2B, 70%);
}
.resource span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.post-wrap {
  position: relative;
}
.post-wrap.job-listings:before, .post-wrap.event:before {
  width: 94px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -62px 0 0 0;
  background-position: -545px -329px;
}
.post-wrap.event:before {
  background-position: -661px -330px;
  width: 82px;
  height: 83px;
}

.services {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}
.services li {
  padding: 5px 0;
  font-size: 16px;
  font-size: 1.6rem;
  clear: both;
}
.services li:before {
  width: 32px;
  height: 32px;
  float: left;
  margin: -4px 10px 0 0;
}
.services li.res:before {
  background-position: 0 -423px;
}
.services li.out:before {
  background-position: -32px -423px;
}
.services li.es:before {
  background-position: -64px -423px;
}
.services li.medicaid:before {
  background-position: -96px -423px;
}
.services li.childcare:before {
  background-position: -128px -423px;
}
.services li.transportation:before {
  background-position: -160px -423px;
}
.services li.women-only:before {
  background-position: -192px -423px;
}
.services li.detox:before {
  background-position: -224px -423px;
}
.services li.deaf:before {
  background-position: -256px -423px;
}
.services li.women-cm:before {
  background-position: -288px -423px;
}
.services li.pregnant:before {
  background-position: -320px -423px;
}
.services li.mother-child:before {
  background-position: -352px -423px;
}
.services li.special:before {
  background-position: -384px -423px;
}
.services li.meth:before {
  background-position: -416px -423px;
}
.services li.sliding:before {
  background-position: -448px -423px;
}
.services li.cm:before {
  background-position: -480px -423px;
}
.services li.sub:before {
  background-position: -512px -423px;
}
.services li.lgbt:before {
  background-position: -544px -423px;
}
.services li.co-treatment:before {
  background-position: -576px -423px;
}
.services li.parenting:before {
  background-position: -608px -423px;
}
.services li.medicaid:before {
  background-position: -640px -423px;
}
.services li.mtc:before {
  background-position: -672px -423px;
}
.services li.connections:before {
  background-position: -704px -423px;
}

#map-content h3 {
  margin: 0;
}
#map-content h5 {
  margin: 0;
}
#map-content h6 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #6F7272;
  margin: 0.5em 0 0 0;
}

#map-content > div {
  display: none;
}
#map-content > div.active {
  display: block;
}

.services.checkbox-list {
  display: flex;
  flex-wrap: wrap;
}

.services.checkbox-list li {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 4px 10px;
  margin: 0 6px 6px 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.3);
}

.services.checkbox-list li input {
  margin-right: 4px;
}

.flex-container {
  display: flex;
  margin-bottom: 20px;
}

.map-child {
  width: 260px;
  flex: 0 0 auto;
  margin-right: 30px;
}

.interactive-map path {
  cursor: pointer;
}
.interactive-map path:hover {
  fill: #555;
  z-index: 2;
  cursor: pointer;
}
.interactive-map path.active, .interactive-map path.active:hover {
  cursor: pointer;
  fill: #831952;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../img/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../img/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../img/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../img/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.thumbnails,
.gallery {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.thumbnails li,
.gallery li {
  display: inline-block;
  margin: 0 20px;
}
.thumbnails li a,
.gallery li a {
  display: block;
  opacity: 0.8;
}
.thumbnails li a:hover,
.gallery li a:hover {
  opacity: 1;
}
